<template>
  <q-toolbar>
    <q-toolbar-title @click="launch('http://experience-p2e.org')" style="cursor:pointer;">
      Expérience P2E
    </q-toolbar-title>
    &copy; 2015-{{ new Date().getFullYear() }} Experience P2E
  </q-toolbar>
</template>

<script>
export default {
  data () {
    return {}
  }
}
</script>

<style>
</style>
