<template>
  <div class="col-12" :style="'height:'+height+';width:'+width">
    <div>
      <div v-if="!hideControls" class="row q-mb-sm">
        <div class="col-6 q-mb-sm row items-center">
          <q-checkbox v-model="mapView.displayedLeads.unassigned" />
          <img class="q-mx-md" :src="getMarkerImage('default')" />
          Non assignée
        </div>
        <div class="col-6 q-mb-sm row items-center">
          <div class="col-4">Demande créée après le :</div>
          <q-datetime
            inverted
            color="primary"
            class="col-8"
            v-model="mapView.dates.min"
            :max="mapView.dates.max"
            format="dddd DD MMMM YYYY"
            type="date"
          />
        </div>
        <div class="col-6 q-mb-sm row items-center">
          <q-checkbox v-model="mapView.displayedLeads.assigned" />
          <img class="q-mx-md" :src="getMarkerImage('orange')" />
          Assignée (sans plan de rénovation)
        </div>
        <div class="col-6 q-mb-sm row items-center">
          <div class="col-4">Demande créée avant le :</div>
          <q-datetime
            inverted
            color="primary"
            class="col-8"
            v-model="mapView.dates.max"
            :min="mapView.dates.min"
            format="dddd DD MMMM YYYY"
            type="date"
          />
        </div>
        <div class="col-6 q-mb-sm row items-center">
          <q-checkbox v-model="mapView.displayedLeads.passported" />
          <img class="q-mx-md" :src="getMarkerImage('red')" />
          Assignée (avec plan de rénovation)
        </div>
        <div v-if="$api.granted(['Auditor'])" class="col-6 row items-center">
          <div class="col-md-2 col-xs-12">Distance :</div>
          <div class="col-md-10 col-xs-12">
            <q-slider
              v-model="mapView.maxFlyingDistance"
              :min="mapView.appMinFlyingDistance"
              :max="mapView.appMaxFlyingDistance"
              label-always
              label
              :label-value="`${mapView.maxFlyingDistance}km`"
            />
          </div>
        </div>
      </div>
      <div v-if="showLegend" class="row q-mb-sm">
        <div class="col-4 q-mb-sm row items-center">
          <img class="q-mx-md" :src="getMarkerImage('default')" />
          Non assignée
        </div>
        <div class="col-4 q-mb-sm row items-center">
          <img class="q-mx-md" :src="getMarkerImage('orange')" />
          Assignée (sans plan de rénovation)
        </div>
        <div class="col-4 q-mb-sm row items-center">
          <img class="q-mx-md" :src="getMarkerImage('red')" />
          Assignée (avec plan de rénovation)
        </div>
      </div>
    </div>
    <div class="fit row">
      <v-map data-cy="leaflet-map" ref="map" :bounds="mapBounds">
        <v-tilelayer :url="mapView.url" attribution />
        <v-marker
          v-for="lead in filteredLeads"
          :key="'marker-lead-'+lead.id"
          :lat-lng="getMarker(lead.address)"
          :icon="getMarkerIcon(lead)"
          @click="displayLead(lead)"
          :data-cy="'marker-lead-'+lead.id"
        />
      </v-map>
      <q-modal v-if="!blockModal" ref="leadModal" v-model="mapView.leadModalOpen" @hide="leadModalClose">
        <div :data-cy="'modal-lead-'+mapView.displayedLead.id" v-if="mapView.displayedLead" class="row q-pa-sm">
          <div class="col-12">
            <p>Demande créée le {{getDateString(mapView.displayedLead.creationDate)}}</p>
            <hr />
            <p>
              Assignée : {{mapView.displayedLead.assigned? "Oui" : "Non"}}
              <br />
              Demandeur : {{mapView.displayedLead.owner.firstname}} {{mapView.displayedLead.owner.lastname}}
              <br />
              Adresse : {{mapView.displayedLead.address.address}}, {{mapView.displayedLead.address.zipcode}}, {{mapView.displayedLead.address.city}}
            </p>
          </div>
          <div class="row col-12 justify-end">
            <q-btn
              color="secondary"
              v-if="!mapView.displayedLead.assigned && $api.logged().profiles.includes('Auditor') "
              class="col-6"
              @click="emitAssign(mapView.displayedLead)"
              label="M'assigner cette demande"
              data-cy="modal-assign-lead-btn"
            />
            <q-btn color="primary" class="offset-1 col-5" @click="mapView.leadModalOpen = false" data-cy="modal-close-lead-btn" label="Fermer" />
          </div>
        </div>
      </q-modal>
    </div>
  </div>
</template>

<script>
import Vue2Leaflet from 'vue2-leaflet'
import L from 'leaflet'

import markerIconImg from 'leaflet/dist/images/marker-icon.png'
import orangeMarkerIconImg from '../../assets/orange-marker-icon.png'
import redMarkerIconImg from '../../assets/red-marker-icon.png'
import markerShadowImg from 'leaflet/dist/images/marker-shadow.png'

export default {
  props: {
    height: {
      type: String,
      default () {
        return '70vh'
      }
    },
    width: {
      type: String,
      default () {
        return '100%'
      }
    },
    leads: {
      type: Array,
      default () {
        return []
      }
    },
    currentUser: {
      type: Object,
      default () {
        return undefined
      }
    },
    hideControls: {
      type: Boolean,
      default () {
        return false
      }
    },
    showLegend: {
      type: Boolean,
      default () {
        return false
      }
    },
    blockModal: {
      type: Boolean,
      default () {
        return false
      }
    }
  },
  components: {
    'v-map': Vue2Leaflet.LMap,
    'v-tilelayer': Vue2Leaflet.LTileLayer,
    'v-marker': Vue2Leaflet.LMarker
  },
  data () {
    return {
      mapView: {
        url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        leadModalOpen: false,
        displayedLead: undefined,
        maxFlyingDistance: 10,
        appMinFlyingDistance: 0,
        appMaxFlyingDistance: 10,
        lastValidBounds: undefined,
        displayedLeads: {
          unassigned: true,
          assigned: true,
          passported: true
        },
        dates: {
          min: this.minLeadDate,
          max: this.maxLeadDate
        }
      }
    }
  },
  computed: {
    minLeadDate () {
      return this.leads.length ? new Date(this.leads.reduce(function (a, b) { return a.creationDate < b.creationDate ? a : b }).creationDate) : undefined
    },
    maxLeadDate () {
      return this.leads.length ? new Date(this.leads.reduce(function (a, b) { return a.creationDate > b.creationDate ? a : b }).creationDate) : undefined
    },
    mapBounds () {
      if (this.leads.length > 0) {
        let bounds = [
          [Math.min(...this.leads.map(lead => lead.address.latitude)), Math.min(...this.leads.map(lead => lead.address.longitude))],
          [Math.max(...this.leads.map(lead => lead.address.latitude)), Math.max(...this.leads.map(lead => lead.address.longitude))]
        ]
        this.setLastValidBounds(bounds)
        return bounds
      } else {
        return this.mapView.lastValidBounds
      }
    },
    filteredLeads () {
      return this.leads.filter(lead => {
        return this.$api.granted(['Auditor']) ? this.squaredDistanceFromLead(lead) <= Math.pow(this.mapView.maxFlyingDistance, 2) : true
      }).filter(lead => {
        return !this.mapView.displayedLeads.unassigned ? lead.assigned : true
      }).filter(lead => {
        return !this.mapView.displayedLeads.assigned ? !lead.assigned || (lead.passport && lead.passport.renovationPlans.length) : true
      }).filter(lead => {
        return !this.mapView.displayedLeads.passported ? !lead.assigned || !(lead.passport && lead.passport.renovationPlans.length) : true
      }).filter(lead => {
        let leadCreation = new Date(lead.creationDate)
        let maxDate = new Date((new Date(this.mapView.dates.max)).setHours(0, 0, 0, 0))
        maxDate = maxDate.setDate(maxDate.getDate() + 1) // add one day because the date is at midnight, begining of the day
        return leadCreation >= this.mapView.dates.min && leadCreation <= maxDate
      })
    }
  },
  watch: {
    leads: function (oldVal, newVal) {
      this.computeLeadDates()
    }
  },
  created () {
    this.computeLeadDates()
    this.fetchAppMaxFlyinDistances().then(response => {
      if (response) {
        this.mapView.appMinFlyingDistance = parseInt(response.body.min)
        this.mapView.appMaxFlyingDistance = parseInt(response.body.max)
        this.mapView.maxFlyingDistance = this.mapView.appMaxFlyingDistance
      }
    })
  },
  methods: {
    fetchAppMaxFlyinDistances () {
      return this.$api.granted(['Auditor']) ? this.$api.get('app/maxFlyingDistances') : Promise.resolve(undefined)
    },
    computeLeadDates () {
      this.mapView.dates.min = this.minLeadDate
      this.mapView.dates.max = this.maxLeadDate
    },
    emitAssign (lead) {
      this.$refs.leadModal.hide()
      this.$emit('lead-assign-clicked', lead)
    },
    getMarkerImage (color) {
      switch (color) {
        case 'orange':
          return orangeMarkerIconImg
        case 'red':
          return redMarkerIconImg
        default:
          return markerIconImg
      }
    },
    getMarkerIcon (lead) {
      return L.icon({
        iconUrl: lead.assigned ? lead.passport && lead.passport.renovationPlans.length ? this.getMarkerImage('red') : this.getMarkerImage('orange') : this.getMarkerImage('default'),
        shadowUrl: markerShadowImg,
        iconSize: [25, 41],
        iconAnchor: [13, 41]
      })
    },
    getMarker (address) {
      return L.latLng(address.latitude, address.longitude)
    },
    getDateString (stringDate) {
      let date = new Date(stringDate)
      return ('0' + date.getDate()).slice(-2) + '/' +
             ('0' + (date.getMonth() + 1)).slice(-2) + '/' +
             date.getFullYear()
    },
    setMinDateFilter (date) {
      this.mapView.dates.min = date
    },
    setMaxDateFilter (date) {
      this.mapView.dates.max = date
    },
    setAppMinFlyingDistance (distance) {
      this.mapView.appMinFlyingDistance = distance
    },
    setAppMaxFlyingDistance (distance) {
      this.mapView.appMaxFlyingDistance = distance
      this.mapView.maxFlyingDistance = distance
    },
    setLastValidBounds (bounds) {
      this.mapView.lastValidBounds = bounds
    },
    leadModalClose () {
      this.mapView.displayedLead = undefined
    },
    displayLead (lead) {
      this.mapView.displayedLead = lead
      this.mapView.leadModalOpen = true
    },
    squaredDistanceFromLead (lead) {
      return Math.pow(this.currentUser.address.legalX / 1000 - lead.address.legalX / 1000, 2) + Math.pow(this.currentUser.address.legalY / 1000 - lead.address.legalY / 1000, 2)
    }
  }
}
</script>

<style>
@import "~leaflet/dist/leaflet.css";
</style>
