<template>
  <div>
    <q-option-group type="radio" :options="radioOptions" v-model="selected" />
    <q-input type="text" v-if="selected === 'other'" v-model="alt" :float-label="otherLabel" />
  </div>
</template>

<script>

export default {
  name: 'input-address',
  props: {
    value: {},
    options: { default: [] },
    placeholder: { default: '' },
    other: { default: 'Other' },
    otherLabel: { default: '' }
  },
  data () {
    return {
      selected: null,
      prevent: false,
      alt: ''
    }
  },
  computed: {
    radioOptions () {
      return this.options.map((opt, i) => {
        return (opt instanceof Object) ? { label: opt.label, value: i } : { label: opt, value: i }
      }).concat([{ label: this.other, value: 'other' }])
    }
  },
  watch: {
    value (newVal) {
      if (this.prevent) {
        this.prevent = false
        return
      }
      if (newVal === null) {
        this.selected = null
        return
      }
      for (let i = 0; i < this.options.length; i++) {
        let val = (this.options[i] instanceof Object) ? this.options[i].value : this.options[i]
        if (newVal === val) {
          this.selected = i
          return
        }
      }
      this.selected = 'other'
      this.alt = newVal
    },
    selected (newVal) {
      this.prevent = true
      if (newVal === 'other') {
        this.copy =
            this.$emit('input', this.alt)
      } else if (newVal === null) {
        this.$emit('input', null)
      } else {
        this.$emit('input', (this.options[newVal] instanceof Object) ? this.options[newVal].value : this.options[newVal])
      }
      this.$emit('change')
    },
    alt (newVal) {
      if (this.selected === 'other') {
        this.prevent = true
        this.$emit('input', newVal)
        this.$emit('change')
      }
    }
  }
}
</script>

<style scoped>
</style>
