<template>
  <div v-bind:style="styleObject"></div>
</template>

<script>
import PDFObject from 'pdfobject'
export default {
  props: {
    height: {
      type: String,
      default: '100%'
    },
    width: {
      type: String,
      default: '100%'
    },
    url: {
      type: String,
      default: ''
    }
  },
  mounted: function () {
    PDFObject.embed(this.url, this.$el)
  },
  data () {
    return {
      styleObject: {
        height: this.height,
        width: this.width
      }
    }
  },
  watch: {
    url: function (val) {
      var vm = this
      PDFObject.embed(val, vm.$el)
    }
  }
}
</script>

<style>
</style>
