<template>
  <!-- if you want automatic padding use "layout-padding" class -->
  <div class="layout-padding">
    <q-table :selected-rows-label="selectedRowsLabel" :pagination-label="paginationLabel" row-key="id" rows-per-page-label="Résultats par pages" no-data-label="Aucune combinatoire" no-results-label="Aucun résultat" :rows-per-page-options="rowsPerPageOptions" :columns="columns" @request="refresh" :filter="filter" :pagination.sync="pagination" :data="combinatories" :loading="loading" :visible-columns="visibleColumns">
      <template slot="top-left" slot-scope="props">
        <q-search v-model="filter" placeholder="Rechercher" float-label="Chercher une combinatoire" />
      </template>
      <q-td slot="body-cell-action" slot-scope="props" :props="props">
        <q-btn round color="primary" small icon="edit" @click="edit(props.row)" v-if="$api.granted('Admin')">
          <q-tooltip>Modifier les informations</q-tooltip>
        </q-btn>
      </q-td>
    </q-table>

    <q-modal v-model="openEditModal" no-backdrop-dismiss no-esc-dismiss :content-css="{minWidth: '80vw'}">
      <div v-if="!!combinatory">
        <q-card>
          <span class="label block-header">Combinatoire</span>
          <div class="row form-block">
            <q-field class="offset-1 col-xs-2" :error="!!errors.get('number')" :error-label="errors.get('number')">
              <q-input type="text" v-model="combinatory.number" float-label="N°" @change="errors.unset('number')" :disabled="combinatory.protected" />
            </q-field>
            <q-field class="offset-1 col-xs-3" :error="!!errors.get('code')" :error-label="errors.get('code')">
              <q-input type="text" v-model="combinatory.code" float-label="Code" @change="errors.unset('code')" :disabled="combinatory.protected" />
            </q-field>
            <q-field class="offset-1 col-xs-3" :error="!!errors.get('level')" :error-label="errors.get('level')">
              <q-input type="text" v-model="combinatory.level" float-label="Niveau" @change="errors.unset('level')" :disabled="combinatory.protected" />
            </q-field>
            <q-field class="offset-1 col-sm-2 col-xs-10" :error="!!errors.get('zone')" :error-label="errors.get('zone')">
              <q-select :options="$selectOptions(Enum.zone)" v-model="combinatory.zone" float-label="Zone climatique" @change="errors.unset('zone')" :disabled="combinatory.protected" />
            </q-field>
            <q-field class="offset-1 col-sm-3 col-xs-10" :error="!!errors.get('insulation')" :error-label="errors.get('insulation')">
              <q-select :options="$selectOptions(Enum.insulation)" v-model="combinatory.insulation" float-label="Type d'isolation" @change="errors.unset('insulation')" :disabled="combinatory.protected" />
            </q-field>
            <q-field class="offset-1 col-sm-3 col-xs-10" :error="!!errors.get('airtightness')" :error-label="errors.get('airtightness')">
              <q-select :options="$selectOptions(Enum.airtightness)" v-model="combinatory.airtightness" float-label="Étanchéité à l'air" @change="errors.unset('airtightness')" :disabled="combinatory.protected" />
            </q-field>
            <q-field class="offset-1 col-sm-4 col-xs-10" :error="!!errors.get('ventilation')" :error-label="errors.get('ventilation')">
              <select-object float-label="Ventilation" :options="ventilations" v-model="combinatory.ventilation" @change="errors.unset('ventilation')" :disabled="combinatory.protected" />
            </q-field>
            <q-field class="offset-sm-2 offset-xs-1 col-sm-4 col-xs-10" :error="!!errors.get('heating')" :error-label="errors.get('heating')">
              <select-object float-label="Chauffage" :options="heatings.filter(h => h.available)" v-model="combinatory.heating" @change="errors.unset('heating')" :disabled="combinatory.protected" />
            </q-field>
          </div>

          <span class="label block-header">Murs</span>
          <div class="row form-block">
            <q-field class="offset-1 col-md-3 col-xs-5" :error="errors.has('wallsValue')" :error-label="errors.get('wallsValue')">
              <q-input type="text" v-model="combinatory.wallsValue" float-label="Résistance" suffix="m².K/W" @change="errors.unset('wallsValue')" />
            </q-field>
            <q-field class="offset-1 col-md-6 col-xs-10" :error="errors.has('wallsPriceRange')" :error-label="errors.get('wallsPriceRange')">
              <q-input-price-range v-model="combinatory.wallsPriceRange" @change="errors.unset('wallsPriceRange')" />
            </q-field>
          </div>

          <span class="label block-header">Ouvrants</span>
          <div class="row form-block">
            <q-field class="offset-1 col-md-3 col-xs-5" :error="!!errors.get('ventsValue')" :error-label="errors.get('ventsValue')">
              <q-input type="text" v-model="combinatory.ventsValue" float-label="Conductance" suffix="W/m².K" @change="errors.unset('ventsValue')" />
            </q-field>
            <q-field class="offset-1 col-md-6 col-xs-10" :error="!!errors.get('ventsPriceRange')" :error-label="errors.get('ventsPriceRange')">
              <q-input-price-range v-model="combinatory.ventsPriceRange" @change="errors.unset('ventsPriceRange')" />
            </q-field>
          </div>

          <span class="label block-header">Plancher</span>
          <div class="row form-block">
            <q-field class="offset-1 col-md-3 col-xs-5" :error="!!errors.get('floorValue')" :error-label="errors.get('floorValue')">
              <q-input type="text" v-model="combinatory.floorValue" float-label="Résistance" suffix="W/m².K" @change="errors.unset('floorValue')" />
            </q-field>
            <q-field class="offset-1 col-md-6 col-xs-10" :error="!!errors.get('floorPriceRange')" :error-label="errors.get('floorPriceRange')">
              <q-input-price-range type="text" v-model="combinatory.floorPriceRange" @change="errors.unset('floorPriceRange')" />
            </q-field>
          </div>

          <span class="label block-header">Toiture</span>
          <div class="row form-block">
            <q-field class="offset-1 col-md-3 col-xs-5" :error="!!errors.get('roofValue')" :error-label="errors.get('roofValue')">
              <q-input type="text" v-model="combinatory.roofValue" float-label="Résistance" suffix="W/m².K" @change="errors.unset('roofValue')" />
            </q-field>
            <q-field class="offset-1 col-md-6 col-xs-10" :error="!!errors.get('roofPriceRange')" :error-label="errors.get('roofPriceRange')">
              <q-input-price-range type="text" v-model="combinatory.roofPriceRange" @change="errors.unset('roofPriceRange')" />
            </q-field>
          </div>
          <div class="col-12 no-wrap row justify-around form-block">
            <q-btn @click="combinatory = null">Annuler</q-btn>
            <q-btn color="primary" @click="save(combinatory)">Enregistrer</q-btn>
          </div>
        </q-card>
      </div>
    </q-modal>
  </div>
</template>

<script>
import QInputPriceRange from '../generics/InputPriceRange'
import RecursiveArray from '../../utils/RecursiveArray'
import SelectObject from '../generics/SelectObject'
import WallEnum from '../../enums/improvement/WallEnum'
import AirtightnessEnum from '../../enums/improvement/AirtightnessEnum'
import ZoneEnum from '../../enums/ZoneEnum'

export default {
  components: {
    QInputPriceRange,
    SelectObject
  },
  data () {
    return {
      combinatories: [],
      heatings: [],
      ventilations: {},
      combinatory: null,
      errors: new RecursiveArray(),
      columns: [
        { label: 'Libellé', name: 'label', field: 'label', style: 'width: 120px', sortable: true },
        { label: 'Zone climatique', name: 'zone', field: 'zone', style: 'width: 80px', sortable: false },
        { label: 'Isolation murs', format: val => this.Enum.insulation[val], name: 'insulation', field: 'insulation', style: 'width: 80px', sortable: false },
        { label: 'Etanchéité air', format: val => this.Enum.airtightness[val], name: 'airtightness', field: 'airtightness', style: 'width: 80px', sortable: false },
        { label: 'Type de ventilation', format: val => val ? this.getVentilationLabel(val) : null, name: 'ventilation', field: 'ventilation', style: 'width: 80px', sortable: false },
        { label: 'Type de chauffage', format: val => val ? this.getHeatingLabel(val) : null, name: 'heating', field: 'heating', style: 'width: 150px', sortable: false },
        { label: 'Éditer', name: 'action', field: 'action', style: 'width: 70px' }
      ],
      filter: '',
      visibleColumns: ['label', 'zone', 'insulation', 'airtightness', 'ventilation', 'heating', 'action'],
      loading: false,
      pagination: {
        page: 1,
        rowsPerPage: 20
      },
      rowsPerPageOptions: [10, 20, 30, 50],
      Enum: {
        insulation: WallEnum.insulationType,
        ...AirtightnessEnum,
        ...ZoneEnum
      }
    }
  },
  computed: {
    openEditModal () {
      return this.combinatory !== null
    }
  },
  methods: {
    selectedRowsLabel (rowsNumber) {
      if (rowsNumber === 1) {
        return rowsNumber + ' ligne sélectionnée'
      } else if (rowsNumber > 1) {
        return rowsNumber + ' lignes sélectionnées'
      } else {
        return ''
      }
    },
    paginationLabel (start, end, total) {
      return 'Résultats ' + start + ' à ' + end + ' sur ' + total
    },
    getVentilationLabel (vent) {
      return this.ventilations[vent.id] ? this.ventilations[vent.id].label : null
    },
    getHeatingLabel (heat) {
      return this.heatings[heat.id] ? this.heatings[heat.id].label : null
    },
    load () {
      this.$api.heatings.find({ params: { perpage: 100 } })
        .then(data => {
          this.heatings = []
          for (let i = 0; i < data.heatings.length; i++) {
            this.heatings[data.heatings[i].id] = data.heatings[i]
          }
        })
      this.$api.ventilations.find({ params: { perpage: 100 } })
        .then(data => {
          this.ventilations = {}
          for (let i = 0; i < data.ventilations.length; i++) {
            this.ventilations[data.ventilations[i].id] = data.ventilations[i]
          }
        })

      this.refresh()
    },
    refresh () {
      this.loading = true
      this.$api.combinatories.find({
        params: {
          perpage: 10000
        }
      })
        .then(data => {
          this.combinatories = data.combinatories.map(c => Object.assign({}, c, { label: this.label(c) }))
        })
        .catch(response => {
          if (response.code === 403) {
            // TODO: Oops, you've been disconnected => href="/login"
          }
        })
        .finally(() => {
          this.loading = false
        })
    },
    label (combinatory) {
      let label = combinatory.level
      if (combinatory.code) label = combinatory.code + ' - ' + label
      if (combinatory.number) label = label + ' (' + combinatory.number + ')'
      return label
    },
    edit (combinatory) {
      this.combinatory = Object.assign({}, combinatory)
    },
    cancel () {
      this.combinatory = null
    },
    save (combinatory) {
      let request = combinatory.id
        ? this.$api.combinatories.update(combinatory.id, combinatory)
        : this.$api.combinatories.create(combinatory)
      request
        .then(data => {
          this.errors.reset()
          this.combinatory = null
          this.$notifier.ok('La combinatoire a bien été enregistrée')
          this.refresh()
        })
        .catch(data => {
          this.errors.update(data.errors)
        })
    }
  },
  beforeMount () {
    this.load()
  }
}
</script>

<style>
.block-header {
  text-decoration: underline;
  margin-left: 5px;
}

.form-block {
  padding-bottom: 16px;
}
</style>
