<template>
  <div class="layout-padding row justify-center" v-if="!loading">
    <div class="row justify-center col-10 items-start">
      <div class="row col-12 col-md-12 col-xs-12" group>
        <q-field class="offset-sm-1 col-sm-5 col-xs-10" :error="!!errors.get('address')" :error-label="errors.get('address')">
          <input-address data-cy="lead-address" v-model="lead.address" float-label="Adresse" @change="errors.unset('address')"/>
        </q-field>

        <q-field class="offset-sm-1 col-sm-5 col-xs-10" :error="!!errors.get('leadOrigin')" :error-label="errors.get('leadOrigin')">
          <p class="caption">Comment avez-vous découvert P2E ?</p>
          <input-radios
            data-cy="lead-origin"
            v-model="lead.leadOrigin"
            other="Autre"
            otherLabel="Si &quot;Autre&quot;, préciser"
            :options="Enum.originOptions"
            @change="errors.unset('leadOrigin')"
          />
        </q-field>

        <q-field class="offset-sm-1 col-sm-10 col-xs-10" :error="!!errors.get('legals1')" :error-label="errors.get('legals1')">
          <q-checkbox
            data-cy="lead-legals1"
            v-model="lead.legals1"
            @change="errors.unset('legals1')"
            label="Je reconnais avoir pris connaissance du règlement de l’inscription à l'expérimentation du P2E et accepte ses conditions"
          />
        </q-field>

        <q-field class="offset-sm-1 col-sm-10 col-xs-10" :error="!!errors.get('legals2')" :error-label="errors.get('legals2')">
          <q-checkbox
            data-cy="lead-legals2"
            v-model="lead.legals2"
            @change="errors.unset('legals2')"
            label="Je certifie sur l'honneur être propriétaire d'une résidence principale de type maison individuelle, construite avant 1990"
          />
        </q-field>

        <q-field class="offset-sm-1 col-sm-10 col-xs-10" :error="!!errors.get('comments')" :error-label="errors.get('comments')">
          <q-input data-cy="lead-comments" type="textarea" v-model="lead.comments" float-label="Commentaires" @change="errors.unset('comments')"/>
        </q-field>

        <div class="col-11 no-wrap q-mt-md row justify-around saveBar">
          <q-btn v-if="$api.granted(['Admin','Auditor','User'])" data-cy="lead-btn-submit" color="primary" @click="save">
            <span v-if="!lead.id">Créer la demande</span>
            <span v-if="lead.id">Enregistrer la demande</span>
            <q-inner-loading :visible="saving">
              <q-spinner-dots size="50px" color="primary"></q-spinner-dots>
            </q-inner-loading>
          </q-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RecursiveArray from '../../utils/RecursiveArray'
import InputAddress from '../generics/InputAddress'
import InputRadios from '../generics/InputRadios'
import LeadEnum from '../../enums/LeadEnum'

export default {
  components: {
    InputAddress,
    InputRadios
  },
  data () {
    return {
      saving: false,
      lead: {
        legals1: false,
        legals2: false
      },
      errors: new RecursiveArray(),
      loading: true,
      Enum: LeadEnum
    }
  },
  methods: {
    load () {
      if (this.$route.query.lead) {
        this.$api.leads
          .get(this.$route.query.lead)
          .then(data => {
            this.lead = data.lead
            this.loading = false
          })
          .catch(response => {
            // TODO: handle error (reload button?)
          })
      } else {
        this.loading = false
      }
    },
    save () {
      this.saving = true
      if (this.lead.id) {
        this.$api.leads.update(this.lead.id, this.lead).then(data => {
          this.errors.reset()
          this.lead = data.lead
          this.$notifier.ok('Votre demande a bien été enregistrée')
        }).catch(data => {
          this.errors.update(data.errors)
        }).finally(() => {
          this.saving = false
        })
      } else {
        this.$api.leads.create(Object.assign({}, this.lead, { linkToLead: this.$rootUrl + '/admin/lead?lead={leadId}' })).then(data => {
          this.errors.reset()
          this.lead = data.lead
          this.$router.replace('/admin/lead?lead=' + this.lead.id)
          this.$notifier.ok('Votre demande a bien été enregistrée')
        }).catch(data => {
          this.errors.update(data.errors)
        }).finally(() => {
          this.saving = false
        })
      }
    }
  },
  beforeMount () {
    this.load()
  }
}
</script>

<style>
</style>
