<template>
  <div class="layout-padding">
    <div class="q-mb-md diwplay-switcher">
      <q-btn-group>
        <q-btn data-cy="leads-list-view" icon="view_list" label="Liste" @click="viewMode = 'list'" />
        <q-btn data-cy="leads-map-view" icon="map" label="Carte" @click="viewMode = 'map'" />
      </q-btn-group>
    </div>
    <div v-if="viewMode === 'list'" class="leads-table">
      <q-table
        :selected-rows-label="selectedRowsLabel"
        :pagination-label="paginationLabel"
        rows-per-page-label="Résultats par pages"
        no-data-label="Aucune inscription"
        no-results-label="Aucun résultat"
        row-key="id"
        selection="multiple"
        :selected.sync="selectedRows"
        :data="leads"
        :columns="columns"
        :pagination.sync="pagination"
        :filter="filter"
        :visible-columns="visibleColumns"
      >
        <template slot="top-left" slot-scope="props">
          <q-search data-cy="leads-search" placeholder="Rechercher" v-model="filter" float-label="Chercher une inscription" />
        </template>
        <template slot="top-right" slot-scope="props">
          <q-btn v-if="selectedRows.length>0" @click="batchInvite" color="primary" class="q-mr-sm">
            <i>réinviter</i>
          </q-btn>
        </template>
        <q-td slot="body-cell-assigned" slot-scope="props">
          <q-icon v-if="props.row.assigned" name="done" size="24px" />
        </q-td>

        <!-- Custom renderer for "action" column with button for custom action -->
        <q-td :data-cy="'leads-lead-id-'+props.row.id" slot="body-cell-action" slot-scope="props">
          <q-btn
            class="q-ml-xs"
            round
            color="primary"
            small
            icon="edit"
            @click="$router.push('/admin/lead?lead=' + props.row.id)"
            :disabled="props.row.passport"
          >
            <q-tooltip>Éditer la demande</q-tooltip>
          </q-btn>
          <q-btn
            class="q-ml-xs"
            round
            color="primary"
            small
            icon="home"
            tooltip="Page passeport"
            @click="$router.push('/admin/passport?passport=' + props.row.passport.id)"
            v-if="props.row.passport"
          >
            <q-tooltip>Fiche passeport</q-tooltip>
          </q-btn>
          <q-btn
            :data-cy="'leads-lead-create-passport-id-'+props.row.id"
            class="q-ml-xs"
            round
            color="primary"
            small
            icon="home"
            tooltip="Page passeport"
            @click="$router.push('/admin/passport?lead=' + props.row.id)"
            v-else-if="$api.granted(['Admin','Auditor']) && props.row.assigned"
          >
            <q-tooltip>Créer la fiche passeport</q-tooltip>
          </q-btn>
          <q-btn
            :data-cy="'leads-lead-assign-id-'+props.row.id"
            class="q-ml-xs"
            round
            color="primary"
            small
            icon="flight takeoff"
            v-if="$api.granted('Auditor') && !props.row.assigned"
            @click="assign(props.row)"
          >
            <q-tooltip>Je m'assigne le dossier</q-tooltip>
          </q-btn>
          <q-btn
            class="q-ml-xs"
            round
            color="warning"
            small
            icon="flight land"
            v-if="$api.granted(['Admin','Auditor']) && !props.row.passport && props.row.assigned"
            @click="unassign(props.row)"
          >
            <q-tooltip>Libérer le dossier</q-tooltip>
          </q-btn>
        </q-td>
      </q-table>
    </div>
    <div v-if="viewMode === 'map'" class="col-12 map-container">
      <lead-map :leads="leads" :currentUser="currentUser" @lead-assign-clicked="assign"></lead-map>
    </div>
  </div>
</template>

<script>
import LeadMap from '../maps/LeadMap.vue'

export default {
  components: {
    LeadMap
  },
  data () {
    return {
      viewMode: 'list',
      currentUser: undefined,
      leads: [],
      selectedRows: [],
      columns: [
        {
          format: val => val ? new Date(val).toLocaleString('fr-FR') : '',
          label: 'Date',
          name: 'creationDate',
          field: 'creationDate',
          style: 'width: 120px',
          align: 'left',
          sortable: true,
          sort: (val1, val2) => {
            return val1 < val2 ? -1 : 1
          }
        },
        { label: 'Nom',
          format: val => val ? val.lastname : null,
          name: 'lastname',
          field: 'owner',
          style: 'width: 120px',
          sortable: true,
          sort: (val1, val2) => {
            return val1.lastname < val2.lastname ? -1 : 1
          },
          align: 'left' },
        { label: 'Prénom',
          format: val => val ? val.firstname : null,
          name: 'firstname',
          field: 'owner',
          style: 'width: 120px',
          sortable: true,
          sort: (val1, val2) => {
            return val1.firstname < val2.firstname ? -1 : 1
          },
          align: 'left' },
        { label: 'Email',
          format: val => val ? val.email : null,
          name: 'email',
          field: 'owner',
          style: 'width: 180px',
          sortable: true,
          sort: (val1, val2) => {
            return val1.email < val2.email ? -1 : 1
          },
          align: 'left' },
        { label: 'Adresse', format: val => val ? val.address : null, name: 'address', field: 'address', style: 'width: 180px', align: 'left' },
        { label: 'Code postal',
          format: val => val ? val.zipcode : null,
          name: 'zipcode',
          field: 'address',
          style: 'width: 80px',
          sortable: true,
          sort: (val1, val2) => {
            return parseInt(val1.zipcode) - parseInt(val2.zipcode)
          },
          align: 'left' },
        { label: 'Ville',
          format: val => val ? val.city : null,
          name: 'city',
          field: 'address',
          style: 'width: 80px',
          sortable: true,
          sort: (val1, val2) => {
            return val1.city < val2.city ? -1 : 1
          },
          align: 'left' },
        { label: 'Assignée', name: 'assigned', field: 'assigned', style: 'width: 80px', sortable: true, align: 'left' },
        { label: 'Actions', name: 'action', field: 'action', style: 'width: 150px', align: 'left' }
      ],
      visibleColumns: ['creationDate', 'firstname', 'lastname', 'email', 'address', 'zipcode', 'city', 'assigned', 'action'],
      pagination: {
        page: 1,
        rowsPerPage: 20
      },
      filter: '',
      loading: false
    }
  },
  methods: {
    selectedRowsLabel (rowsNumber) {
      if (rowsNumber === 1) {
        return rowsNumber + ' ligne sélectionnée'
      } else if (rowsNumber > 1) {
        return rowsNumber + ' lignes sélectionnées'
      } else {
        return ''
      }
    },
    paginationLabel (start, end, total) {
      return 'Résultats ' + start + ' à ' + end + ' sur ' + total
    },
    batchInvite () {
      let userIndex
      for (userIndex in this.selectedRows) {
        this.invite(this.selectedRows[userIndex].owner)
      }
    },
    invite (user) {
      this.$api.post('users/' + user.id + '/invite', { activationUrl: this.$rootUrl + '/account/activate?token={token}&p=1' }).then(response => {
        this.$notifier.ok('Email envoyé à ' + user.email)
      }).catch(response => {
        switch (response.status) {
          case 400:
            this.$notifier.ko('Le compte ' + user.email + ' a déjà été activé')
            break
          case 403:
            this.$notifier.ko('Opération interdite')
            break
          case 404:
            this.$notifier.ko('Utilisateur introuvable')
            break
          case 500:
            this.$notifier.ko('Erreur du serveur')
            break
        }
      })
    },
    refresh () {
      this.loading = true
      this.$api.get('my/profile').then(response => {
        this.currentUser = response.body
        this.$api.leads.find({
          params: {perpage: 10000}
        }).then(data => {
          this.leads = data.leads
        }).catch(response => {
          if (response.code === 403) {
            // TODO: Oops, you've been disconnected => href="/login"
          }
        }).finally(() => {
          this.loading = false
        })
      })
    },
    assign (lead) {
      this.$api.post('my/assignments', { lead: { id: lead.id } }).then(() => {
        this.$notifier.ok('Le dossier vous a bien été affecté')
        this.refresh()
      }).catch(() => {
        this.$notifier.ko('Une erreur est survenue lors de l\'affectation')
      })
    },
    unassign (lead) {
      this.$api.leads.update(lead.id, { auditor: null }).then(() => {
        this.$notifier.ok('Le dossier a bien été libéré')
        this.refresh()
      }).catch(() => {
        this.$notifier.ko('Une erreur est survenue')
      })
    }
  },
  beforeMount () {
    this.refresh()
  }
}
</script>

<style>
@import "~leaflet/dist/leaflet.css";
</style>

<style scoped>
.map-container {
  height: 70vh;
}
</style>
