<template>
  <!-- if you want automatic padding use "layout-padding" class -->
  <div class="layout-padding">
    <q-table
      :selected-rows-label="selectedRowsLabel"
      :pagination-label="paginationLabel"
      rows-per-page-label="Résultats par pages"
      no-data-label="Aucun passeport"
      no-results-label="Aucun résultat"
      :data="passports"
      :columns="columns"
      row-key="id"
      @request="refresh"
      :filter="filter"
      :pagination.sync="pagination"
      :loading="loading"
      :visible-columns="visibleColumns"
    >
      <template slot="top-left" slot-scope="{}">
        <q-search data-cy="passports-search" placeholder="Rechercher" v-model="filter" float-label="Chercher un passeport"/>
      </template>
      <q-td slot="body-cell-creationDate" slot-scope="props">{{props.row.creationDate | moment('DD/MM/YY à HH:mm')}}</q-td>
      <q-td slot="body-cell-modificationDate" slot-scope="props">{{props.row.modificationDate | moment('DD/MM/YY à HH:mm')}}</q-td>

      <!-- Custom renderer for "action" column with button for custom action -->
      <q-td :data-cy="'passports-passport-id-'+props.row.id" slot="body-cell-action" slot-scope="props">
        <q-btn
          :data-cy="'passports-edit-id-'+props.row.id"
          round
          color="primary"
          small
          icon="edit"
          @click="$router.push('/admin/passport?passport=' + props.row.id)"
        >
          <q-tooltip>Modifier les informations</q-tooltip>
        </q-btn>
        <q-btn
          round
          color="primary"
          small
          icon="assignment"
          @click="openPlanPdf(props.row.renovationPlans[0].id)"
          v-if="props.row.renovationPlans.length > 0"
        >
          <q-tooltip>Visualiser la synthèse</q-tooltip>
        </q-btn>
      </q-td>
    </q-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      passports: [],
      columns: [
        { label: 'Propriétaire',
          format: val => val ? val.firstname + ' ' + val.lastname : null,
          name: 'owner',
          field: 'owner',
          style: 'width:180px',
          sortable: true,
          sort: (val1, val2) => {
            return (val1.firstname + ' ' + val1.lastname) < (val2.firstname + ' ' + val2.lastname) ? -1 : 1
          },
          align: 'left' },
        { label: 'Adresse', format: val => val ? val.address : null, name: 'address', field: 'address', style: 'width:180px', align: 'left' },
        { label: 'Code postal',
          format: val => val ? val.zipcode : null,
          name: 'zipcode',
          field: 'address',
          style: 'width:80px',
          sortable: true,
          sort: (address1, address2) => {
            return parseInt(address1.zipcode) - parseInt(address2.zipcode)
          },
          align: 'left' },
        { label: 'Ville',
          format: val => val ? val.city : null,
          name: 'city',
          field: 'address',
          style: 'width:150px',
          sortable: true,
          sort: (address1, address2) => {
            return address1.city < address2.city ? -1 : 1
          },
          align: 'left' },
        { label: 'Créé le', name: 'creationDate', field: 'creationDate', style: 'width:120px', sortable: true, align: 'left' },
        { label: 'Modifié le', name: 'modificationDate', field: 'modificationDate', style: 'width:120px', sortable: true, align: 'left' },
        ...(this.$api.logged().profiles.includes('Admin') ? [{ label: 'Auditeur', format: val => val ? val.firstname + ' ' + val.lastname : null, name: 'auditor', field: 'auditor', style: 'width:180px', sortable: true, align: 'left' }] : []),
        { label: 'Action', name: 'action', field: 'action', style: 'width:150px', align: 'left' }
      ],
      filter: '',
      visibleColumns: ['owner', 'address', 'zipcode', 'city', 'creationDate', 'modificationDate', 'auditor', 'action'],
      pagination: {
        page: 1,
        rowsPerPage: 20
      },
      loading: false
    }
  },
  methods: {
    openPlanPdf (id) {
      let src = this.$api.__domain + '/renovationPlans/' + id + '/synthese_passeport?jwt=' + this.$api.connection.jwt
      window.open(src, '_blank').focus()
    },
    selectedRowsLabel (rowsNumber) {
      if (rowsNumber === 1) {
        return rowsNumber + ' ligne sélectionnée'
      } else if (rowsNumber > 1) {
        return rowsNumber + ' lignes sélectionnées'
      } else {
        return ''
      }
    },
    paginationLabel (start, end, total) {
      return 'Résultats ' + start + ' à ' + end + ' sur ' + total
    },
    refresh () {
      this.loading = true
      this.$api.passports.find({
        params: {
          perpage: 10000
        }
      })
        .then(data => {
          this.passports = data.passports
        })
        .catch(response => {
          if (response.code === 403) {
            // TODO: Oops, you've been disconnected => href="/login"
          }
        })
        .finally(() => {
          this.loading = false
        })
    }
  },
  beforeMount () {
    this.refresh()
  }
}
</script>

<style>
</style>
