<template>
  <!-- if you want automatic padding use "layout-padding" class -->
  <div class="layout-padding row justify-center" v-if="!loading">
    <div class="row justify-center col-10 items-start">
      <div class="row col-12 data-block" id="tab-general">
        <q-alert v-if="!!errors.get('auditor')" class="col-12 q-mb-lg q-pr-md" color="negative" inverted>Seul un auditeur peut créer un passeport</q-alert>
        <span class="label data-block-header">Données générales</span>
        <div class="row col-12 col-md-12 col-xs-12">
          <q-field class="offset-1 col-11" :error="!!errors.get('project')" :error-label="errors.get('project')">
            <q-input
              data-cy="passport-project"
              type="textarea"
              float-label="Projet"
              v-model="passport.project"
              @change="errors.unset('project')"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="offset-1 col-11" :error="!!errors.get('address')" :error-label="errors.get('address')">
            <input-address
              data-cy="passport-address"
              float-label="Adresse complète"
              v-model="passport.address"
              @change="errors.unset('address')"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="offset-1 col-5" :error="!!errors.get('type')" :error-label="errors.get('type')">
            <q-select
              data-cy="passport-type"
              float-label="Type de bien"
              v-model="passport.type"
              :options="options(Enum.type)"
              @change="errors.unset('type')"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="offset-1 col-5" :error="!!errors.get('constructionYear')" :error-label="errors.get('constructionYear')">
            <q-input
              data-cy="passport-constructionYear"
              type="number"
              onkeypress='return event.charCode >= 48 && event.charCode <= 57'
              float-label="Année de construction"
              v-model="passport.constructionYear"
              @change="errors.unset('constructionYear')"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="offset-1 col-5" :error="!!errors.get('climateZone')" :error-label="errors.get('climateZone')">
            <q-select
              data-cy="passport-climateZone"
              float-label="Zone climatique"
              v-model="passport.climateZone"
              :options="options(Enum.climateZone)"
              @change="errors.unset('climateZone')"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="offset-1 col-5" :error="!!errors.get('altitude')" :error-label="errors.get('altitude')">
            <q-input
              data-cy="passport-altitude"
              type="number"
              onkeypress='return event.charCode >= 48 && event.charCode <= 57'
              float-label="Altitude"
              v-model="passport.altitude"
              @change="errors.unset('altitude')"
              suffix="m"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="offset-1 col-5" :error="!!errors.get('heatedSurface')" :error-label="errors.get('heatedSurface')">
            <q-input
              data-cy="passport-heatedSurface"
              type="number"
              onkeypress='return event.charCode >= 48 && event.charCode <= 57'
              float-label="Surface chauffée"
              v-model="passport.heatedSurface"
              @change="errors.unset('heatedSurface')"
              suffix="m²"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="offset-1 col-5" :error="!!errors.get('surfaceType')" :error-label="errors.get('surfaceType')">
            <q-select
              data-cy="passport-surfaceType"
              float-label="Type de surface"
              v-model="passport.surfaceType"
              :options="options(Enum.surfaceType)"
              @change="errors.unset('surfaceType')"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="offset-1 col-5" :error="!!errors.get('adjacency')" :error-label="errors.get('adjacency')">
            <q-select
              data-cy="passport-adjencency"
              float-label="Mitoyenneté"
              v-model="passport.adjacency"
              :options="options(Enum.adjacency)"
              @change="errors.unset('adjacency')"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="offset-1 col-5" :error="!!errors.get('floors')" :error-label="errors.get('floors')">
            <q-select
              data-cy="passport-floors"
              float-label="Niveaux"
              v-model="passport.floors"
              :options="options(Enum.floors)"
              @input="checkAttic"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="offset-1 col-5 hidden" :error="!!errors.get('southExposure')" :error-label="errors.get('southExposure')">
            <q-select
              float-label="Vitrages sud dégagés"
              v-model="passport.southExposure"
              :options="options(Enum.southExposure)"
              @change="errors.unset('southExposure')"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="offset-1 col-11" :error="!!errors.get('generalComments')" :error-label="errors.get('generalComments')">
            <q-input
              data-cy="passport-generalComments"
              type="textarea"
              float-label="Commentaires généraux"
              v-model="passport.generalComments"
              @change="errors.unset('generalComments')"
              :readonly="isReadOnly"
            />
          </q-field>
        </div>
      </div>
      <div class="row col-12 data-block" id="tab-walls" v-if="passport.id">
        <span class="label data-block-header">Murs extérieurs</span>
        <div class="row offset-1 col-11" v-if="!passport.wallsData">
          <q-btn
            data-cy="passport-wallsData-add"
            color="primary"
            icon="add"
            @click="passport.wallsData = {currentInsulation: null, surface: computedWallsSurface}"
            v-if="!isReadOnly"
          />
        </div>
        <div class="row col-11 offset-1 group" v-else>
          <div class="row col-12">
            <q-field
              class="col-xs-12 col-lg-6"
              label="État des murs extérieurs"
              :error="!!errors.get('wallsData', 'state')"
              :error-label="errors.get('wallsData', 'state')"
            >
              <q-option-group
                data-cy="passport-wallsData-state"
                type="radio"
                v-model="passport.wallsData.state"
                :options="options(Enum.equipmentState)"
                @change="errors.unset('wallsData', 'state')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="row col-12">
            <q-field
              class="col-xs-12 col-lg-6"
              label="Isolation des murs extérieurs (avant travaux)"
              :error="!!errors.get('wallsData', 'currentInsulation')"
              :error-label="errors.get('wallsData', 'currentInsulation')"
            >
              <q-option-group
                type="radio"
                data-cy="passport-wallsData-currentInsulation"
                v-model="passport.wallsData.currentInsulation"
                :options="options({NONE: 'Pas d\'isolation', ITI: 'ITI', ETI: 'ITE'})"
                @input="val => {errors.unset('wallsData', 'currentInsulation'); if (val === 'NONE') passport.wallsData.rehabilitation = 'NONE';}"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="col-xs-12 col-lg-6"
              label="Isolation des murs extérieurs (après travaux)"
              :error="!!errors.get('wallsData', 'plannedInsulation')"
              :error-label="errors.get('wallsData', 'plannedInsulation')"
            >
              <q-option-group
                type="radio"
                data-cy="passport-wallsData-plannedInsulation"
                v-model="passport.wallsData.plannedInsulation"
                :options="[{label: 'ITI', value: 'ITI'}, {label: 'ITE', value: 'ETI'}]"
                @change="errors.unset('wallsData', 'plannedInsulation')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="row col-12">
            <q-field
              class="col-xs-12 col-lg-6"
              label="Isolation des murs extérieurs"
              :error="!!errors.get('wallsData', 'rehabilitation')"
              :error-label="errors.get('wallsData', 'rehabilitation')"
            >
              <q-option-group
                data-cy="passport-wallsData-rehabilitation"
                type="radio"
                v-model="passport.wallsData.rehabilitation"
                :options="options({NONE: 'Pas d\'isolation', ORIGINAL: 'Isolation d\'origine', REPLACED: 'Isolation remplacée'})"
                @change="errors.unset('wallsData', 'rehabilitation')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="col-xs-12 col-lg-6"
              :error="!!errors.get('wallsData', 'rehabilitationYear')"
              :error-label="errors.get('wallsData', 'rehabilitationYear')"
            >
              <q-input
                type="number"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                data-cy="passport-wallsData-rehabilitationYear"
                float-label="Année de remplacement"
                v-model="passport.wallsData.rehabilitationYear"
                @change="errors.unset('wallsData', 'rehabilitationYear')"
                v-if="passport.wallsData.rehabilitation === 'REPLACED'"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="row col-12">
            <q-field class="col-xs-12 col-lg-6" label="Calcul automatique de la surface des murs">
              <q-checkbox data-cy="passport-wallsData-autoSurface" v-model="autoWallsSurface" :readonly="isReadOnly" />
            </q-field>
            <q-field class="col-xs-12 col-lg-6" :error="!!errors.get('wallsData', 'surface')" :error-label="errors.get('wallsData', 'surface')">
              <q-input
                type="number"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                data-cy="passport-wallsData-surface"
                float-label="Surface"
                v-model="passport.wallsData.surface"
                suffix="m²"
                @change="errors.unset('wallsData', 'surface')"
                :disabled="autoWallsSurface"
                :readonly="isReadOnly || autoWallsSurface"
              />
            </q-field>
          </div>
          <q-field class="col-12" :error="!!errors.get('wallsData', 'comment')" :error-label="errors.get('wallsData', 'comment')">
            <q-input
              type="textarea"
              data-cy="passport-wallsData-comments"
              float-label="Commentaires sur l'existant"
              v-model="passport.wallsData.comment"
              @change="errors.unset('wallsData', 'comment')"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="col-12" :error="!!errors.get('wallsData', 'comment')" :error-label="errors.get('wallsData', 'projectComment')">
            <q-input
              type="textarea"
              data-cy="passport-wallsData-projectComments"
              float-label="Commentaires sur le projet"
              v-model="passport.wallsData.projectComment"
              @change="errors.unset('wallsData', 'projectComment')"
              :readonly="isReadOnly"
            />
          </q-field>
        </div>
      </div>
      <div class="row col-12 data-block" id="tab-floor" v-if="passport.id">
        <span class="row label data-block-header">Plancher bas</span>
        <div class="row offset-1 col-11" v-if="!passport.floorData">
          <q-btn
            color="primary"
            data-cy="passport-floorData-add"
            icon="add"
            @click="passport.floorData = {surface: computedFloorSurface}"
            v-if="!isReadOnly"
          />
        </div>
        <div class="row col-11 offset-1 group" v-else>
          <div class="row col-12">
            <q-field
              class="col-xs-12 col-lg-6"
              label="État du plancher bas"
              :error="!!errors.get('floorData', 'state')"
              :error-label="errors.get('floorData', 'state')"
            >
              <q-option-group
                data-cy="passport-floorData-state"
                type="radio"
                v-model="passport.floorData.state"
                :options="options(Enum.equipmentState)"
                @change="errors.unset('floorData', 'state')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="col-xs-12 col-lg-6"
              label="Type de plancher bas"
              :error="!!errors.get('floorData', 'floorType')"
              :error-label="errors.get('floorData', 'floorType')"
            >
              <q-option-group
                data-cy="passport-floorData-type"
                type="radio"
                v-model="passport.floorData.floorType"
                :options="options({OTHER_UNHEATED_SPACE: 'Autre local non chauffé', TERREPLEIN: 'Terre-plein', CRAWL_SPACE: 'Vide-sanitaire'})"
                @change="errors.unset('floorData', 'floorType')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="col-xs-12 col-lg-6"
              label="Isolation du plancher bas"
              :error="!!errors.get('floorData', 'rehabilitation')"
              :error-label="errors.get('floorData', 'rehabilitation')"
            >
              <q-option-group
                data-cy="passport-floorData-rehabilitation"
                type="radio"
                v-model="passport.floorData.rehabilitation"
                :options="options({NONE: 'Pas d\'isolation', ORIGINAL: 'Isolation d\'origine', REPLACED: 'Isolation remplacée'})"
                @change="errors.unset('floorData', 'rehabilitation')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="col-xs-12 col-lg-6"
              :error="!!errors.get('floorData', 'rehabilitationYear')"
              :error-label="errors.get('floorData', 'rehabilitationYear')"
              v-if="passport.floorData.rehabilitation === 'REPLACED'"
            >
              <q-input
                data-cy="passport-floorData-rehabilitationYear"
                type="number"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                float-label="Année de remplacement"
                v-model="passport.floorData.rehabilitationYear"
                @change="errors.unset('floorData', 'rehabilitationYear')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="row col-12">
            <q-field label="Calcul automatique de la surface du plancher bas" class="col-xs-12 col-lg-6">
              <q-checkbox data-cy="passport-floorData-autoSurface" v-model="autoFloorSurface" :readonly="isReadOnly" />
            </q-field>
            <q-field class="col-xs-12 col-lg-6" :error="!!errors.get('floorData', 'surface')" :error-label="errors.get('floorData', 'surface')">
              <q-input
                data-cy="passport-floorData-surface"
                type="number"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                float-label="Surface"
                v-model="passport.floorData.surface"
                suffix="m²"
                @change="errors.unset('floorData', 'surface')"
                :disabled="autoFloorSurface"
                :readonly="isReadOnly || autoFloorSurface"
              />
            </q-field>
          </div>
          <q-field class="col-12" :error="!!errors.get('floorData', 'comment')" :error-label="errors.get('floorData', 'comment')">
            <q-input
              data-cy="passport-floorData-comment"
              type="textarea"
              float-label="Commentaires sur l'existant"
              placeholder="Préciser le type d’intervention après travaux"
              v-model="passport.floorData.comment"
              @change="errors.unset('floorData', 'comment')"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="col-12" :error="!!errors.get('floorData', 'comment')" :error-label="errors.get('floorData', 'projectComment')">
            <q-input
              type="textarea"
              data-cy="passport-floorData-projectComments"
              float-label="Commentaires sur le projet"
              v-model="passport.floorData.projectComment"
              @change="errors.unset('floorData', 'projectComment')"
              :readonly="isReadOnly"
            />
          </q-field>
        </div>
      </div>
      <div class="row col-12 data-block" id="tab-roof" v-if="passport.id">
        <span class="row label data-block-header">Toiture</span>
        <div class="row offset-1 col-11" v-if="!passport.roofData">
          <q-btn
            data-cy="passport-roofData-add"
            color="primary"
            icon="add"
            @click="passport.roofData = {surface: computedRoofSurface}"
            v-if="!isReadOnly"
          />
        </div>
        <div class="row col-11 offset-1 group" v-else>
          <div class="row col-12">
            <q-field
              class="col-xs-12 col-lg-6"
              label="État de la toiture"
              :error="!!errors.get('roofData', 'state')"
              :error-label="errors.get('roofData', 'state')"
            >
              <q-option-group
                data-cy="passport-roofData-state"
                type="radio"
                v-model="passport.roofData.state"
                :options="options(Enum.equipmentState)"
                @change="errors.unset('roofData', 'state')"
                :readonly="isReadOnly"
              />
            </q-field>

            <div class="row col-xs-12">
              <q-field class="col-xs-12 col-lg-6" :error="!!errors.get('roofData', 'atticType')" :error-label="errors.get('roofData', 'atticType')">
                <q-select
                  data-cy="passport-roofData-attictype"
                  float-label="Présence de combles"
                  v-model="passport.roofData.atticType"
                  :options="options({NONE: 'Pas de combles', CONVERTED: 'Combles aménagées', CONVERTIBLE: 'Combles aménageables', NON_CONVERTIBLE: 'Non aménageable'})"
                  @change="errors.unset('roofData', 'atticType')"
                  :readonly="isReadOnly"
                />
              </q-field>

              <q-field
                class="col-xs-12 col-lg-6"
                label="Aménagement prévu dans le projet"
                :error="!!errors.get('roofData', 'atticTypePlanned')"
                :error-label="errors.get('roofData', 'atticTypePlanned')"
                v-if="passport.roofData.atticType === 'CONVERTIBLE'"
              >
                <q-option-group
                  data-cy="passport-roofData-atticTypePlanned"
                  v-model="passport.roofData.atticTypePlanned"
                  inline
                  :options="[{label: 'Oui', value: true}, {label: 'Non', value: false}]"
                  @change="errors.unset('roofData', 'atticTypePlanned')"
                  :readonly="isReadOnly"
                />
              </q-field>

              <div class="row col-12 text-weight-thin q-mb-md">(Correspondance Point de vigilance : {{ getRoofCorrespondanceMsg() }})</div>
            </div>

            <q-field
              class="col-xs-12 col-lg-6"
              label="Isolation de la toiture"
              :error="!!errors.get('roofData', 'rehabilitation')"
              :error-label="errors.get('roofData', 'rehabilitation')"
            >
              <q-option-group
                data-cy="passport-roofData-rehabilitation"
                type="radio"
                v-model="passport.roofData.rehabilitation"
                :options="options({NONE: 'Pas d\'isolation', ORIGINAL: 'Isolation d\'origine', REPLACED: 'Isolation remplacée'})"
                @change="errors.unset('roofData', 'rehabilitation')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="col-xs-12 col-lg-6"
              v-if="passport.roofData.rehabilitation === 'REPLACED'"
              :error="!!errors.get('roofData', 'rehabilitationYear')"
              :error-label="errors.get('roofData', 'rehabilitationYear')"
            >
              <q-input
                data-cy="passport-roofData-rehabilitationYear"
                type="number"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                float-label="Année de remplacement"
                v-model="passport.roofData.rehabilitationYear"
                @change="errors.unset('roofData', 'rehabilitationYear')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="row col-12">
            <q-field class="col-xs-12 col-lg-6" label="Calcul automatique de la surface de la toiture">
              <q-checkbox data-cy="passport-roofData-autoSurface" v-model="autoRoofSurface" :readonly="isReadOnly" />
            </q-field>
            <q-field class="col-xs-12 col-lg-6" :error="!!errors.get('roofData', 'surface')" :error-label="errors.get('roofData', 'surface')">
              <q-input
                data-cy="passport-roofData-surface"
                type="number"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                float-label="Surface"
                v-model="passport.roofData.surface"
                suffix="m²"
                @change="errors.unset('roofData', 'surface')"
                :disabled="autoRoofSurface"
                :readonly="isReadOnly || autoRoofSurface"
              />
            </q-field>
          </div>
          <q-field class="col-12" :error="!!errors.get('roofData', 'comment')" :error-label="errors.get('roofData', 'comment')">
            <q-input
              data-cy="passport-roofData-comment"
              type="textarea"
              float-label="Commentaires sur l'existant"
              placeholder="Préciser le type d’intervention après travaux"
              v-model="passport.roofData.comment"
              @change="errors.unset('roofData', 'comment')"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="col-12" :error="!!errors.get('roofData', 'comment')" :error-label="errors.get('roofData', 'projectComment')">
            <q-input
              type="textarea"
              data-cy="passport-roofData-projectComments"
              float-label="Commentaires sur le projet"
              v-model="passport.roofData.projectComment"
              @change="errors.unset('roofData', 'projectComment')"
              :readonly="isReadOnly"
            />
          </q-field>
        </div>
      </div>
      <div class="row col-12 data-block" id="tab-vents" v-if="passport.id">
        <span class="row label data-block-header">Ouvrants</span>
        <div class="row offset-1 col-11" v-if="!passport.ventsData">
          <q-btn
            data-cy="passport-ventsData-add"
            color="primary"
            icon="add"
            @click="passport.ventsData = {surface: computedVentsSurface}"
            v-if="!isReadOnly"
          />
        </div>
        <div class="row col-11 offset-1 group" v-else>
          <div class="row col-12">
            <q-field
              class="col-xs-12 col-lg-6"
              label="État des ouvrants"
              :error="!!errors.get('ventsData', 'state')"
              :error-label="errors.get('ventsData', 'state')"
            >
              <q-option-group
                data-cy="passport-ventsData-state"
                type="radio"
                v-model="passport.ventsData.state"
                :options="options(Enum.equipmentState)"
                @change="errors.unset('ventsData', 'state')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="col-xs-12 col-lg-6"
              :error="!!errors.get('ventsData', 'glazingType')"
              :error-label="errors.get('ventsData', 'glazingType')"
            >
              <q-select
                data-cy="passport-ventsData-glazingType"
                float-label="Type de vitrage"
                v-model="passport.ventsData.glazingType"
                :options="options(Enum.glazingType)"
                @change="errors.unset('ventsData', 'glazingType')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="col-xs-12 col-lg-6"
              label="Ouvrants"
              :error="!!errors.get('ventsData', 'rehabilitation')"
              :error-label="errors.get('ventsData', 'rehabilitation')"
            >
              <q-option-group
                data-cy="passport-ventsData-rehabilitation"
                type="radio"
                v-model="passport.ventsData.rehabilitation"
                :options="options({ORIGINAL: 'Ouvrants d\'origine', REPLACED: 'Ouvrants remplacés'})"
                @change="errors.unset('ventsData', 'rehabilitation')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="col-xs-12 col-lg-6"
              :error="!!errors.get('ventsData', 'rehabilitationYear')"
              :error-label="errors.get('ventsData', 'rehabilitationYear')"
            >
              <q-input
                data-cy="passport-ventsData-rehabilitationYear"
                type="number"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                float-label="Année de remplacement"
                v-if="passport.ventsData.rehabilitation === 'REPLACED'"
                v-model="passport.ventsData.rehabilitationYear"
                @change="errors.unset('ventsData', 'rehabilitationYear')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>

          <div class="row col-12">
            <q-field
              class="col-xs-12 col-lg-6"
              label="Pose Actuelle"
              :error="!!errors.get('ventsData', 'poseType')"
              :error-label="errors.get('ventsData', 'poseType')"
            >
              <q-option-group
                data-cy="passport-ventsData-poseType"
                type="radio"
                v-model="passport.ventsData.poseType"
                :options="options(Enum.poseType).splice(1)"
                @change="errors.unset('ventsData', 'poseType')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="row col-12">
            <q-field label="Calcul automatique de la surface des ouvrants" class="col-xs-12 col-lg-6">
              <q-checkbox data-cy="passport-ventsData-autoSurface" v-model="autoVentsSurface" :readonly="isReadOnly" />
            </q-field>
            <q-field class="col-xs-12 col-lg-6" :error="!!errors.get('ventsData', 'surface')" :error-label="errors.get('ventsData', 'surface')">
              <q-input
                data-cy="passport-ventsData-surface"
                type="number"
              onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                float-label="Surface"
                v-model="passport.ventsData.surface"
                suffix="m²"
                @change="errors.unset('ventsData', 'surface')"
                :disabled="autoVentsSurface"
                :readonly="isReadOnly || autoVentsSurface"
              />
            </q-field>
          </div>
          <q-field class="col-12" :error="!!errors.get('ventsData', 'comment')" :error-label="errors.get('ventsData', 'comment')">
            <q-input
              data-cy="passport-ventsData-comments"
              type="textarea"
              float-label="Commentaires sur l'existant"
              v-model="passport.ventsData.comment"
              @change="errors.unset('ventsData', 'comment')"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="col-12" :error="!!errors.get('ventsData', 'comment')" :error-label="errors.get('ventsData', 'projectComment')">
            <q-input
              type="textarea"
              data-cy="passport-ventsData-projectComments"
              float-label="Commentaires sur le projet"
              v-model="passport.ventsData.projectComment"
              @change="errors.unset('ventsData', 'projectComment')"
              :readonly="isReadOnly"
            />
          </q-field>
        </div>
      </div>
      <div class="row col-12 data-block" id="tab-ventilation" v-if="passport.id">
        <span class="row label data-block-header">Ventilation</span>
        <div class="row offset-1 col-11" v-if="!passport.ventilationData">
          <q-btn data-cy="passport-ventilationData-add" color="primary" icon="add" @click="passport.ventilationData = {}" v-if="!isReadOnly" />
        </div>
        <div class="row col-11 offset-1 group" v-else>
          <div class="row col-12">
            <q-field
              class="col-xs-12 col-lg-6"
              label="État de la ventilation"
              :error="!!errors.get('ventilationData', 'state')"
              :error-label="errors.get('ventilationData', 'state')"
            >
              <q-option-group
                data-cy="passport-ventilationData-state"
                type="radio"
                v-model="passport.ventilationData.state"
                :options="options(Enum.equipmentState)"
                @change="errors.unset('ventilationData', 'state')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="col-12 row">
            <q-field
              class="col-xs-12 col-lg-6"
              :error="!!errors.get('ventilationData', 'currentVentilation')"
              :error-label="errors.get('ventilationData', 'currentVentilation')"
            >
              <select-object
                data-cy="passport-ventilationData-currentVentilation"
                float-label="Ventilation (avant travaux)"
                v-model="passport.ventilationData.currentVentilation"
                :options="ventilations"
                @change="errors.unset('ventilationData', 'currentVentilation')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="col-xs-12 offset-lg-1 col-lg-5"
              :error="!!errors.get('ventilationData', 'plannedVentilation')"
              :error-label="errors.get('ventilationData', 'plannedVentilation')"
            >
              <select-object
                data-cy="passport-ventilationData-plannedVentilation"
                float-label="Ventilation (après travaux)"
                v-model="passport.ventilationData.plannedVentilation"
                :options="ventilations.filter(o => o.available)"
                @change="errors.unset('ventilationData', 'plannedVentilation')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="col-xs-12 col-lg-6"
              label="État de la ventilation"
              :error="!!errors.get('ventilationData', 'rehabilitation')"
              :error-label="errors.get('ventilationData', 'rehabilitation')"
            >
              <q-option-group
                data-cy="passport-ventilationData-rehabilitation"
                type="radio"
                v-model="passport.ventilationData.rehabilitation"
                :options="options({ORIGINAL: 'Ventilation d\'origine', REPLACED: 'Ventilation remplacée'})"
                @change="errors.unset('ventilationData', 'rehabilitation')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="col-xs-12 offset-lg-1 col-lg-5"
              v-if="passport.ventilationData.rehabilitation === 'REPLACED'"
              :error="!!errors.get('ventilationData', 'rehabilitationYear')"
              :error-label="errors.get('ventilationData', 'rehabilitationYear')"
            >
              <q-input
                type="number"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                data-cy="passport-ventilationData-rehabilitationYear"
                float-label="Année de remplacement"
                v-model="passport.ventilationData.rehabilitationYear"
                @change="errors.unset('ventilationData', 'rehabilitationYear')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="col-12 row">
            <q-field
              class="col-xs-12 col-lg-6"
              :error="!!errors.get('ventilationData', 'maintenance')"
              :error-label="errors.get('ventilationData', 'maintenance')"
            >
              <q-select
                data-cy="passport-ventilationData-maintenance"
                float-label="Maintenance"
                v-model="passport.ventilationData.maintenance"
                :options="options({NONE: 'Pas de maintenance', EVERY_YEAR: 'Tous les ans', EVERY_TWO_YEAR_OR_MORE: 'Tous les deux ans ou plus'})"
                @change="errors.unset('ventilationData', 'maintenance')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <q-field class="col-12" :error="!!errors.get('ventilationData', 'comment')" :error-label="errors.get('ventilationData', 'comment')">
            <q-input
              data-cy="passport-ventilationData-comments"
              type="textarea"
              float-label="Commentaires sur l'existant"
              v-model="passport.ventilationData.comment"
              @change="errors.unset('ventilationData', 'comment')"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="col-12" :error="!!errors.get('ventilationData', 'comment')" :error-label="errors.get('ventilationData', 'projectComment')">
            <q-input
              type="textarea"
              data-cy="passport-ventilationData-projectComments"
              float-label="Commentaires sur le projet"
              v-model="passport.ventilationData.projectComment"
              @change="errors.unset('ventilationData', 'projectComment')"
              :readonly="isReadOnly"
            />
          </q-field>
        </div>
      </div>
      <div class="row col-12 data-block" id="tab-airtightness" v-if="passport.id">
        <span class="row label data-block-header">Étanchéité à l'air</span>
        <div class="row offset-1 col-11" v-if="!passport.airtightnessData">
          <q-btn data-cy="passport-airtightnessData-add" color="primary" icon="add" @click="passport.airtightnessData = {}" v-if="!isReadOnly" />
        </div>
        <div class="row col-11 offset-1 group" v-else>
          <div class="row col-12">
            <q-field
              class="col-xs-12 col-lg-6"
              :error="!!errors.get('airtightnessData', 'currentAirtightness')"
              :error-label="errors.get('airtightnessData', 'currentAirtightness')"
            >
              <q-select
                data-cy="passport-airtightnessData-currentAirtightness"
                float-label="Étanchéité (avant travaux)"
                v-model="passport.airtightnessData.currentAirtightness"
                :options="options({BAD: 'Mauvaise', AVERAGE: 'Moyenne', GOOD: 'Bonne', VERY_GOOD: 'Très bonne'})"
                @change="errors.unset('airtightnessData', 'currentAirtightness')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="col-xs-12 offset-lg-1 col-lg-5"
              :error="!!errors.get('airtightnessData', 'plannedAirtightness')"
              :error-label="errors.get('airtightnessData', 'plannedAirtightness')"
            >
              <q-select
                data-cy="passport-airtightnessData-plannedAirtightness"
                float-label="Étanchéité (après travaux)"
                v-model="passport.airtightnessData.plannedAirtightness"
                :options="options({GOOD: 'Bonne', VERY_GOOD: 'Très bonne'})"
                @change="errors.unset('airtightnessData', 'plannedAirtightness')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <q-field class="col-12" :error="!!errors.get('airtightnessData', 'comment')" :error-label="errors.get('airtightnessData', 'comment')">
            <q-input
              data-cy="passport-airtightnessData-comment"
              type="textarea"
              float-label="Commentaires sur l'existant"
              v-model="passport.airtightnessData.comment"
              @change="errors.unset('airtightnessData', 'comment')"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field
            class="col-12"
            :error="!!errors.get('airtightnessData', 'comment')"
            :error-label="errors.get('airtightnessData', 'projectComment')"
          >
            <q-input
              type="textarea"
              data-cy="passport-airtightnessData-projectComments"
              float-label="Commentaires sur le projet"
              v-model="passport.airtightnessData.projectComment"
              @change="errors.unset('airtightnessData', 'projectComment')"
              :readonly="isReadOnly"
            />
          </q-field>
        </div>
      </div>
      <div class="row col-12 data-block" id="tab-heating" v-if="passport.id">
        <span class="row label data-block-header">Chauffage</span>
        <div class="row offset-1 col-11" v-if="!passport.heatingData">
          <q-btn data-cy="passport-heatingData-add" color="primary" icon="add" @click="passport.heatingData = {}" v-if="!isReadOnly" />
        </div>
        <div class="row offset-1 col-11 group" v-else>
          <div class="row col-12">
            <q-field
              class="col-xs-12 col-lg-6"
              label="État du chauffage"
              :error="!!errors.get('heatingData', 'state')"
              :error-label="errors.get('heatingData', 'state')"
            >
              <q-option-group
                data-cy="passport-heatingData-state"
                type="radio"
                v-model="passport.heatingData.state"
                :options="options(Enum.equipmentState)"
                @change="errors.unset('heatingData', 'state')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="row col-12">
            <q-field
              class="col-xs-12 col-lg-6"
              :error="!!errors.get('heatingData', 'currentHeating')"
              :error-label="errors.get('heatingData', 'currentHeating')"
            >
              <select-object
                data-cy="passport-heatingData-currentHeating"
                float-label="Chauffage (avant travaux)"
                v-model="passport.heatingData.currentHeating"
                :options="heatings.filter(o => !o.available)"
                @change="errors.unset('heatingData', 'currentHeating')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="col-xs-12 offset-lg-1 col-lg-5"
              :error="!!errors.get('heatingData', 'plannedHeating')"
              :error-label="errors.get('heatingData', 'plannedHeating')"
            >
              <select-object
                data-cy="passport-heatingData-plannedHeating"
                float-label="Chauffage (après travaux)"
                v-model="passport.heatingData.plannedHeating"
                :options="heatings.filter(o => o.available)"
                @change="errors.unset('heatingData', 'plannedHeating')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="row col-12">
            <q-field
              class="col-xs-12 col-lg-6"
              label="État du chauffage"
              :error="!!errors.get('heatingData', 'rehabilitation')"
              :error-label="errors.get('heatingData', 'rehabilitation')"
            >
              <q-option-group
                data-cy="passport-heatingData-rehabilitation"
                type="radio"
                v-model="passport.heatingData.rehabilitation"
                :options="options({ORIGINAL: 'Chauffage d\'origine', REPLACED: 'Chauffage remplacé'})"
                @change="errors.unset('heatingData', 'rehabilitation')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="col-xs-12 offset-lg-1 col-lg-5"
              v-if="passport.heatingData.rehabilitation === 'REPLACED'"
              :error="!!errors.get('heatingData', 'rehabilitationYear')"
              :error-label="errors.get('heatingData', 'rehabilitationYear')"
            >
              <q-input
                type="number"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                data-cy="passport-heatingData-rehabilitationYear"
                float-label="Année de remplacement"
                v-model="passport.heatingData.rehabilitationYear"
                @change="errors.unset('heatingData', 'rehabilitationYear')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="row col-12">
            <q-field
              class="col-xs-12 col-lg-6"
              :error="!!errors.get('heatingData', 'maintenance')"
              :error-label="errors.get('heatingData', 'maintenance')"
            >
              <q-select
                data-cy="passport-heatingData-maintenance"
                float-label="Maintenance"
                v-model="passport.heatingData.maintenance"
                :options="options({NONE: 'Pas de maintenance', EVERY_YEAR: 'Tous les ans', EVERY_TWO_YEAR_OR_MORE: 'Tous les deux ans ou plus'})"
                @change="errors.unset('heatingData', 'maintenance')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <q-field class="row col-12" :error="!!errors.get('heatingData', 'comment')" :error-label="errors.get('heatingData', 'comment')">
            <q-input
              data-cy="passport-heatingData-comment"
              type="textarea"
              float-label="Commentaires sur l'existant"
              v-model="passport.heatingData.comment"
              @change="errors.unset('heatingData', 'comment')"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="col-12" :error="!!errors.get('heatingData', 'comment')" :error-label="errors.get('heatingData', 'projectComment')">
            <q-input
              type="textarea"
              data-cy="passport-heatingData-projectComments"
              float-label="Commentaires sur le projet"
              v-model="passport.heatingData.projectComment"
              @change="errors.unset('heatingData', 'projectComment')"
              :readonly="isReadOnly"
            />
          </q-field>
        </div>
      </div>
      <div class="row col-12 data-block" id="tab-thermostat" v-if="passport.id">
        <span class="row label data-block-header">Gestion dynamique du chauffage</span>
        <div class="row offset-1 col-11" v-if="!passport.thermostatData">
          <q-btn data-cy="passport-thermostatData-add" color="primary" icon="add" @click="passport.thermostatData = {}" v-if="!isReadOnly" />
        </div>
        <div class="row offset-1 col-11" v-else>
          <q-field
            class="col-xs-12 col-lg-6"
            label="Présence d'une gestion dynamique du chauffage"
            :error="!!errors.get('thermostatData', 'presence')"
            :error-label="errors.get('thermostatData', 'presence')"
          >
            <q-option-group
              data-cy="passport-thermostatData-presence"
              v-model="passport.thermostatData.presence"
              inline
              :options="[{label: 'Oui', value: true}, {label: 'Non', value: false}]"
              @input="thermostatSelected"
              @change="errors.unset('thermostatData', 'presence')"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field
            v-if="passport.thermostatData.presence"
            class="col-xs-12 col-lg-6"
            :error="!!errors.get('thermostatData', 'state')"
            :error-label="errors.get('thermostatData', 'state')"
          >
            <q-select
              data-cy="passport-thermostatData-state"
              float-label="État de la gestion dynamique du chauffage"
              v-model="passport.thermostatData.state"
              :options="options(Object.assign({}, Enum.equipmentState, {}))"
              @change="errors.unset('thermostatData', 'state')"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="col-12" :error="!!errors.get('thermostatData', 'comment')" :error-label="errors.get('thermostatData', 'comment')">
            <q-input
              data-cy="passport-thermostatData-comment"
              type="textarea"
              float-label="Commentaires sur l'existant"
              v-model="passport.thermostatData.comment"
              @change="errors.unset('thermostatData', 'comment')"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="col-12" :error="!!errors.get('thermostatData', 'comment')" :error-label="errors.get('thermostatData', 'projectComment')">
            <q-input
              type="textarea"
              data-cy="passport-thermostatData-projectComments"
              float-label="Commentaires sur le projet"
              v-model="passport.thermostatData.projectComment"
              @change="errors.unset('thermostatData', 'projectComment')"
              :readonly="isReadOnly"
            />
          </q-field>
        </div>
      </div>
      <div class="row col-12 data-block" id="tab-dhw" v-if="passport.id">
        <span class="row label data-block-header">Eau Chaude Sanitaire</span>
        <div class="row offset-1 col-11" v-if="!passport.dhwData">
          <q-btn
            data-cy="passport-dhwData-add"
            color="primary"
            icon="add"
            @click="passport.dhwData = {isCurrentSolar: false, isPlannedSolar: false}"
            v-if="!isReadOnly"
          />
        </div>
        <div class="row offset-1 col-11 group" v-else>
          <div class="col-12 row">
            <q-field
              class="col-xs-12 col-lg-6"
              label="État de l'ECS"
              :error="!!errors.get('dhwData', 'state')"
              :error-label="errors.get('dhwData', 'state')"
            >
              <q-option-group
                data-cy="passport-dhwData-state"
                type="radio"
                v-model="passport.dhwData.state"
                :options="options(Enum.equipmentState)"
                @change="errors.unset('dhwData', 'state')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="col-12 row">
            <q-field class="col-xs-12 col-lg-6" :error="!!errors.get('dhwData', 'currentDhw')" :error-label="errors.get('dhwData', 'currentDhw')">
              <select-object
                data-cy="passport-dhwData-currentDhw"
                float-label="ECS (avant travaux)"
                v-model="passport.dhwData.currentDhw"
                :options="domesticHotWaters.filter(o => !o.available)"
                @input="dhwSelected"
                @change="errors.unset('dhwData', 'currentDhw')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="col-xs-12 col-lg-5 offset-lg-1"
              :error="!!errors.get('dhwData', 'plannedDhw')"
              :error-label="errors.get('dhwData', 'plannedDhw')"
            >
              <select-object
                data-cy="passport-dhwData-plannedDhw"
                float-label="ECS (après travaux)"
                v-model="passport.dhwData.plannedDhw"
                :options="domesticHotWaters.filter(o => o.available)"
                @change="errors.unset('dhwData', 'plannedDhw')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="col-xs-12 col-lg-6"
              label="Solaire (avant travaux)"
              :error="!!errors.get('dhwData', 'isCurrentSolar')"
              :error-label="errors.get('dhwData', 'isCurrentSolar')"
            >
              <q-option-group
                data-cy="passport-dhwData-currentSolar"
                v-model="passport.dhwData.isCurrentSolar"
                inline
                :options="[{label: 'Oui', value: true}, {label: 'Non', value: false}]"
                @change="errors.unset('dhwData', 'isCurrentSolar')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="col-xs-12 col-lg-5 offset-lg-1"
              label="Solaire (après travaux)"
              :error="!!errors.get('dhwData', 'isPlannedSolar')"
              :error-label="errors.get('dhwData', 'isPlannedSolar')"
            >
              <q-option-group
                data-cy="passport-dhwData-plannedSolar"
                v-model="passport.dhwData.isPlannedSolar"
                inline
                :options="[{label: 'Oui', value: true}, {label: 'Non', value: false}]"
                @change="errors.unset('dhwData', 'isPlannedSolar')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="col-12 row">
            <q-field
              class="col-xs-12 col-lg-6"
              label="État de l'ECS"
              :error="!!errors.get('dhwData', 'rehabilitation')"
              :error-label="errors.get('dhwData', 'rehabilitation')"
            >
              <q-option-group
                data-cy="passport-dhwData-rehabilitation"
                type="radio"
                v-model="passport.dhwData.rehabilitation"
                @change="errors.unset('dhwData', 'rehabilitation')"
                :options="options({ORIGINAL: 'Chauffage d\'origine', REPLACED: 'Chauffage remplacé'})"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="col-xs-12 col-lg-5 offset-lg-1"
              v-if="passport.dhwData.rehabilitation === 'REPLACED'"
              :error="!!errors.get('dhwData', 'rehabilitationYear')"
              :error-label="errors.get('dhwData', 'rehabilitationYear')"
            >
              <q-input
                type="number"
                onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                data-cy="passport-dhwData-rehabilitationYear"
                float-label="Année de remplacement"
                v-model="passport.dhwData.rehabilitationYear"
                @change="errors.unset('dhwData', 'rehabilitationYear')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="col-12 row">
            <q-field class="col-xs-12 col-lg-6" :error="!!errors.get('dhwData', 'maintenance')" :error-label="errors.get('dhwData', 'maintenance')">
              <q-select
                data-cy="passport-dhwData-maintenance"
                float-label="Maintenance"
                v-model="passport.dhwData.maintenance"
                :options="options({NONE: 'Pas de maintenance', EVERY_YEAR: 'Tous les ans', EVERY_TWO_YEAR_OR_MORE: 'Tous les deux ans ou plus'})"
                @change="errors.unset('dhwData', 'maintenance')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <q-field class="col-12" :error="!!errors.get('dhwData', 'comment')" :error-label="errors.get('dhwData', 'comment')">
            <q-input
              data-cy="passport-dhwData-comment"
              type="textarea"
              float-label="Commentaires sur l'existant"
              v-model="passport.dhwData.comment"
              @change="errors.unset('dhwData', 'comment')"
              :readonly="isReadOnly"
            />
          </q-field>
          <q-field class="col-12" :error="!!errors.get('dhwData', 'comment')" :error-label="errors.get('dhwData', 'projectComment')">
            <q-input
              type="textarea"
              data-cy="passport-dhwData-projectComments"
              float-label="Commentaires sur le projet"
              v-model="passport.dhwData.projectComment"
              @change="errors.unset('dhwData', 'projectComment')"
              :readonly="isReadOnly"
            />
          </q-field>
        </div>
      </div>
      <div class="row col-12 data-block" id="tab-tdf" v-if="passport.id">
        <span class="row col-12 label data-block-header">Dossier de diagnostic technique (DDT)</span>
        <div class="row offset-1 col-10" v-if="!passport.tdfData">
          <q-btn data-cy="passport-tdfData-add" color="primary" icon="add" @click="passport.tdfData = {}" v-if="!isReadOnly" />
        </div>
        <div class="row col-12" v-else>
          <div class="row col-12">
            <q-field
              class="offset-1 col-5"
              :error="!!errors.get('tdfData', 'electricalWiringState')"
              :error-label="errors.get('tdfData', 'electricalWiringState')"
            >
              <q-select
                data-cy="passport-tdfData-electricalWiringState"
                float-label="État de l'installation électrique"
                v-model="passport.tdfData.electricalWiringState"
                :options="options(Enum.tdfState)"
                @change="errors.unset('tdfData', 'electricalWiringState')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="offset-1 col-5"
              :error="!!errors.get('tdfData', 'electricalWiringLastControl')"
              :error-label="errors.get('tdfData', 'electricalWiringLastControl')"
            >
              <q-select
                data-cy="passport-tdfData-electricalWiringLastControl"
                float-label="Date du dernier contrôle"
                v-model="passport.tdfData.electricalWiringLastControl"
                :options="options(Enum.tdfControlState)"
                @change="errors.unset('tdfData', 'electricalWiringLastControl')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="row col-12">
            <q-field class="offset-1 col-5" :error="!!errors.get('tdfData', 'gasSystemState')" :error-label="errors.get('tdfData', 'gasSystemState')">
              <q-select
                data-cy="passport-tdfData-gasSystemState"
                float-label="Etat de l'installation de gaz"
                v-model="passport.tdfData.gasSystemState"
                :options="options(Object.assign({NONE: 'Pas de gaz'}, Enum.tdfState))"
                @change="errors.unset('tdfData', 'gasSystemState')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="offset-1 col-5"
              :error="!!errors.get('tdfData', 'gasSystemLastControl')"
              :error-label="errors.get('tdfData', 'gasSystemLastControl')"
              v-if="passport.tdfData.gasSystemState && passport.tdfData.gasSystemState !== 'NONE'"
            >
              <q-select
                data-cy="passport-tdfData-gasSystemLastControl"
                float-label="Date du dernier contrôle"
                v-model="passport.tdfData.gasSystemLastControl"
                :options="options(Enum.tdfControlState)"
                @change="errors.unset('tdfData', 'gasSystemLastControl')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="row col-12">
            <q-field class="offset-1 col-5" :error="!!errors.get('tdfData', 'plumbingState')" :error-label="errors.get('tdfData', 'plumbingState')">
              <q-select
                data-cy="passport-tdfData-plumbingState"
                float-label="État de la plomberie"
                v-model="passport.tdfData.plumbingState"
                :options="options(Enum.tdfState)"
                @change="errors.unset('tdfData', 'plumbingState')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="offset-1 col-5"
              :error="!!errors.get('tdfData', 'plumbingLastControl')"
              :error-label="errors.get('tdfData', 'plumbingLastControl')"
            >
              <q-select
                data-cy="passport-tdfData-plumbingStateLastControl"
                float-label="Date du dernier contrôle"
                v-model="passport.tdfData.plumbingLastControl"
                :options="options(Enum.tdfControlState)"
                @change="errors.unset('tdfData', 'plumbingLastControl')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="row col-12">
            <q-field class="offset-1 col-5" :error="!!errors.get('tdfData', 'leadPresence')" :error-label="errors.get('tdfData', 'leadPresence')">
              <q-select
                data-cy="passport-tdfData-leadPresence"
                float-label="Présence de plomb"
                v-model="passport.tdfData.leadPresence"
                :options="options(Enum.tdfPresence)"
                @change="errors.unset('tdfData', 'leadPresence')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="offset-1 col-5"
              :error="!!errors.get('tdfData', 'leadLastControl')"
              :error-label="errors.get('tdfData', 'leadLastControl')"
            >
              <q-select
                data-cy="passport-tdfData-leadLastControl"
                float-label="Date du dernier contrôle"
                v-model="passport.tdfData.leadLastControl"
                :options="options(Enum.tdfControlState)"
                @change="errors.unset('tdfData', 'leadLastControl')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="row col-12">
            <q-field
              class="offset-1 col-5"
              :error="!!errors.get('tdfData', 'asbestosPresence')"
              :error-label="errors.get('tdfData', 'asbestosPresence')"
            >
              <q-select
                data-cy="passport-tdfData-asbestosPresence"
                float-label="Présence d'amiante"
                v-model="passport.tdfData.asbestosPresence"
                :options="options(Enum.tdfPresence)"
                @change="errors.unset('tdfData', 'asbestosPresence')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="offset-1 col-5"
              :error="!!errors.get('tdfData', 'asbestosLastControl')"
              :error-label="errors.get('tdfData', 'asbestosLastControl')"
            >
              <q-select
                data-cy="passport-tdfData-asbestosLastControl"
                float-label="Date du dernier contrôle"
                v-model="passport.tdfData.asbestosLastControl"
                :options="options(Enum.tdfControlState)"
                @change="errors.unset('tdfData', 'asbestosLastControl')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="row col-12">
            <q-field
              class="offset-1 col-5"
              :error="!!errors.get('tdfData', 'termitesPresence')"
              :error-label="errors.get('tdfData', 'termitesPresence')"
            >
              <q-select
                data-cy="passport-tdfData-termitesPresence"
                float-label="Présence de termites"
                v-model="passport.tdfData.termitesPresence"
                :options="options(Enum.tdfPresence)"
                @change="errors.unset('tdfData', 'termitesPresence')"
                :readonly="isReadOnly"
              />
            </q-field>
            <q-field
              class="offset-1 col-5"
              :error="!!errors.get('tdfData', 'termitesLastControl')"
              :error-label="errors.get('tdfData', 'termitesLastControl')"
            >
              <q-select
                data-cy="passport-tdfData-termitesLastControl"
                float-label="Date du dernier contrôle"
                v-model="passport.tdfData.termitesLastControl"
                :options="options(Enum.tdfControlState)"
                @change="errors.unset('tdfData', 'termitesLastControl')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
          <div class="row col-12">
            <q-field class="offset-1 col-5" :error="!!errors.get('tdfData', 'epcs')" :error-label="errors.get('tdfData', 'epcs')">
              <q-select
                data-cy="passport-tdfData-epcsControlState"
                float-label="DPE"
                v-model="passport.tdfData.epcs"
                :options="options(Enum.epcsControlState)"
                @change="errors.unset('tdfData', 'epcs')"
                :readonly="isReadOnly"
              />
            </q-field>
            <div class="col-5 offset-1 row">
              <div class="col-5">
                <q-input
                  data-cy="passport-pec"
                  type="number"
                  float-label="Consommation conventionnelle"
                  v-model="passport.pec"
                  suffix="kWh Ep/m²/an"
                  @change="errors.unset('ventsData', 'surface')"
                  :disabled="autoVentsSurface"
                  :readonly="isReadOnly"
                />
              </div>
              <div class="col-5 offset-2">
                <q-input
                  data-cy="passport-ventsData-surface"
                  type="number"
                  float-label="Emissions"
                  v-model="passport.emissions"
                  suffix="kg eqCO2/m²/an"
                  @change="errors.unset('ventsData', 'surface')"
                  :disabled="autoVentsSurface"
                  :readonly="isReadOnly"
                />
              </div>
            </div>
          </div>
          <div class="row col-12">
            <q-field
              label="Fosse sceptique individuelle"
              class="offset-1 col-5"
              :error="!!errors.get('tdfData', 'septicTankIndividual')"
              :error-label="errors.get('tdfData', 'septicTankIndividual')"
            >
              <q-option-group
                data-cy="passport-tdfData-septicTankIndividual"
                v-model="passport.tdfData.septicTankIndividual"
                inline
                :options="[{label: 'Oui', value: true}, {label: 'Non', value: false}]"
                @change="errors.unset('tdfData', 'septicTankIndividual')"
                :readonly="isReadOnly"
              />
            </q-field>
          </div>
        </div>
      </div>
      <div class="offset-1 col-11 no-wrap row justify-around saveBar">
        <q-btn
          v-if="$api.granted(['Admin','Auditor'])"
          data-cy="passport-btn-cancel"
          color="grey-7"
          @click="reload()"
          :disabled="!passport.id"
        >Annuler</q-btn>
        <q-btn v-if="$api.granted(['Admin','Auditor'])" data-cy="passport-btn-submit" color="primary" @click="saveHandler()">Enregistrer</q-btn>
        <div v-if="passport.id">
          <q-btn
            data-cy="passport-btn-updateSynthesis"
            color="primary"
            @click="$router.push('/admin/plan?plan=' + passport.renovationPlans[0].id)"
            v-if="$api.granted(['Admin','Auditor', 'User']) && passport.renovationPlans.length"
          >{{ isReadOnly ? 'Voir la synthèse' : 'Mettre à jour la synthèse' }}</q-btn>
          <q-btn
            data-cy="passport-btn-createSynthesis"
            color="primary"
            @click="$router.push('/admin/plan?passport=' + passport.id)"
            v-else-if="$api.granted(['Admin','Auditor'])"
            :disabled="!renovationPlanAvailable"
          >Créer la synthèse</q-btn>
          <q-btn
            class="q-ml-lg"
            color="primary"
            v-if="passport.renovationPlans.length && $api.granted(['Admin','Auditor'])"
            @click="sendPlan(getMostRecentPlan().id)"
            icon="fa fa-paper-plane"
          >
            <q-tooltip>Envoyer la synthèse</q-tooltip>
          </q-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ErrorsMap from '../../utils/ErrorsMap'
import InputAddress from '../generics/InputAddress'
import SelectObject from '../generics/SelectObject'
import VentsEnum from '../../enums/improvement/VentsEnum'

export default {
  components: {
    InputAddress,
    SelectObject
  },
  data () {
    return {
      isReadOnly: this.$api.granted('User'),
      passport: {},
      passportInitial: {},
      errors: new ErrorsMap(),
      loading: true,
      renovationPlanAvailable: false,
      ventilations: [],
      heatings: [],
      domesticHotWaters: [],
      autoVentsSurface: false,
      autoWallsSurface: false,
      autoFloorSurface: false,
      autoRoofSurface: false,
      Enum: {
        type: {
          HOUSE: 'Maison',
          APARTMENT: 'Appartement'
        },
        climateZone: {
          H1: 'H1',
          H2: 'H2',
          H3: 'H3'
        },
        surfaceType: {
          RECTANGULAR: { label: 'Carrée ou rectangulaire', value: 4.12 },
          ELONGATED: { label: 'Allongée', value: 4.81 },
          DEVELOPED: { label: 'Complexe', value: 5.81 }
        },
        adjacency: {
          NONE: { label: 'Indépendante', value: 1 },
          SMALL: { label: 'Accolée sur 1 petit côté', value: 0.8 },
          MEDIUM: {
            label: 'Accolée sur 1 grand ou 2 petits côtés',
            value: 0.7
          },
          LARGE: { label: 'Accolée sur 1 grand et 1 petit côté', value: 0.5 },
          X_LARGE: { label: 'Accolée sur 2 grands côtés', value: 0.36 }
        },
        floors: {
          ONE_LEVEL: { label: 'Maison sur 1 niveau', value: 1 },
          TWO_LEVELS_WITH_ATTIC: {
            label: 'Maison sur 2 niveaux dont combles aménagés',
            value: 1.5
          },
          TWO_LEVELS: { label: 'Maison sur 2 niveaux', value: 2 },
          THREE_LEVELS_WITH_ATTIC: {
            label: 'Maison sur 3 niveaux dont combles aménagés',
            value: 2.5
          },
          THREE_LEVELS: { label: 'Maison sur 3 niveaux', value: 3 }
        },
        southExposure: {
          SUFFICIENT: 'Suffisant',
          INSUFFICIENT: 'Insuffisant'
        },
        equipmentState: {
          NEW: 'État proche du neuf',
          USED: "État d'usage",
          FIXER_UPPER: 'Nécessite des travaux'
        },
        ...VentsEnum,
        tdfState: {
          NEW: 'État proche du neuf',
          USED: "État d'usage",
          FIXER_UPPER: 'Nécessite des travaux',
          NO_IDEA: 'Ne sait pas'
        },
        tdfControlState: {
          NONE: 'Pas de contrôle',
          LESS_THAN_3_YEARS: 'Moins de trois ans',
          MORE_THAN_3_YEARS: 'Plus de trois ans',
          NO_IDEA: 'Ne sait pas'
        },
        tdfPresence: {
          PRESENT: 'Oui',
          ABSENT: 'Non',
          NO_IDEA: 'Ne sait pas'
        },
        epcsControlState: {
          NONE: 'Pas de DPE',
          LESS_THAN_10_YEARS: 'DPE de moins de 10 ans',
          MORE_THAN_10_YEARS: 'DPE de plus de 10 ans',
          NO_IDEA: 'Ne sait pas'
        }
      }
    }
  },
  methods: {
    getMostRecentPlan () {
      if (!this.passport.renovationPlans.length) {
        return null
      }
      let plan = null
      this.passport.renovationPlans.forEach(currentPlan => {
        if (!plan || currentPlan.id > plan.id) {
          plan = currentPlan
        }
      })
      return plan
    },
    dhwSelected (newVal) {
      if (newVal.label === 'Liée au chauffage') {
        this.passport.dhwData.isCurrentSolar = false
        this.passport.dhwData.state = this.passport.heatingData.state
        this.passport.dhwData.rehabilitation = this.passport.heatingData.rehabilitation
        this.passport.dhwData.rehabilitationYear = this.passport.heatingData.rehabilitationYear
        this.passport.dhwData.maintenance = this.passport.heatingData.maintenance
      }
    },
    checkAttic (atticVal) {
      if (this.passport.id && atticVal.endsWith('WITH_ATTIC')) {
        if (!this.passport.roofData) {
          this.passport.roofData = { surface: this.computedRoofSurface }
        }
        this.passport.roofData.atticType = 'CONVERTED'
      }
      this.errors.unset('floors')
    },
    thermostatSelected (newVal) {
      if (!newVal) {
        this.passport.thermostatData.state = 'FIXER_UPPER'
      }
    },
    saveHandler () {
      const {dhwData, heatingData, ventilationData, airtightnessData, wallsData} = this.passport
      const {
        dhwData: dhwDataInitial, heatingData: heatingDataInitial, ventilationData: ventilationDataInitial,
        airtightnessData: airtightnessDataInitial, wallsData: wallsDataInitial
      } = this.passportInitial

      if (
        this.passport.id &&
        this.passport.renovationPlans[0] &&
        (
          (dhwData && dhwDataInitial && dhwData.plannedDhw.id !== dhwDataInitial.plannedDhw.id) ||
          (heatingData && heatingDataInitial && heatingData.plannedHeating.id !== heatingDataInitial.plannedHeating.id) ||
          (ventilationData && ventilationDataInitial && ventilationData.plannedVentilation.id !== ventilationDataInitial.plannedVentilation.id) ||
          (airtightnessData && airtightnessDataInitial && airtightnessData.plannedAirtightness.id !== airtightnessDataInitial.plannedAirtightness.id) ||
          (wallsData && wallsDataInitial && wallsData.plannedInsulation !== wallsDataInitial.plannedInsulation)
        )
      ) {
        this.$q.dialog({
          title: 'Confirmation',
          message: 'Vous venez de modifier un élément déterminant pour la constitution de la feuille de route de travaux. Si vous confirmez ce choix, vous devrez modifier la feuille de route en conséquence. Voulez-vous continuer ?',
          ok: 'Oui',
          cancel: 'Non'
        })
          .then(() => this.save())
          .then(() => this.updateRenovationPlan())
          .then(() => {
            this.$router.push('/admin/plan?plan=' + this.passport.renovationPlans[0].id)
          })
          .catch(() => {})
      } else {
        this
          .save()
          .then(() => this.updateRenovationPlan())
      }
    },
    updateRenovationPlan () {
      if (this.passport.renovationPlans && this.passport.renovationPlans[0]) {
        return this.$api.renovationPlans.update(this.passport.renovationPlans[0].id, { passport: { id: this.passport.renovationPlans[0].id } })
      }
    },
    save () {
      if (this.passport.id) {
        return this.$api
          .patch('passports/' + this.passport.id, this.passport)
          .then(response => {
            this.passport = response.body.passport
            this.passportInitial = JSON.parse(JSON.stringify(response.body.passport))
            this.renovationPlanAvailable = this.validForPlan(this.passport)
            this.$notifier.ok('Le passeport a bien été enregistré')
            this.errors.reset()
          })
          .catch(error => {
            this.errors.update(error.body.errors)
            if (error.status === 422) {
              this.$notifier.ko(
                'Veuillez corriger les erreurs présentes dans le formulaire'
              )
            }
          })
      } else {
        return this.$api
          .post('passports/', this.passport)
          .then(response => {
            this.passport = response.body.passport
            this.passportInitial = JSON.parse(JSON.stringify(response.body.passport))
            this.renovationPlanAvailable = this.validForPlan(this.passport)
            this.$router.replace(
              '/admin/passport?passport=' + this.passport.id
            )
            this.errors.reset()
            this.checkAttic(this.passport.floors)
            this.$notifier.ok('Le passeport a bien été enregistré')
          })
          .catch(error => {
            this.errors.update(error.body.errors)
            if (error.status === 422) {
              this.$notifier.ko(
                'Veuillez corriger les erreurs présentes dans le formulaire'
              )
            }
          })
      }
    },
    load () {
      let query = this.$route.query
      this.$api.ventilations.find({ params: { perpage: 100 } }).then(data => {
        this.ventilations = data.ventilations
      })
      this.$api.heatings.find({ params: { perpage: 100 } }).then(data => {
        this.heatings = data.heatings
      })
      this.$api.domesticHotWaters
        .find({ params: { perpage: 100 } })
        .then(data => {
          this.domesticHotWaters = data.domesticHotWaters
        })
      this.errors.unset('floors')
      if (query.passport) {
        this.$api.get('passports/' + query.passport).then(response => {
          this.passport = response.body.passport
          this.passportInitial = JSON.parse(JSON.stringify(response.body.passport))
          this.renovationPlanAvailable = this.validForPlan(this.passport)
          this.$forceUpdate()
          this.autoWallsSurface =
            !this.passport.wallsData ||
            this.passport.wallsData.surface === this.computedWallsSurface
          this.autoVentsSurface =
            !this.passport.ventsData ||
            this.passport.ventsData.surface === this.computedVentsSurface
          this.autoFloorSurface =
            !this.passport.floorData ||
            this.passport.floorData.surface === this.computedFloorSurface
          this.autoRoofSurface =
            !this.passport.roofData ||
            this.passport.roofData.surface === this.computedRoofSurface
          this.loading = false
        })
      } else if (query.lead) {
        this.$api.get('leads/' + query.lead).then(response => {
          this.passport.lead = { id: response.body.lead.id }
          this.renovationPlanAvailable = this.validForPlan(this.passport)
          this.autoWallsSurface = true
          this.autoVentsSurface = true
          this.autoRoofSurface = true
          this.autoFloorSurface = true
          this.$set(this.passport, 'address', response.body.lead.address)
          this.loading = false
        })
      }
    },
    sendPlan (planId) {
      this.$q.dialog({
        title: 'Confirmation d\'envoi',
        message: 'Vous allez envoyez la synthèse par email à la personne qui a soumis la demande de passeport. Êtes-vous sûr ?',
        ok: 'Oui',
        cancel: 'Non'
      })
        .then(() => {
          this.$api
            .sendPlan(planId, this.$api.connection.jwt)
            .then(data => {
              this.$notifier.ok('La synthèse a été envoyée')
            })
            .catch(data => {
              this.$notifier.ko("La synthèse n'a pas été envoyée")
            })
        }).catch(() => {})
    },
    reload () {
      if (this.passport.id) {
        this.$api.get('passports/' + this.passport.id).then(response => {
          this.passport = response.body.passport
          this.renovationPlanAvailable = this.validForPlan(this.passport)
        })
      }
    },
    options (Enum) {
      if (Enum instanceof Array) {
        return Enum.map(opt => {
          return opt instanceof Object ? opt : { label: opt, value: opt }
        })
      } else {
        let keys = Object.keys(Enum)
        return keys.map(key => {
          return {
            label: Enum[key] instanceof Object ? Enum[key].label : Enum[key],
            value: key
          }
        })
      }
    },
    validForPlan (passport) {
      return (
        passport.wallsData &&
        passport.floorData &&
        passport.roofData &&
        passport.ventsData &&
        passport.ventilationData &&
        passport.airtightnessData &&
        passport.heatingData &&
        passport.thermostatData &&
        passport.dhwData &&
        passport.tdfData
      )
    },
    updateWallsSurface () {
      if (
        this.autoWallsSurface &&
        this.passport.wallsData &&
        this.computedWallsSurface
      ) {
        this.passport.wallsData.surface = this.computedWallsSurface
      }
    },
    updateVentsSurface () {
      if (
        this.autoVentsSurface &&
        this.passport.ventsData &&
        this.computedVentsSurface
      ) {
        this.passport.ventsData.surface = this.computedVentsSurface
      }
    },
    updateFloorSurface () {
      if (
        this.autoFloorSurface &&
        this.passport.floorData &&
        this.computedFloorSurface
      ) {
        this.passport.floorData.surface = this.computedFloorSurface
      }
    },
    updateRoofSurface () {
      if (
        this.autoRoofSurface &&
        this.passport.roofData &&
        this.computedRoofSurface
      ) {
        this.passport.roofData.surface = this.computedRoofSurface
      }
    },
    openPlanPdf (id) {
      let src = this.$api.__domain + '/renovationPlans/' + id + '/synthese_passeport?jwt=' + this.$api.connection.jwt
      window.open(src, '_blank').focus()
    },
    getRoofCorrespondanceMsg () {
      switch (this.passport.roofData.atticType) {
        case 'NONE':
          return 'Terrasse'
        case 'CONVERTED':
          return 'Rampant'
        case 'CONVERTIBLE':
          return this.passport.roofData.atticTypePlanned ? 'Rampant' : 'Perdus'
        case 'NON_CONVERTIBLE':
          return 'Perdus'
        default:
          return 'N/A'
      }
    }
  },
  computed: {
    computedVentsSurface () {
      let heatedSurface = this.passport.heatedSurface
      if (heatedSurface) {
        return Math.round(0.18 * this.passport.heatedSurface)
      }
      return null
    },
    computedWallsSurface () {
      let heatedSurface = this.passport.heatedSurface
      let ventsSurface = this.passport.ventsData
        ? this.passport.ventsData.surface
        : this.computedVentsSurface
      let atticType = this.passport.roofData
        ? this.passport.roofData.atticType
        : null
      let adjacency = this.passport.adjacency
        ? this.Enum.adjacency[this.passport.adjacency].value
        : null
      let surfaceType = this.passport.surfaceType
        ? this.Enum.surfaceType[this.passport.surfaceType].value
        : null
      let floors = this.passport.floors
        ? this.Enum.floors[this.passport.floors].value
        : null
      let surface =
        adjacency * surfaceType * Math.sqrt(heatedSurface * floors) * 2.5
      if (atticType !== 'CONVERTED') {
        surface *= 0.8
      }
      surface -= ventsSurface
      return Math.round(surface)
    },
    computedFloorSurface () {
      let heatedSurface = this.passport.heatedSurface
      let floors = this.passport.floors
        ? this.Enum.floors[this.passport.floors].value
        : null
      let surface = heatedSurface / floors
      return Math.round(surface)
    },
    computedRoofSurface () {
      let heatedSurface = parseFloat(this.passport.heatedSurface)
      let floors = this.passport.floors
        ? this.Enum.floors[this.passport.floors].value
        : null
      let atticType = this.passport.roofData
        ? this.passport.roofData.atticType
        : null
      let surface = heatedSurface / floors
      if (atticType === 'CONVERTED') {
        surface *= 1.3
      }
      return Math.round(surface)
    }
  },
  watch: {
    computedVentsSurface () {
      this.updateVentsSurface()
    },
    computedWallsSurface () {
      this.updateWallsSurface()
    },
    computedFloorSurface () {
      this.updateFloorSurface()
    },
    computedRoofSurface () {
      this.updateRoofSurface()
    },
    autoVentsSurface () {
      this.updateVentsSurface()
    },
    autoWallsSurface () {
      this.updateWallsSurface()
    },
    autoFloorSurface () {
      this.updateFloorSurface()
    },
    autoRoofSurface () {
      this.updateRoofSurface()
    }
  },
  beforeMount () {
    this.load()
  }
}
</script>

<style scoped>
.data-block {
  margin-bottom: 32px;
}

.data-block-header {
  margin-bottom: 16px;
  text-decoration: underline;
}
</style>
