<template>
  <!-- if you want automatic padding use "layout-padding" class -->
  <div class="layout-padding">
    <q-table :selected-rows-label="selectedRowsLabel" :pagination-label="paginationLabel" rows-per-page-label="Résultats par pages" no-data-label="Aucun prix" no-results-label="Aucun résultat" row-key="name" :columns="columns" :pagination.sync="pagination" :filter="filter" :data="prices" :visible-columns="visibleColumns">
      <template slot="top-left" slot-scope="props">
        <q-search placeholder="Rechercher" v-model="filter" float-label="Chercher un prix" />
      </template>
      <q-td slot="body-cell-action" slot-scope="props">
        <div class="row justify-end">
          <q-btn round color="primary" small icon="edit" @click="edit(props.row)" v-if="$api.granted('Admin')">
            <q-tooltip>Modifier le prix</q-tooltip>
          </q-btn>
        </div>
      </q-td>
    </q-table>

    <q-modal v-model="openEditModal" no-backdrop-dismiss no-esc-dismiss :content-css="{minWidth: '80vw'}">
      <div v-if="!!price">
        <q-card>
          <span class="label block-header">Prix : {{price.label}}</span>
          <div class="row form-block">
            <q-field class="offset-1 col-10" :error="!!errors.has('priceRange')" :error-label="errors.get('priceRange')">
              <input-price-range v-model="price.priceRange" @change="errors.unset('priceRange')" />
            </q-field>
          </div>
          <div class="col-12 no-wrap row justify-around form-block">
            <q-btn @click="price = null">Annuler</q-btn>
            <q-btn color="primary" @click="save(price)">Enregistrer</q-btn>
          </div>
        </q-card>
      </div>
    </q-modal>
  </div>
</template>

<script>
import InputPriceRange from '../generics/InputPriceRange'
import RecursiveArray from '../../utils/RecursiveArray'
import SelectObject from '../generics/SelectObject'
import WallEnum from '../../enums/improvement/WallEnum'
import AirtightnessEnum from '../../enums/improvement/AirtightnessEnum'
import ZoneEnum from '../../enums/ZoneEnum'
import PriceEnum from '../../enums/PriceEnum'

export default {
  components: {
    InputPriceRange,
    SelectObject
  },
  data () {
    return {
      price: null,
      heatings: [],
      ventilations: [],
      domesticHotWaters: [],
      staticPrices: [],
      errors: new RecursiveArray(),
      visibleColumns: ['type', 'label', 'min', 'max', 'unit', 'action'],
      columns: [
        {
          label: 'Type',
          field: 'type',
          align: 'left',
          name: 'type',
          style: 'width: 120px',
          sortable: true
        },
        {
          label: 'Label',
          field: 'label',
          align: 'left',
          name: 'label',
          style: 'width: 180px',
          sortable: true
        },
        {
          label: 'Min',
          field: 'priceRange',
          format: val => val ? val.min : null,
          align: 'left',
          name: 'min',
          style: 'width: 80px',
          sortable: false
        },
        {
          label: 'Max',
          field: 'priceRange',
          format: val => val ? val.max : null,
          name: 'max',
          align: 'left',
          style: 'width: 80px',
          sortable: false
        },
        {
          label: 'Unité',
          field: 'priceRange',
          format: val => val ? this.Enum.priceUnit[val.unit] : null,
          align: 'left',
          name: 'unit',
          style: 'width: 80px',
          sortable: false
        },
        {
          label: 'Action',
          field: 'action',
          name: 'action',
          style: 'width: 70px'
        }
      ],
      pagination: {
        page: 1,
        rowsPerPage: 0
      },
      filter: '',
      Enum: {
        insulation: WallEnum.insulationType,
        ...AirtightnessEnum,
        ...ZoneEnum,
        ...PriceEnum
      }
    }
  },
  computed: {
    openEditModal () {
      return this.price !== null
    },
    prices () {
      let prices = []
      this.heatings.forEach(h => {
        prices.push({
          id: h.id,
          types: 'heatings',
          type: 'Chauffage',
          label: h.label,
          priceRange: h.priceRange
        })
      })
      this.ventilations.forEach(v => {
        prices.push({
          id: v.id,
          types: 'ventilations',
          type: 'Ventilation',
          label: v.label,
          priceRange: v.priceRange
        })
      })
      this.domesticHotWaters.forEach(d => {
        prices.push({
          id: d.id,
          types: 'domesticHotWaters',
          type: 'ECS',
          label: d.label,
          priceRange: d.priceRange
        })
      })
      this.staticPrices.forEach(s => {
        prices.push({
          id: s.label,
          types: 'staticPrices',
          type: this.Enum.staticType[s.label],
          label: this.Enum.staticLabel[s.label],
          priceRange: s.priceRange
        })
      })
      return prices
    }
  },
  methods: {
    selectedRowsLabel (rowsNumber) {
      if (rowsNumber === 1) {
        return rowsNumber + ' ligne sélectionnée'
      } else if (rowsNumber > 1) {
        return rowsNumber + ' lignes sélectionnées'
      } else {
        return ''
      }
    },
    paginationLabel (start, end, total) {
      return 'Résultats ' + start + ' à ' + end + ' sur ' + total
    },
    load () {
      this.refresh()
    },
    refresh () {
      this.$api.heatings
        .find({ params: { perpage: 1000, available: 1 } })
        .then(data => {
          this.heatings = data.heatings
        })
      this.$api.ventilations
        .find({ params: { perpage: 1000, available: 1 } })
        .then(data => {
          this.ventilations = data.ventilations
        })
      this.$api.domesticHotWaters
        .find({ params: { perpage: 1000, available: 1 } })
        .then(data => {
          this.domesticHotWaters = data.domesticHotWaters
        })
      this.$api.staticPrices.find({ params: { perpage: 1000 } }).then(data => {
        this.staticPrices = data.staticPrices
      })
    },
    edit (price) {
      this.price = Object.assign({}, price)
      this.price.priceRange = Object.assign({}, price.priceRange)
    },
    cancel () {
      this.combinatory = null
    },
    save (price) {
      this.$api[price.types]
        .update(price.id, { priceRange: price.priceRange })
        .then(data => {
          this.errors.reset()
          this.price = null
          this.load()
          this.$notifier.ok('Le prix a bien été mis à jour')
        })
        .catch(data => {
          this.errors.update(data.errors)
          this.$notifier.ko('Veuillez corriger les erreurs de formulaire')
        })
    }
  },
  beforeMount () {
    this.load()
  }
}
</script>

<style>
.block-header {
  text-decoration: underline;
  margin-left: 5px;
}

.form-block {
  padding-bottom: 16px;
}
</style>
