<template>
  <q-page padding>
    <!-- if you want automatic padding use "layout-padding" class -->
    <div class="row justify-center" v-if="!loading">
      <div class="row justify-center col-10 items-start">
        <div class="row col-6 col-md-6 col-xs-12 justify-center group">
          <q-field v-if="profile.roles.some(role => ['Auditor', 'Admin territory', 'User territory'].includes(role))" class="col-11" :error="!!errors.get('company')" :error-label="errors.get('company')">
            <q-input type="text" float-label="Entreprise/Organisme" v-model="profile.company" @change="errors.unset('company')"/>
          </q-field>
          <q-field class="col-11" :error="!!errors.get('firstname')" :error-label="errors.get('firstname')">
            <q-input type="text" float-label="Prénom" v-model="profile.firstname" @change="errors.unset('firstname')"/>
          </q-field>
          <q-field class="col-11" :error="!!errors.get('lastname')" :error-label="errors.get('lastname')">
            <q-input type="text" float-label="Nom" v-model="profile.lastname" @change="errors.unset('lastname')"/>
          </q-field>
          <q-field class="col-11">
            <q-input type="email" float-label="Adresse email" :value="profile.email" readonly disabled/>
          </q-field>
          <q-field class="col-11" :error="!!errors.get('address')" :error-label="errors.get('address')">
            <input-address float-label="Adresse complète" v-model="profile.address"/>
          </q-field>
          <div v-if="profile.address">
            <q-field class="col-11">
              <q-input type="text" float-label="Adresse" :value="profile.address.address" readonly disabled/>
            </q-field>
            <q-field class="col-11">
              <div class="row no-wrap">
                <q-input class="col-4" type="text" float-label="Code postal" :value="profile.address.zipcode" readonly disabled/>
                <q-input class="col-8" type="text" float-label="Ville" :value="profile.address.city" readonly disabled/>
              </div>
            </q-field>
          </div>
          <div v-if="profile.roles.includes('Auditor')" class="col-11 row">
            <q-field orientation="vertical" label="Distance maximale des demandes de passeports :">
              <q-slider
                v-model="userMaxFlyingDistance"
                :min="appMinFlyingDistance"
                :max="appMaxFlyingDistance"
                label-always
                label
                :label-value="`${userMaxFlyingDistance}km`"
              />
            </q-field>
          </div>
          <div class="col-11 no-wrap row justify-around">
            <q-btn color="grey-7" @click="load()">Annuler</q-btn>
            <q-btn color="primary" @click="save()">Enregistrer</q-btn>
          </div>
        </div>
        <div class="row col-6 col-md-6 col-xs-12 justify-center" v-if="(assignedLeads && assignedLeads.length) || (leads && leads.length)">
          <q-list highlight class="col-11">
            <q-list-header v-if="assignedLeads && assignedLeads.length">Audit(s)</q-list-header>
            <q-item sparse separator v-for="lead in assignedLeads" :key="lead.hash">
              <q-item-side class="map-container">
                <div class="fit">
                  <v-map ref="map" :zoom="zoom" :center="getCenter(lead.address)">
                    <v-tilelayer :url="url" attribution/>
                    <v-marker :lat-lng="getMarker(lead.address)" :icon="markerIcon"/>
                  </v-map>
                </div>
              </q-item-side>
              <q-item-main>
                <q-item-tile label>{{lead.owner.firstname}} {{lead.owner.lastname}}</q-item-tile>
                <q-item-tile label>{{lead.address.address}}, {{lead.address.city}}</q-item-tile>
                <q-item-tile sublabel v-if="lead.passport">
                  <i>
                    Audit réalisé
                    <span v-if="lead.passport.creationDate">le {{lead.passport.creationDate | moment('DD/MM/YY')}}</span>
                  </i>
                </q-item-tile>
                <q-item-tile sublabel v-else>
                  <i>Audit à réaliser</i>
                </q-item-tile>
              </q-item-main>
              <q-item-side right>
                <q-item-tile>
                  <q-btn flat class="no-padding" @click="editPassport(lead)">
                    <q-icon name="edit" color="green"/>
                    <q-tooltip>Modifier les informations de ce logement</q-tooltip>
                  </q-btn>
                </q-item-tile>
                <q-item-tile v-if="lead.passport && lead.passport.renovationPlans.length > 0">
                  <q-btn flat class="no-padding" @click="openPlanPdf(lead.passport.renovationPlans[0].id)">
                    <q-icon name="insert_chart" color="green"/>
                    <q-tooltip>Consulter la synthèse de l'audit</q-tooltip>
                  </q-btn>
                </q-item-tile>
              </q-item-side>
            </q-item>
            <q-list-header v-if="leads && leads.length">Logement(s)</q-list-header>
            <q-item sparse separator v-for="lead in leads" :key="lead.hash">
              <q-item-side class="map-container">
                <div class="fit">
                  <v-map ref="map" :zoom="zoom" :center="getCenter(lead.address)">
                    <v-tilelayer :url="url" attribution/>
                    <v-marker :lat-lng="getMarker(lead.address)" :icon="markerIcon"/>
                  </v-map>
                </div>
              </q-item-side>
              <q-item-main>
                <q-item-tile label>{{lead.address.address}}, {{lead.address.city}}</q-item-tile>
                <q-item-tile sublabel v-if="lead.passport">
                  <i>
                    Audit réalisé
                    <span v-if="lead.passport.creationDate">le {{lead.passport.creationDate | moment('DD/MM/YY')}}</span>
                    <span v-if="lead.passport.auditor">par {{lead.passport.auditor.firstname}} {{lead.passport.auditor.lastname}}</span>
                  </i>
                </q-item-tile>
                <q-item-tile sublabel v-else>
                  <i>Audit à réaliser</i>
                </q-item-tile>
              </q-item-main>
              <q-item-side right>
                <q-item-tile v-if="!lead.passport">
                  <q-btn flat class="no-padding" @click="editLead(lead)">
                    <q-icon name="edit" color="green"/>
                    <q-tooltip>Modifier les informations de ce logement</q-tooltip>
                  </q-btn>
                </q-item-tile>
                <q-item-tile v-if="lead.passport && lead.passport.renovationPlans.length > 0">
                  <q-btn flat class="no-padding" @click="openPlanPdf(lead.passport.renovationPlans[0].id)">
                    <q-icon name="insert_chart" color="green"/>
                    <q-tooltip>Consulter la synthèse de l'audit</q-tooltip>
                  </q-btn>
                </q-item-tile>
              </q-item-side>
            </q-item>
          </q-list>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import Vue2Leaflet from 'vue2-leaflet'
import L from 'leaflet'
import RecursiveArray from '../../utils/RecursiveArray'
import InputAddress from '../generics/InputAddress'

import markerIconImg from 'leaflet/dist/images/marker-icon.png'
import markerShadowImg from 'leaflet/dist/images/marker-shadow.png'

export default {
  components: {
    'v-map': Vue2Leaflet.LMap,
    'v-tilelayer': Vue2Leaflet.LTileLayer,
    'v-marker': Vue2Leaflet.LMarker,
    InputAddress
  },
  data () {
    return {
      profile: {},
      errors: new RecursiveArray(),
      zoom: 11,
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      assignedLeads: [],
      leads: [],
      loading: false,
      appMaxFlyingDistance: null,
      appMinFlyingDistance: null,
      markerIcon: L.icon({
        iconUrl: markerIconImg,
        shadowUrl: markerShadowImg,
        iconSize: [25, 41],
        iconAnchor: [13, 41]
      })
    }
  },
  computed: {
    userMaxFlyingDistance: {
      get: function () {
        return this.profile.maxFlyingDistance === null ? this.appMaxFlyingDistance : this.profile.maxFlyingDistance
      },
      set: function (newValue) {
        this.profile.maxFlyingDistance = newValue === this.appMaxFlyingDistance ? null : newValue
      }
    }
  },
  methods: {
    getCenter (address) {
      return [address.latitude, address.longitude]
    },
    getMarker (address) {
      return L.latLng(address.latitude, address.longitude)
    },
    save () {
      this.$api
        .patch('my/profile', this.profile)
        .then(response => {
          this.errors.reset()
          this.profile = response.body
          this.$notifier.ok('Le profil a bien été enregistré')
        })
        .catch(response => {
          this.errors.update(response.body.errors)
          if (response.status !== 422) {
            this.$notifier.ko('Erreur lors de la sauvegarde')
          }
        })
    },
    load () {
      this.loading = true
      let loads = 1
      this.$api.get('my/profile').then(response => {
        this.profile = response.body
        if (this.profile.roles.includes('Auditor')) {
          loads++
          this.$api.get('app/maxFlyingDistances').then(response => {
            this.appMaxFlyingDistance = parseInt(response.body.max)
            this.appMinFlyingDistance = parseInt(response.body.min)
            if (this.profile.maxFlyingDistance >= this.appMaxFlyingDistance) this.userMaxFlyingDistance = this.appMaxFlyingDistance
            this.$api.get('my/assignments').then(response => {
              this.assignedLeads = response.body.leads
              this.loading = --loads
            })
          })
        }
        if (this.profile.roles.includes('User')) {
          loads++
          this.$api.get('my/leads').then(response => {
            this.leads = response.body.leads
            this.loading = --loads
          })
        }
        this.loading = --loads
      })
    },
    editPassport (lead) {
      if (lead.passport) {
        this.$router.push('/admin/passport?passport=' + lead.passport.id)
      } else {
        this.$router.push('/admin/passport?lead=' + lead.id)
      }
    },
    editLead (lead) {
      this.$router.push('/admin/lead?lead=' + lead.id)
    },
    openPlanPdf (id) {
      let src =
          this.$api.__domain +
          '/renovationPlans/' +
          id +
          '/synthese_passeport?jwt=' +
          this.$api.connection.jwt
      window.open(src, '_blank').focus()
    }
  },
  beforeMount () {
    this.load()
  }
}
</script>

<style>
@import "~leaflet/dist/leaflet.css";
</style>

<style scoped>
.map-container {
  height: 100px;
  width: 120px;

  .map-container.leaflet-control-container {
    display: none;
  }
}
</style>
