<template>
  <!-- if you want automatic padding use "layout-padding" class -->
  <div class="layout-padding">
    <q-table
      :selected-rows-label="selectedRowsLabel"
      :pagination-label="paginationLabel"
      rows-per-page-label="Résultats par pages"
      no-data-label="Aucune feuille de route"
      no-results-label="Aucun résultat"
      :data="renovationPlans"
      :columns="columns"
      row-key="id"
      :pagination.sync="pagination"
      :filter="filter"
      :visible-columns="visibleColumns"
    >
      <template slot="top-left" slot-scope="{}">
        <q-search placeholder="Rechercher" v-model="filter" float-label="Chercher une feuille de route"/>
      </template>
      <q-td slot="body-cell-combinatory" slot-scope="props">
        <span v-if="props.row.improvement.combinatory.code">{{props.row.improvement.combinatory.code}} -</span>
        <span>{{props.row.improvement.combinatory.level}}</span>
        <span v-if="props.row.improvement.combinatory.number">({{props.row.improvement.combinatory.number}})</span>
      </q-td>

      <!-- Custom renderer for "status" column with stepper for status -->
      <q-td :data-cy="'renovationsplans-status-id-'+props.row.id" slot="body-cell-status" slot-scope="props">
        <q-btn-group class="q-mr-md" v-if="!$api.granted('User')">
          <q-btn
            :data-cy="'renovationsplans-status-draft-id-'+props.row.id"
            :outline="props.row.status !== 'DRAFT'"
            @click="setStatus(props.row, 'DRAFT')"
            color="primary"
            icon="file_copy"
          >
            <q-tooltip>Brouillon</q-tooltip>
          </q-btn>
          <q-btn
            :data-cy="'renovationsplans-status-validated-id-'+props.row.id"
            :outline="props.row.status !== 'VALIDATED'"
            @click="setStatus(props.row, 'VALIDATED')"
            color="primary"
            icon="done"
          >
            <q-tooltip>Validé</q-tooltip>
          </q-btn>
          <q-btn
            :data-cy="'renovationsplans-status-archived-id-'+props.row.id"
            :outline="props.row.status !== 'ARCHIVED'"
            @click="setStatus(props.row, 'ARCHIVED')"
            color="primary"
            icon="archive"
          >
            <q-tooltip>Archivé</q-tooltip>
          </q-btn>
        </q-btn-group>
      </q-td>

      <!-- Custom renderer for "action" column with button for custom action -->
      <q-td :data-cy="'renovationsplans-rp-id-'+props.row.id" slot="body-cell-action" slot-scope="props">
        <q-btn
          :data-cy="'renovationsplans-rp-edit-id-'+props.row.id"
          round
          color="primary"
          small
          icon="edit"
          @click="$router.push('/admin/plan?plan=' + props.row.id)"
        >
          <q-tooltip>Modifier les informations</q-tooltip>
        </q-btn>
        <q-btn round color="primary" small icon="assignment" @click="openPlanPdf(props.row.id)">
          <q-tooltip>Visualiser la synthèse</q-tooltip>
        </q-btn>
      </q-td>
    </q-table>
  </div>
</template>

<script>

export default {
  data () {
    return {
      renovationPlans: [],
      columns: [
        {
          label: 'Propriétaire',
          format: val => val.owner ? val.owner.firstname + ' ' + val.owner.lastname : null,
          name: 'owner',
          field: 'passport',
          style: 'width:180px',
          sortable: true,
          sort: (val1, val2) => {
            if (val1.owner && val2.owner) {
              return (val1.owner.firstname + ' ' + val1.owner.lastname) < (val2.owner.firstname + ' ' + val2.owner.lastname) ? -1 : 1
            } else if (!val1.owner) {
              return -1
            } else {
              return 1
            }
          },
          align: 'left'
        },
        { label: 'Adresse', format: val => val.address ? val.address.address : null, name: 'address', field: 'passport', style: 'width:180px', align: 'left' },
        { label: 'Code postal',
          format: val => val.address ? val.address.zipcode : null,
          name: 'zipcode',
          field: 'passport',
          style: 'width:80px',
          sortable: true,
          sort: (val1, val2) => {
            if (val1.address && val2.address) {
              return val1.address.zipcode < val2.address.zipcode ? -1 : 1
            } else if (!val1.address) {
              return -1
            } else {
              return 1
            }
          },
          align: 'left' },
        { label: 'Ville',
          format: val => val.address ? val.address.city : null,
          name: 'city',
          field: 'passport',
          style: 'width:100px',
          sortable: true,
          sort: (val1, val2) => {
            if (val1.address && val2.address) {
              return val1.address.city < val2.address.city ? -1 : 1
            } else if (!val1.address) {
              return -1
            } else {
              return 1
            }
          },
          align: 'left' },
        ...(this.$api.logged().profiles.includes('Admin') ? [{ label: 'Auditeur',
          format: val => val.auditor ? val.auditor.firstname + ' ' + val.auditor.lastname : null,
          name: 'auditor',
          field: 'passport',
          style: 'width:180px',
          sortable: true,
          sort: (val1, val2) => {
            if (val1.auditor && val2.auditor) {
              return (val1.auditor.firstname + ' ' + val1.auditor.lastname) < (val2.auditor.firstname + ' ' + val2.auditor.lastname) ? -1 : 1
            } else if (!val1.auditor) {
              return -1
            } else {
              return 1
            }
          },
          align: 'left' }] : []),
        { label: 'Combinatoire', name: 'combinatory', field: 'combinatory', style: 'width:180px', sortable: true, align: 'left' },
        {
          format: val => {
            const date = val.modificationDate ? val.modificationDate : val.creationDate
            return new Date(date).toLocaleString('fr-FR')
          },
          label: 'Date',
          name: 'date',
          field: 'passport',
          style: 'width: 120px',
          align: 'left',
          sortable: true,
          sort: (val1, val2) => {
            return val1 < val2 ? -1 : 1
          }
        },
        { label: 'Status', name: 'status', field: 'status', style: 'width:100px', align: 'left' },
        { label: 'Actions', name: 'action', field: 'action', style: 'width:150px', align: 'left' }
      ],
      visibleColumns: ['owner', 'address', 'zipcode', 'city', 'auditor', 'combinatory', 'status', 'date', 'action'],
      pagination: {
        page: 1,
        rowsPerPage: 20
      },
      filter: '',
      loading: false
    }
  },
  methods: {
    setStatus (plan, status) {
      plan.status = status
      this.$api.renovationPlans.update(plan.id, plan)
        .then(data => {
          this.$notifier.ok('Le status a bien été enregistrée')
          this.refresh()
        })
        .catch(data => {
          this.$notifier.ko("Le status n'a pas été enregistrée")
          this.refresh()
        })
    },
    selectedRowsLabel (rowsNumber) {
      if (rowsNumber === 1) {
        return rowsNumber + ' ligne sélectionnée'
      } else if (rowsNumber > 1) {
        return rowsNumber + ' lignes sélectionnées'
      } else {
        return ''
      }
    },
    paginationLabel (start, end, total) {
      return 'Résultats ' + start + ' à ' + end + ' sur ' + total
    },
    refresh () {
      this.loading = true
      this.$api.renovationPlans.find({
        params: {
          perpage: 10000
        }
      })
        .then(data => {
          this.renovationPlans = data.renovationPlans
        })
        .catch(response => {
          if (response.code === 403) {
            // TODO: Oops, you've been disconnected => href="/login"
          }
        })
        .finally(() => {
          this.loading = false
        })
    },
    openPlanPdf (id) {
      let src = this.$api.__domain + '/renovationPlans/' + id + '/synthese_passeport?jwt=' + this.$api.connection.jwt
      window.open(src, '_blank').focus()
    }
  },
  beforeMount () {
    this.refresh()
  }
}
</script>

<style>
</style>
