<template>
  <!-- if you want automatic padding use "layout-padding" class -->
  <q-item-main class="layout-padding row justify-center">
    <div v-if="renovationPlan.id && !isReadOnly" class="offset-9 col-3 row justify-end items-center">
      Status :
      <q-btn-group class="q-ml-sm">
        <q-btn
          :data-cy="'renovationsplans-status-draft-id-'+renovationPlan.id"
          :outline="renovationPlan.status !== 'DRAFT'"
          @click="setStatus('DRAFT')"
          color="primary"
          icon="file_copy"
        >
          <q-tooltip>Brouillon</q-tooltip>
        </q-btn>
        <q-btn
          :data-cy="'renovationsplans-status-validated-id-'+renovationPlan.id"
          :outline="renovationPlan.status !== 'VALIDATED'"
          @click="setStatus('VALIDATED')"
          color="primary"
          icon="done"
        >
          <q-tooltip>Validé</q-tooltip>
        </q-btn>
        <q-btn
          :data-cy="'renovationsplans-status-archived-id-'+renovationPlan.id"
          :outline="renovationPlan.status !== 'ARCHIVED'"
          @click="setStatus('ARCHIVED')"
          color="primary"
          icon="archive"
        >
          <q-tooltip>Archivé</q-tooltip>
        </q-btn>
      </q-btn-group>
    </div>

    <div class="row col-10 justify-center items-start">
      <h4 class="q-my-md" data-cy="renovationPlan-title">Résultat Audit</h4>
    </div>

    <h6 class="q-my-md" v-if="!isReadOnly">Combinatoires de performance énergétique éligibles</h6>
    <div class="row col-12 data-block" v-if="!isReadOnly">
      <q-field class="offset-3 col-6" :error="!!errors.get('improvement', 'combinatory')" :error-label="errors.get('improvement', 'combinatory')">
        <select-object
          data-cy="renovationPlan-improvement-combinatory"
          float-label="Combinatoire"
          v-model="renovationPlan.improvement.combinatory"
          :options="combinatories"
          :format="formatCombinatory"
          @change="errors.unset('type')"
        />
      </q-field>
    </div>

    <template v-if="renovationPlan.id">
      <h6 class="q-my-md">Améliorations du logement possibles</h6>

      <div class="row col-12 gutter-x-sm">
        <q-list inset-separator class="col-9 highlight item-list no-scroll">
          <q-item>
            <q-item-side></q-item-side>
            <q-item-main>
              <div class="row text-center text-weight-bold">
                <div class="col-6 row">
                  <div class="col-1"></div>
                  <div class="col-3">Lot</div>
                  <div class="col-3">État</div>
                  <div class="col-1"></div>
                  <div class="col-4">Solution Préconisée</div>
                </div>
                <div class="col-1">Prix Min</div>
                <div class="col-1">Prix Max</div>
                <div class="col-4 q-pl-sm">Remarques</div>
              </div>
            </q-item-main>
          </q-item>
          <template v-for="phase in Enum.phases">
            <q-list-header :key="'list-header-phase-'+phase.value">{{getPhaseTitle(phase.value)}}</q-list-header>
            <q-item
              v-for="item in getImprovementListByPhase(phase.value)"
              :key="'improvement-pĥase-'+phase.value+'-item-'+item.label"
              :data-cy="'phase-'+phase.value"
            >
              <q-item-side class="custom-vertical-top" v-if="!isReadOnly">
                <q-btn
                  :data-cy="item.slug+'-switch-phase-btn'"
                  v-if="!item.allPhases"
                  flat
                  :loading="computing"
                  :disabled="computing"
                  icon="import_export"
                  class="no-padding q-mt-md"
                  @click="changePhase(item)"
                />
              </q-item-side>
              <q-item-main class="no-margin">
                <div class="row items-center text-center">
                  <div class="col-12 row">
                    <div class="col-6 row items-center">
                      <div class="col-1 row">
                        <div :class="'align-center icon-'+phase.iconColor" v-html="item.icon"></div>
                      </div>
                      <div class="col-3 q-px-sm">{{item.label}}</div>
                      <div class="col-2">{{item.state}}</div>
                      <div class="col-2 q-pb-md q-pr-sm">
                        <q-input
                          v-if="item.type==='improvement'"
                          align="center"
                          hide-underline
                          :value="item.interventionYear"
                          float-label="Vétusté"
                          readonly
                        />
                        <q-input v-else-if="item.type==='tdf'" align="center" hide-underline :value="item.control" float-label="Contrôle" readonly />
                      </div>
                      <div class="col-4 q-px-sm">{{item.plannedSolution}}</div>
                    </div>
                    <div class="col-6 row">
                      <div class="col-2 q-pr-sm">
                        <q-input
                          hide-underline
                          type="number"
                          suffix="€"
                          class="trick-chrome-width"
                          :float-label="getMinPrice(item)"
                          v-model="renovationPlan[item.type][item.slug+'DefinedPriceMin']"
                          :data-cy="item.slug+'-defined-price-min'"
                          :readonly="isReadOnly"
                        />
                      </div>
                      <div class="col-2 q-pr-sm">
                        <q-input
                          :error="!!errors.get(item.type, item.slug+'DefinedPriceMax')"
                          hide-underline
                          type="number"
                          suffix="€"
                          class="trick-chrome-width"
                          :float-label="getMaxPrice(item)"
                          v-model="renovationPlan[item.type][item.slug+'DefinedPriceMax']"
                          :data-cy="item.slug+'-defined-price-max'"
                          :readonly="isReadOnly"
                        />
                      </div>
                      <div v-if="item.type==='improvement'" class="col-8">
                        <q-input
                          :data-cy="'renovationPlan-improvement-'+item.slug+'-comment'"
                          hide-underline
                          type="textarea"
                          float-label="Remarque - Existant"
                          v-model="renovationPlan.passport[item.slug+'Data'].comment"
                          :readonly="isReadOnly"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="offset-6 col-2">
                    <div
                      v-if="!!errors.get([item.type], item.slug+'DefinedPriceMax')"
                      class="q-caption text-negative q-pr-md"
                    >{{errors.get([item.type], item.slug+'DefinedPriceMax')}}</div>
                  </div>
                  <div v-if="item.type==='improvement'" class="col-4">
                    <q-input
                      :data-cy="'renovationPlan-improvement-'+item.slug+'-projectComment'"
                      float-label="Remarque - Projet"
                      type="textarea"
                      v-model="renovationPlan.passport[item.slug+'Data'].projectComment"
                      hide-underline
                      :readonly="isReadOnly"
                    />
                  </div>
                </div>
              </q-item-main>
            </q-item>
          </template>
        </q-list>

        <div class="col-3">
          <q-list highlight data-cy="vigilance-point">
            <div class="text-center text-weight-bold q-ma-sm">
              <span>Points de Vigilance</span>
            </div>

            <div v-if="vigilancePoints.length === 0" align="center" data-cy="vigilance-point-info-empty">Aucun point de vigilance</div>

            <div v-for="vp in vigilancePoints" :key="vp.id" :class="[`q-px-sm ${computeVigilancePointClass(vp.selected, vp.complexity)}`]">
              <div class="row col-12 justify-between items-center q-pb-sm">
                <span class="col-1">
                  <q-icon name="warning" style="font-size: 25px" />
                </span>

                <span class="col-9" style="text-align: right">
                  <div class="row col-12 justify-between items-center vp-title" v-html="vp.title"></div>
                </span>

                <span class="col-2" style="text-align: right">
                  <q-btn
                    round
                    flat
                    color="primary"
                    :icon="!collapsedVPs[vp.vpId] ? 'arrow_drop_down' : 'arrow_right'"
                    :data-cy="`vigilance-point-handle-content-${vp.vpId}`"
                    @click="handleVpContent(vp.vpId)"
                  />
                </span>
              </div>

              <div class="row col-12" v-if="!collapsedVPs[vp.vpId]">
                <div class="row col-2">
                  <q-toggle
                    v-model="vp.selected"
                    @input="toggleRpVigilancePoint(vp.id)"
                    :data-cy="`vigilance-point-disable-id-${vp.vpId}`"
                    :disabled="!$api.granted(['Admin','Auditor'])"
                  >
                    <q-tooltip>Point de vigilance non pertinent pour ce logement</q-tooltip>
                  </q-toggle>
                </div>

                <div :data-cy="`vigilance-point-description-${vp.vpId}`">{{ vp.description }}</div>
              </div>
            </div>
          </q-list>
        </div>
      </div>

      <div class="row col-12 data-block" v-if="renovationPlan.id">
        <q-field class="col-12" :error="!!errors.get('tdf', 'comment')" :error-label="errors.get('tdf', 'comment')">
          <q-input
            type="textarea"
            v-model="renovationPlan.tdf.comment"
            float-label="Commentaires DDT"
            @change="errors.unset('tdf', 'comment')"
            :readonly="isReadOnly"
          />
        </q-field>
      </div>

      <div class="row col-12 q-mb-xl justify-center" v-if="renovationPlan.id">
        <h6 class="q-my-md col-12 text-center">Coût des travaux</h6>
        <table class="works-costs">
          <tr>
            <th></th>
            <th>Estimation</th>
            <th>basse</th>
            <th>haute</th>
          </tr>
          <template v-for="(phase, key) in globalPriceRangesByPhase">
            <tr v-if="key==='total'" :key="'separator-phase-'+key">
              <td colspan="4">
                <hr />
              </td>
            </tr>
            <tr :key="'auditor-prices-phase-'+key">
              <td>
                <span class="text-weight-bold">{{phase.label}}</span>
              </td>
              <td>
                <span>Passeporteur</span>
              </td>
              <td>
                <q-input :data-cy="'phase-'+key+'-renovationPlan-prices-defined-min'" type="text" :value="phase.definedMin" suffix="€" readonly />
              </td>
              <td>
                <q-input :data-cy="'phase-'+key+'-renovationPlan-prices-defined-max'" type="text" :value="phase.definedMax" suffix="€" readonly />
              </td>
            </tr>
            <tr :key="'default-prices-phase-'+key">
              <td></td>
              <td>
                <span disabled>Par défaut</span>
              </td>
              <td>
                <q-input
                  :data-cy="'phase-'+key+'-renovationPlan-prices-default-min'"
                  type="text"
                  :value="phase.defaultMin"
                  suffix="€"
                  disabled
                  :readonly="isReadOnly"
                />
              </td>
              <td>
                <q-input
                  :data-cy="'phase-'+key+'-renovationPlan-prices-default-max'"
                  type="text"
                  :value="phase.defaultMax"
                  suffix="€"
                  disabled
                  :readonly="isReadOnly"
                />
              </td>
            </tr>
            <tr :key="'spacer-phase-'+key" class="spacer"></tr>
          </template>
          <tr>
            <td></td>
            <td colspan="3">
              <q-field class="col-12" :error="!!errors.get('budgetComment')" :error-label="errors.get('budgetComment')">
                <q-input
                  data-cy="renovationPlan-prices-comments"
                  type="textarea"
                  float-label="Commentaires budget"
                  v-model="renovationPlan.budgetComment"
                  @change="errors.unset('budgetComment')"
                  :readonly="isReadOnly"
                />
              </q-field>
            </td>
          </tr>
        </table>
      </div>
    </template>

    <div class="offset-1 col-6 no-wrap row justify-around saveBar">
      <q-btn
        data-cy="renovationPlan-btn-passport"
        v-if="$api.granted(['Admin','Auditor', 'User'])"
        @click="$router.push(`/admin/passport?passport=${renovationPlan.passport.id}`)"
        icon="home"
        color="grey-7"
      >
        <q-tooltip>Aller au passeport</q-tooltip>
      </q-btn>
      <q-btn
        data-cy="renovationPlan-btn-syncPassport"
        @click="resync"
        color="secondary"
        v-if="renovationPlan.id && $api.granted(['Admin','Auditor'])"
      >Réimporter les données du passeport</q-btn>
    </div>
    <div class="col-2 no-wrap row saveBar">
      <q-btn
        :loading="computing"
        data-cy="renovationPlan-btn-submit"
        v-if="$api.granted(['Admin','Auditor'])"
        @click="save"
        color="primary"
      >Enregistrer</q-btn>
      <q-btn
        data-cy="renovationPlan-btn-pdf"
        v-if="renovationPlan.id && $api.granted(['Admin','Auditor', 'User'])"
        @click="displayPlanPdf = true"
        color="primary"
        icon="assignment"
        class="q-ml-lg"
      >
        <q-tooltip>Visualiser la synthèse</q-tooltip>
      </q-btn>
      <q-btn class="q-ml-lg" color="primary" v-if="renovationPlan.id && $api.granted(['Admin','Auditor'])" @click="sendPlan" icon="fa fa-paper-plane">
        <q-tooltip>Envoyer la synthèse</q-tooltip>
      </q-btn>
    </div>
    <q-modal class="row" maximized v-model="displayPlanPdf">
      <div class="col-12 row justidy-center pdf-modal-header">
        <q-btn class="col-1 q-ma-sm pdf-close-btn" color="primary" @click="displayPlanPdf = false" label="Fermer" />
      </div>
      <div class="pdf-modal-content">
        <pdf-viewer :url="pdfUrl"></pdf-viewer>
      </div>
    </q-modal>
  </q-item-main>
</template>

<script>
import ErrorsMap from '../../utils/ErrorsMap'
import SelectObject from '../generics/SelectObject'
import PdfViewer from '../generics/PdfViewer'

var Insulations = {
  ITI: 'ITI',
  ETI: 'ITE'
}

export default {
  components: {
    SelectObject,
    PdfViewer
  },
  data () {
    return {
      computing: false,
      displayPlanPdf: false,
      pdfUrl: '',
      isReadOnly: this.$api.granted('User'),
      renovationPlan: {
        improvement: {},
        tdf: {}
      },
      errors: new ErrorsMap(),
      combinatories: [],
      priceRanges: {},
      improvmentIcons: {
        walls: '<img svg-inline svg-sprite src="./../../assets/renovationPlanIcons/walls.svg" class="svg-icon-lg" />'
      },
      vigilancePoints: [],
      collapsedVPs: {},
      Enum: {
        phases: [
          {
            label: 'Travaux immédiats',
            value: true,
            iconColor: 'red'
          },
          {
            label: 'Travaux ultérieurs',
            value: false,
            iconColor: 'orange'
          }
        ],
        improvementItems: {
          walls: {
            label: 'Murs',
            icon: '<img svg-inline svg-sprite src="./../../assets/renovationPlanIcons/walls.svg" class="svg-icon-lg" />',
            plannedSolutionLabel (renovationPlan) {
              return Insulations[renovationPlan.passport.wallsData.plannedInsulation] + ' ' + renovationPlan.improvement.combinatory.wallsValue + ' m².K/W'
            }
          },
          floor: {
            label: 'Plancher',
            icon: '<img svg-inline svg-sprite src="./../../assets/renovationPlanIcons/floor.svg" class="svg-icon-lg" />',
            plannedSolutionLabel (renovationPlan) {
              return renovationPlan.improvement.combinatory.floorValue + ' m².K/W'
            }
          },
          roof: {
            label: 'Toiture',
            icon: '<img svg-inline svg-sprite src="./../../assets/renovationPlanIcons/roof.svg" class="svg-icon-lg" />',
            plannedSolutionLabel (renovationPlan) {
              return renovationPlan.improvement.combinatory.roofValue + ' m².K/W'
            }
          },
          vents: {
            label: 'Ouvrants',
            icon: '<img svg-inline svg-sprite src="./../../assets/renovationPlanIcons/vents.svg" class="svg-icon-lg" />',
            plannedSolutionLabel (renovationPlan) {
              return renovationPlan.improvement.combinatory.ventsValue + ' W/m².K'
            }
          },
          heating: {
            icon: '<img svg-inline svg-sprite src="./../../assets/renovationPlanIcons/heating.svg" class="svg-icon-lg" />',
            label: 'Chauffage'
          },
          ventilation: {
            icon: '<img svg-inline svg-sprite src="./../../assets/renovationPlanIcons/ventilation.svg" class="svg-icon-lg" />',
            label: 'Ventilation'
          },
          thermostat: {
            label: 'Gestion dynamique du chauffage',
            icon: '<img svg-inline svg-sprite src="./../../assets/renovationPlanIcons/thermostat.svg" class="svg-icon-lg" />',
            plannedSolutionLabel (renovationPlan) {
              return 'pièce par pièce'
            }
          },
          dhw: {
            label: 'ECS',
            icon: '<img svg-inline svg-sprite src="./../../assets/renovationPlanIcons/dhw.svg" class="svg-icon-lg" />'
          },
          airtightness: {
            allPhases: true,
            label: "Étanchéité à l'air",
            icon: '<img svg-inline svg-sprite src="./../../assets/renovationPlanIcons/airtightness.svg" class="svg-icon-lg" />',
            plannedSolutionLabel (renovationPlan) {
              return renovationPlan.improvement.airtightnessValue + ' m³/m.h²'
            }
          }
        },
        tdfItems: {
          electricalWiring: {
            label: 'Installation électrique',
            icon: '<img svg-inline svg-sprite src="./../../assets/renovationPlanIcons/electricalWiring.svg" class="svg-icon-md" />'
          },
          gasSystem: {
            label: 'Installation de gaz',
            icon: '<img svg-inline svg-sprite src="./../../assets/renovationPlanIcons/gasSystem.svg" class="svg-icon-md" />'
          },
          plumbing: {
            label: 'Plomberie',
            icon: '<img svg-inline svg-sprite src="./../../assets/renovationPlanIcons/plumbing.svg" class="svg-icon-md" />'
          },
          lead: {
            label: 'Traitement plomb',
            icon: '<img svg-inline svg-sprite src="./../../assets/renovationPlanIcons/lead.svg" class="svg-icon-md" />'
          },
          asbestos: {
            label: 'Traitement amiante',
            icon: '<img svg-inline svg-sprite src="./../../assets/renovationPlanIcons/asbestos.svg" class="svg-icon-md" />'
          },
          termites: {
            label: 'Traitement termites',
            icon: '<img svg-inline svg-sprite src="./../../assets/renovationPlanIcons/termites.svg" class="svg-icon-md" />'
          },
          epcs: {
            label: 'DPE',
            icon: '<img svg-inline svg-sprite src="./../../assets/renovationPlanIcons/epcs.svg" class="svg-icon-md" />'
          },
          septicTank: {
            label: 'Fosse septique',
            icon: '<img svg-inline svg-sprite src="./../../assets/renovationPlanIcons/septicTank.svg" class="svg-icon-md" />'
          }
        },
        Control: {
          UP_TO_DATE: 'À jour',
          NOT_CONCERNED: 'Non concerné',
          TO_DO: 'À faire'
        },
        State: {
          0: 'Sans objet',
          1: 'Bon',
          2: 'Moyen',
          3: 'Mauvais'
        }
      }
    }
  },
  computed: {
    globalPriceRangesByPhase () {
      if (JSON.stringify(this.priceRanges) !== '{}') {
        let priceRanges = {}
        this.Enum.phases.forEach(phase => {
          priceRanges[phase.value] = {
            label: phase.label,
            defaultMin: Math.round(this.getImprovementListByPhase(phase.value).reduce((a, b) => {
              return this.priceRanges[b.type][b.slug] ? this.priceRanges[b.type][b.slug].min + a : a
            }, 0) / 1000) * 1000,
            defaultMax: Math.round(this.getImprovementListByPhase(phase.value).reduce((a, b) => {
              return this.priceRanges[b.type][b.slug] ? this.priceRanges[b.type][b.slug].max + a : a
            }, 0) / 1000) * 1000,
            definedMin: Math.round(this.getImprovementListByPhase(phase.value).reduce((a, b) => {
              return this.renovationPlan[b.type][b.slug + 'DefinedPriceMin'] ? this.renovationPlan[b.type][b.slug + 'DefinedPriceMin'] + a : this.priceRanges[b.type][b.slug] ? this.priceRanges[b.type][b.slug].min + a : a
            }, 0) / 1000) * 1000,
            definedMax: Math.round(this.getImprovementListByPhase(phase.value).reduce((a, b) => {
              return this.renovationPlan[b.type][b.slug + 'DefinedPriceMax'] ? this.renovationPlan[b.type][b.slug + 'DefinedPriceMax'] + a : this.priceRanges[b.type][b.slug] ? this.priceRanges[b.type][b.slug].max + a : a
            }, 0) / 1000) * 1000
          }
        })
        priceRanges['total'] = {
          label: 'TOTAL',
          defaultMin: Object.keys(priceRanges).reduce((a, phase) => {
            return priceRanges[phase].defaultMin + a
          }, 0),
          defaultMax: Object.keys(priceRanges).reduce((a, phase) => {
            return priceRanges[phase].defaultMax + a
          }, 0),
          definedMin: Object.keys(priceRanges).reduce((a, phase) => {
            return priceRanges[phase].definedMin + a
          }, 0),
          definedMax: Object.keys(priceRanges).reduce((a, phase) => {
            return priceRanges[phase].definedMax + a
          }, 0)
        }
        return priceRanges
      } else {
        return {}
      }
    }
  },
  methods: {
    setStatus (status) {
      this.renovationPlan.status = status
      this.save()
    },
    getPhaseTitle (phase) {
      if (phase) {
        return 'Travaux immédiats'
      } else {
        let maxUnselectedYear = Math.max(...this.getImprovementListByPhase(phase).filter(item => {
          return item.type === 'improvement'
        }).map(item => {
          return item.interventionYear
        }))
        let nextWorkYear = maxUnselectedYear % 5 === 0 ? maxUnselectedYear : maxUnselectedYear + 5 - maxUnselectedYear % 5
        let currentYear = new Date().getFullYear()
        return "Travaux à l'horizon " + (nextWorkYear - 3 < currentYear ? nextWorkYear + 5 : nextWorkYear)
      }
    },
    changePhase (item) {
      this.computing = true
      this.renovationPlan[item.type][item.slug + 'Selected'] = !this.renovationPlan[item.type][item.slug + 'Selected']
      this.save()
    },
    getMinPrice (item) {
      return this.priceRanges[item.type] && this.priceRanges[item.type][item.slug] ? this.priceRanges[item.type][item.slug].min + '€' : '0€'
    },
    getMaxPrice (item) {
      return this.priceRanges[item.type] && this.priceRanges[item.type][item.slug] ? this.priceRanges[item.type][item.slug].max + '€' : '0€'
    },
    isTdfDisplayed (item) {
      // TDF item is displayed only if control is "to do" or "state" is "bad" or worse
      return this.renovationPlan.tdf[item + 'Control'] === 'TO_DO' || this.renovationPlan.tdf[item + 'State'] >= 3
    },
    getImprovementListByPhase (selectedPhase) {
      let improvementList = []
      let tdfList = []
      let allPhasesList = []
      if (JSON.stringify(this.renovationPlan.improvement) !== '{}') {
        Object.keys(this.Enum.improvementItems).forEach(item => {
          if (this.renovationPlan.improvement[item + 'Selected'] === selectedPhase || this.Enum.improvementItems[item].allPhases) {
            let itemToAdd = {
              slug: item,
              type: 'improvement',
              allPhases: this.Enum.improvementItems[item].allPhases,
              icon: this.Enum.improvementItems[item].icon,
              label: this.Enum.improvementItems[item].label,
              state: this.Enum.State[this.renovationPlan.improvement[item + 'State'] ? this.renovationPlan.improvement[item + 'State'] : 0],
              interventionYear: this.renovationPlan.improvement[item + 'ProposedInterventionYear'],
              plannedSolution: this.Enum.improvementItems[item].plannedSolutionLabel
                ? this.Enum.improvementItems[item].plannedSolutionLabel(this.renovationPlan)
                : this.renovationPlan.improvement[item].label
            }
            this.Enum.improvementItems[item].allPhases ? allPhasesList.push(itemToAdd) : improvementList.push(itemToAdd)
          }
        })
      }

      if (JSON.stringify(this.renovationPlan.tdf) !== '{}') {
        Object.keys(this.Enum.tdfItems).forEach(item => {
          if (
            (this.renovationPlan.tdf[item + 'Selected'] === selectedPhase || this.Enum.tdfItems[item].allPhases) &&
            (this.isTdfDisplayed(item))
          ) {
            let itemToAdd = {
              slug: item,
              type: 'tdf',
              allPhases: this.Enum.tdfItems[item].allPhases,
              icon: this.Enum.tdfItems[item].icon,
              label: this.Enum.tdfItems[item].label,
              state: this.Enum.State[this.renovationPlan.tdf[item + 'State'] ? this.renovationPlan.tdf[item + 'State'] : 0],
              control: this.Enum.Control[this.renovationPlan.tdf[item + 'Control']]
            }
            this.Enum.tdfItems[item].allPhases ? allPhasesList.push(itemToAdd) : tdfList.push(itemToAdd)
          }
        })
      }

      improvementList = improvementList.sort((a, b) => {
        return a.interventionYear - b.interventionYear
      })
      tdfList = tdfList.sort((a, b) => {
        return a.interventionYear - b.interventionYear
      })
      allPhasesList = allPhasesList.sort((a, b) => {
        return a.interventionYear - b.interventionYear
      })
      return improvementList.concat(tdfList).concat(allPhasesList)
    },
    load () {
      let load1
      if (this.$route.query.passport) {
        load1 = this.$api.passports.get(this.$route.query.passport)
          .then(data => {
            this.renovationPlan.passport = data.passport
          })
          .catch(data => {
            // TODO: handle loading error
          })
      } else {
        load1 = this.$api.renovationPlans.get(this.$route.query.plan)
          .then(data => {
            this.renovationPlan = data.renovationPlan
          })
          .catch(data => {
            // TODO: handle loading error
          })
      }
      load1.then(() => {
        if (this.renovationPlan) {
          this.pdfUrl = `${this.$api.__domain}/renovationPlans/${this.renovationPlan.id}/synthese_passeport?jwt=${this.$api.connection.jwt}`
        }
        this.loadCombinatories()
        this.loadPriceRances()
        if (this.renovationPlan && this.renovationPlan.vigilancePoints) {
          this.formatRpVigilancePoints()
        }
      })
    },
    toFirstLetterUpper (s) {
      return s.charAt(0).toUpperCase() + s.slice(1)
    },
    loadCombinatories () {
      let passport = this.renovationPlan.passport
      let filter = {
        zone: passport.climateZone,
        insulation: passport.wallsData.plannedInsulation,
        airtightness: passport.airtightnessData.plannedAirtightness,
        ventilation: passport.ventilationData.plannedVentilation.id,
        heating: passport.heatingData.plannedHeating.id
      }
      this.$api.combinatories.find({ params: filter })
        .then(data => {
          this.combinatories = data.combinatories
        })
    },
    loadPriceRances () {
      if (this.renovationPlan.id) {
        this.$api.fetchPriceRanges(this.renovationPlan.id)
          .then(data => {
            this.priceRanges = data
          })
      }
    },
    save () {
      this.computing = true
      let http
      this.$api.patch('passports/' + this.renovationPlan.passport.id, this.renovationPlan.passport).then(response => {
        if (this.renovationPlan.id) {
          let form = {}
          Object.assign(form, this.renovationPlan)
          delete form.passport
          http = this.$api.renovationPlans.update(this.renovationPlan.id, form)
        } else {
          let form = {}
          Object.assign(form, this.renovationPlan)
          form.passport = { id: this.renovationPlan.passport.id }
          http = this.$api.renovationPlans.create(form)
            .then(data => {
              this.$router.replace('/admin/plan?plan=' + data.renovationPlan.id)
              return data
            })
        }
        http.then(data => {
          this.renovationPlan = data.renovationPlan
          this.errors.reset()
          this.loadPriceRances()
          this.$notifier.ok('La synthèse a bien été enregistrée')
          this.computeVigilancePoint()
        }).catch(data => {
          this.errors.update(data.errors)
          if (data.errors && data.errors.passport) {
            this.$notifier.ko('Création impossible : vérifiez que les données du passeport sont complètes')
          } else {
            this.$notifier.ko('La synthèse n\'a pas pu être enregistrée')
          }
          this.computing = false
        })
      }).catch(response => {
        this.errors.update(response.body.errors)
        if (response.status === 422) {
          this.$notifier.ko(
            'Erreur lors de la mise à jour du passeport'
          )
        }
        this.computing = false
      })
    },
    resync () {
      this.$api.renovationPlans.update(this.renovationPlan.id, { passport: { id: this.renovationPlan.passport.id } })
        .then(data => {
          if (this.renovationPlan) {
            this.pdfUrl = `${this.$api.__domain}/renovationPlans/${this.renovationPlan.id}/synthese_passeport?jwt=${this.$api.connection.jwt}`
          }
          this.loadCombinatories()
          this.loadPriceRances()
          this.errors.reset()
          this.$notifier.ok('La synthèse a bien été mise à jour')
        })
        .catch(data => {
          this.errors.update(data.errors)
          if (data.errors && data.errors.passport) {
            this.$notifier.ko('Mise à jour impossible : vérifiez que les données du passeport sont complètes')
          } else {
            this.$notifier.ko('La synthèse n\'a pas pu être mise à jour')
          }
        })
    },
    formatCombinatory (c) {
      let str = c.level
      if (c.number !== null) str += ' (' + c.number + ')'

      // CombinatoryValue
      // using &nbsp; for space because quasar delete consecutive spaces otherwise
      if (c.wallsValue !== null) str += `&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;R_mur=${c.wallsValue}`
      if (c.floorValue !== null) str += `&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;R_sol=${c.floorValue}`
      if (c.roofValue !== null) str += `&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;R_toit=${c.roofValue}`
      if (c.ventsValue !== null) str += `&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Uw=${c.ventsValue}`

      return str
    },
    sendPlan () {
      this.$q.dialog({
        title: 'Confirmation d\'envoi',
        message: 'Vous allez envoyez la synthèse par email à la personne qui a soumis la demande de passeport. Êtes-vous sûr ?',
        ok: 'Oui',
        cancel: 'Non'
      })
        .then(() => {
          this.$api
            .sendPlan(this.renovationPlan.id, this.$api.connection.jwt)
            .then(data => {
              this.$notifier.ok('La synthèse a été envoyée')
            })
            .catch(data => {
              this.$notifier.ko("La synthèse n'a pas été envoyée")
            })
        }).catch(() => {})
    },
    computeVigilancePoint () {
      this.$api.computeRpVigilancePoint(this.renovationPlan.id)
        .then(data => {
          this.renovationPlan = data.renovationPlan
          this.formatRpVigilancePoints()
          this.$notifier.ok('Les points de vigilances ont bien étés recalculés')
        }).catch(_error => {
          this.$notifier.ko('Problème lors du calcul des points de vigilance')
        }).finally(() => {
          this.computing = false
        })
    },
    formatRpVigilancePoints () {
      const formatedRpVigilancePoints = []

      this.renovationPlan.vigilancePoints.forEach(rpVigilancePoint => {
        const vigilancePoint = rpVigilancePoint.vigilancePoint
        if (this.collapsedVPs[vigilancePoint.id] === undefined) this.$set(this.collapsedVPs, vigilancePoint.id, false)

        formatedRpVigilancePoints.push({
          id: rpVigilancePoint.id,
          selected: rpVigilancePoint.selected,
          complexity: vigilancePoint.complexity,
          priority: vigilancePoint.priority,
          description: vigilancePoint.description,
          title: vigilancePoint.title,
          vpId: vigilancePoint.id
        })
      })

      this.vigilancePoints = formatedRpVigilancePoints
        .sort((a, b) => {
          return b.priority - a.priority
        })
        .sort((a, b) => {
          return b.selected - a.selected
        })
    },
    handleVpContent (vpId) {
      this.collapsedVPs[vpId] = !this.collapsedVPs[vpId]
      // this.formatRpVigilancePoints()
    },
    toggleRpVigilancePoint (vpId) {
      this.renovationPlan.vigilancePoints.forEach(rpVigilancePoint => {
        if (rpVigilancePoint.id === vpId) {
          rpVigilancePoint.selected = !rpVigilancePoint.selected
        }
      })
      this.formatRpVigilancePoints()
    },
    computeVigilancePointClass (selected, complexity) {
      if (!selected) {
        return 'vp-disable'
      }

      switch (complexity) {
        case 1:
          return 'vp-info'
        case 2:
          return 'vp-warning'
        case 3:
          return 'vp-danger'
        default:
          return ''
      }
    }
  },
  beforeMount () {
    this.load()
  }
}
</script>

<style>
.svg-icon-lg {
  max-height: 35pt;
  max-width: 35pt;
  margin-top: 5pt;
}
.svg-icon-md {
  max-height: 25pt;
  max-width: 25pt;
  margin-top: 5pt;
  margin-left: 5pt;
}

.svg-vp-icon svg {
  max-height: 25pt !important;
  max-width: 25pt !important;
  margin-top: 0 !important;
}

.pdf-close-btn {
  margin-left: auto;
  margin-right: auto;
}

.custom-vertical-top {
  margin-top: 0px;
  margin-bottom: auto;
}

.no-scroll {
  overflow-y: hidden;
}

.pdf-modal-header {
  background-color: #444444;
  height: 5%;
}

.pdf-modal-content {
  height: 95%;
}

/* needed because chrome does not handle well the width on some quasar input fields */
/* What is this, IE again ? :( */
.trick-chrome-width > .col > .row {
  width: 100% !important;
}

.vigilance-point-refresh {
  margin-top: 10px;
  width: 100%;
}
</style>

<style scoped>
.data-block {
  margin-bottom: 32px;
}

.data-block-header {
  margin-bottom: 16px;
  text-decoration: underline;
}

td p {
  text-align: center;
}

.works-costs tr.spacer {
  height: 40px;
}

.works-costs td {
  padding: 0 40px 0 0;
  text-align: right;
}

.works-costs th {
  padding: 20px 40px 20px 0;
  text-align: right;
}

.works-costs hr {
  margin: 20px 0;
}

.icon-red {
  fill: #d85847;
}

.icon-orange {
  fill: #fcb34f;
}

.item-list {
  overflow: auto;
}

.vp-title {
  font-size: 12px;
  padding: 10px;
}

.vp-danger {
  color: #ac021e;
}
.vp-danger .svg-vp-icon {
  fill: #ac021e;
}

.vp-warning {
  color: orange;
}
.vp-warning .svg-vp-icon {
  fill: orange;
}

.vp-info {
  color: #0827a0;
}
.vp-info .svg-vp-icon {
  fill: #0827a0;
}

.vp-disable {
  color: gray;
}
.vp-disable .svg-vp-icon {
  fill: gray;
}
</style>
