<template>
  <div class="layout-padding">
    <q-table
      :pagination-label="paginationLabel"
      rows-per-page-label="Résultats par pages"
      no-data-label="Aucun territoire"
      no-results-label="Aucun résultat"
      row-key="name"
      :columns="columns"
      :pagination.sync="pagination"
      :filter="filter"
      :data="territories"
      :visible-columns="visibleColumns"
    >
      <template slot="top-left" slot-scope="props">
        <q-search placeholder="Rechercher" v-model="filter" float-label="Chercher un territoire"/>
      </template>
      <q-td slot="body-cell-action" slot-scope="props">
        <q-btn
          :data-cy="'territories-edit-id-'+props.row.id"
          round
          color="primary"
          small
          icon="edit"
          @click="$router.push('/admin/territory?territory=' + props.row.id)"
        >
          <q-tooltip>Gérer le territoire</q-tooltip>
        </q-btn>
        <q-btn round color="negative" class="q-ml-xs" small icon="delete" @click="deleteTerritory(props.row)">
          <q-tooltip>Supprimer le territoire</q-tooltip>
        </q-btn>
      </q-td>
    </q-table>
    <q-btn v-if="$api.granted('Admin')" class="q-mt-sm" color="primary" @click="$router.push('/admin/territory')">Nouveau territoire</q-btn>
  </div>
</template>

<script>
export default {
  data () {
    return {
      territories: [],
      visibleColumns: ['label', 'nbCities', 'action'],
      columns: [
        {
          label: 'Nom',
          field: 'label',
          align: 'left',
          name: 'label',
          sortable: true
        },
        {
          label: 'Nombre de communes',
          field: 'cities',
          format: val => val ? val.length : null,
          align: 'left',
          name: 'nbCities',
          style: 'width: 80px',
          sortable: true,
          sort: (cities1, cities2) => {
            return cities1.length - cities2.length
          }
        },
        {
          label: 'Actions',
          name: 'action',
          field: 'action',
          style: 'width:150px'
        }
      ],
      pagination: {
        page: 1,
        rowsPerPage: 20
      },
      filter: ''
    }
  },
  methods: {
    paginationLabel (start, end, total) {
      return 'Résultats ' + start + ' à ' + end + ' sur ' + total
    },
    refresh () {
      this.$api.territories.find({
        params: {
          perpage: 10000
        }
      }).then(data => {
        this.territories = data.territories
      }).catch(error => {
        this.$notifier.ko('Erreur : les territoires n\'ont pas pu être chargés.')
        throw error
      })
    },
    deleteTerritory (territory) {
      this.$q.dialog({
        title: 'Confirmation',
        message: 'Ceci va supprimer le territoire ' + territory.label + '. Cette action est définitive, êtes vous certain de vouloir continuer ?',
        ok: 'Supprimer le territoire',
        cancel: 'Annuler',
        position: 'top'
      }).then(() => {
        this.$api.territories.delete(territory.id).then(response => {
          this.refresh()
          this.$notifier.ok('Le territoire ' + territory.label + ' a été supprimé.')
        }).catch(error => {
          this.$notifier.ko('Erreur : le territoire ' + territory.label + ' n\'a pas pu être supprimé.')
          throw error
        })
      }).catch(() => {})
    }
  },
  beforeMount () {
    this.refresh()
  }
}
</script>

<style>
</style>
