<template>
  <div class="layout-padding row justify-center" v-if="!loading">
    <div class="row justify-center col-10 items-start">
      <div class="row col-12 col-md-12 col-xs-12">

        <q-field class="col-12" :error="!!errors.get('label')" :error-label="errors.get('label')">
          <q-input type="text" data-cy="territory-label" v-model="territory.label" float-label="Nom du territoire" @change="errors.unset('label')" />
        </q-field>
        <template v-if="territory.id">
          <q-tabs animated inverted align="justify" class="row q-mt-lg col-12">
            <q-tab name="usersTab" label="Gérer les utilisateurs" icon="supervisor_account" slot="title" default />
            <q-tab data-cy="manage-cities" name="citiesTab" v-if="$api.granted('Admin')" label="Gérer les communes" icon="location_city" slot="title" />

            <q-tab-pane name="usersTab">
              <div class="row col-12 q-pt-lg items-start">
                <div class="row col-6 q-mt-sm">
                  Assigner des utilisateurs des utilisateurs :
                </div>
                <div class="row col-5 q-pl-md q-mt-sm">
                  Liste des utilisateurs assignés à ce territoire :
                </div>
                <q-btn data-cy="users-refresh" class="col-1" flat icon="update" @click="load">
                  <q-tooltip>Rafraîchir</q-tooltip>
                </q-btn>
              </div>
              <div class="row col-12 q-pt-lg items-start">
                <div class="row col-6 q-pr-md">
                  <q-input class="col-12" type="text" data-cy="user-search" v-model="userFilter" placeholder="Nom, prénom, email, téléphone ou entreprise" float-label="Chercher des utilisateurs à assigner au territoire" />
                  <q-list class="col-12 q-mt-md" highlight>
                    <template v-if="noUserSearchResult">
                      <q-item>
                        <q-item-main label="Aucun résultat de recherche" />
                      </q-item>
                    </template>
                    <template v-else>
                      <template v-if="adminsTerritory.length > 0 && $api.granted('Admin')">
                        <q-item-separator />
                        <q-list-header>Admistrateurs territoriaux</q-list-header>
                        <q-item-separator />
                        <q-item v-for="admin in adminsTerritory" :data-cy="'assign-user-id-'+admin.id" @click.native="assignUser(admin)" :key="'admin-' + admin.id">
                          <q-item-main :label="admin.firstname+' '+admin.lastname+' - '+admin.email" />
                          <q-item-side right>
                            <q-item-tile icon="arrow_forward_ios" color="blue" />
                          </q-item-side>
                        </q-item>
                      </template>
                      <template v-if="usersTerritory.length > 0 && $api.granted('Admin')">
                        <q-item-separator />
                        <q-list-header>Utilisateurs territoriaux</q-list-header>
                        <q-item-separator />
                      </template>
                      <q-item v-for="user in usersTerritory" :data-cy="'assign-user-id-'+user.id" @click.native="assignUser(user)" :key="'user-' + user.id">
                        <q-item-main :label="user.firstname+' '+user.lastname+' - '+user.email" />
                        <q-item-side right>
                          <q-item-tile icon="arrow_forward_ios" color="blue" />
                        </q-item-side>
                      </q-item>
                    </template>
                  </q-list>
                </div>
                <div class="row col-6 q-pl-md">
                  <q-input class="col-12" type="text" v-model="territoryUserFilter" data-cy="territory-user-filter" placeholder="Nom, prénom, email, téléphone ou entreprise" float-label="Filtrer les utilisateurs assignés au territoire" />
                  <q-list class="col-12 q-mt-md" highlight>
                    <q-item v-if="filteredTerritoryUsers.length === 0 || ($api.granted('Admin territory') && assignedUsersTerritory.length === 0)">
                      <q-item-main label="Aucun utilisateur assigné au territoire" />
                    </q-item>
                    <template v-else>
                      <template v-if="assignedAdminsTerritory.length > 0 && $api.granted('Admin')">
                        <q-item-separator />
                        <q-list-header>Admistrateurs territoriaux</q-list-header>
                        <q-item-separator />
                        <q-item v-for="admin in assignedAdminsTerritory" :data-cy="'unassign-user-id-'+admin.id" @click.native="unassignUser(admin)" :key="'admin-' + admin.id">
                          <q-item-main :label="admin.firstname+' '+admin.lastname+' - '+admin.email" />
                          <q-item-side right>
                            <q-item-tile v-if="currentlyUnassigningUsers[admin.id]">
                              <q-spinner-dots color="primary" />
                            </q-item-tile>
                            <q-item-tile v-else-if="unassignedUsers[admin.id]">
                              désassigné
                            </q-item-tile>
                            <q-item-tile v-else icon="delete" color="blue" />
                          </q-item-side>
                        </q-item>
                      </template>
                      <template v-if="assignedUsersTerritory.length > 0 && $api.granted('Admin')">
                        <q-item-separator />
                        <q-list-header>Utilisateurs territoriaux</q-list-header>
                        <q-item-separator />
                      </template>
                      <q-item v-for="user in assignedUsersTerritory" @click.native="unassignUser(user)" :key="'user-' + user.id">
                        <q-item-main :label="user.firstname+' '+user.lastname+' - '+user.email" />
                        <q-item-side right>
                          <q-item-tile v-if="currentlyUnassigningUsers[user.id]">
                            <q-spinner-dots color="primary" />
                          </q-item-tile>
                          <q-item-tile v-else-if="unassignedUsers[user.id]">
                            désassigné
                          </q-item-tile>
                          <q-item-tile v-else icon="delete" color="blue" />
                        </q-item-side>
                      </q-item>
                    </template>
                  </q-list>
                </div>
                <div class="row col-6">
                </div>
              </div>
            </q-tab-pane>
            <q-tab-pane name="citiesTab">
              <div class="row col-12 q-pt-lg items-start">
                <div class="row col-6 q-mt-sm">
                  Ajouter des communes :
                </div>
                <div class="row col-5 q-pl-md q-mt-sm">
                  Liste des communes du territoire :
                </div>
                <q-btn class="col-1" data-cy="cities-refresh" flat icon="update" @click="load">
                  <q-tooltip>Rafraîchir</q-tooltip>
                </q-btn>
              </div>
              <div class="row col-12 q-pt-lg items-start">
                <div class="row col-6 q-pr-md">
                  <q-input class="col-12" type="text" data-cy="territory-search" v-model="searchFilter" @input="search" :placeholder="placeSearchPH" float-label="Chercher des communes à ajouter au territoire" />
                  <q-list data-cy="search-results" class="col-12 q-mt-md" highlight>
                    <template v-if="searchLoading">
                      <q-spinner-dots class="q-ma-lg" color="primary" size="40" />
                    </template>
                    <template v-else-if="noSearchResult">
                      <q-item>
                        <q-item-main label="Aucun résultat de recherche" />
                      </q-item>
                    </template>
                    <template v-else>
                      <template v-if="foundRegions.length > 0">
                        <q-item-separator />
                        <q-list-header>Régions</q-list-header>
                        <q-item-separator />
                      </template>
                      <q-item v-for="region in foundRegions" @click.native="addRegion(region)" :data-cy="'add-region-'+region.id" :key="'region-' + region.id">
                        <q-item-main :label="region.name" />
                        <q-item-side right>
                          <q-item-tile icon="arrow_forward_ios" color="blue" />
                        </q-item-side>
                      </q-item>
                      <template v-if="foundDepartments.length > 0">
                        <q-item-separator />
                        <q-list-header>Départements</q-list-header>
                        <q-item-separator />
                      </template>
                      <q-item v-for="department in foundDepartments" @click.native="addDepartment(department)" :data-cy="'add-dpt-'+department.id" :key="'dept-' + department.id">
                        <q-item-main :label="department.name" />
                        <q-item-side right>
                          <q-item-tile icon="arrow_forward_ios" color="blue" />
                        </q-item-side>
                      </q-item>
                      <template v-if="foundCities.length > 0">
                        <q-item-separator />
                        <q-list-header>Communes</q-list-header>
                        <q-item-separator />
                      </template>
                      <q-item v-for="city in foundCities" @click.native="addCity(city)" :data-cy="'add-city-'+city.id" :key="'city-' + city.id">
                        <q-item-main :label="city.name" />
                        <q-item-side right>
                          <q-item-tile icon="arrow_forward_ios" color="blue" />
                        </q-item-side>
                      </q-item>
                    </template>
                  </q-list>
                </div>
                <div class="row col-6 q-pl-md">
                  <q-input class="col-12" type="text" v-model="territoryCitiesFilter" data-cy="territory-cities-filter" placeholder="Nom de commune ou code insee" float-label="Filtrer les communes du territoire" />
                  <q-list data-cy="territory-cities-list" class="col-12 q-mt-md" highlight>
                    <q-item v-if="filteredTerritoryCities.length===0">
                      <q-item-main label="Aucune commune dans le territoire" />
                    </q-item>
                    <q-item v-for="city in filteredTerritoryCities" :data-cy="'unassign-city-'+city.id" @click.native="deleteCity(city)" :key="city.id">
                      <q-item-main :label="city.inseeCode + ' - ' + city.name" />
                      <q-item-side right>
                        <q-item-tile v-if="currentlyDeletingCities[city.id]">
                          <q-spinner-dots color="primary" />
                        </q-item-tile>
                        <q-item-tile v-else-if="deletedCities[city.id]">
                          supprimée
                        </q-item-tile>
                        <q-item-tile v-else icon="delete" color="blue" />
                      </q-item-side>
                    </q-item>
                  </q-list>
                </div>
                <div class="row col-6">
                </div>
              </div>
            </q-tab-pane>
          </q-tabs>

        </template>

        <div class="offset-3 col-6 no-wrap row justify-around q-mt-md saveBar">
          <q-btn v-if="territory.id" data-cy="delete-territory" @click="deleteTerritory" color="negative">
            Supprimer le territoire
          </q-btn>
          <q-btn data-cy="territory-submit-bottom" color="primary" @click="save">
            <span v-if="!territory.id">Créer le territoire</span>
            <span v-if="territory.id">Enregistrer le territoire</span>
          </q-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RecursiveArray from '../../utils/RecursiveArray'
import InputAddress from '../generics/InputAddress'

export default {
  components: {
    InputAddress
  },
  data () {
    return {
      users: [],
      territory: {},
      territoryCitiesFilter: '',
      userFilter: '',
      territoryUserFilter: '',
      searchFilter: '',
      foundRegions: [],
      foundDepartments: [],
      foundCities: [],
      currentlyDeletingCities: {},
      deletedCities: {},
      currentlyUnassigningUsers: {},
      unassignedUsers: {},
      searchLoading: false,
      delayedSearch: undefined,
      placeSearchPH: 'Région, département, commune, code postal ou code insee',
      errors: new RecursiveArray(),
      loading: true
    }
  },
  computed: {
    noSearchResult () {
      return this.foundRegions.length === 0 && this.foundDepartments.length === 0 && this.foundCities.length === 0
    },
    noUserSearchResult () {
      return this.usersTerritory.length === 0 && this.adminsTerritory.length === 0
    },
    filteredTerritoryCities () {
      let cityList
      if (this.territoryCitiesFilter.length < 2) {
        cityList = this.territory.cities
      } else {
        cityList = this.territory.cities.filter(city => {
          return city.name.toLowerCase().includes(this.territoryCitiesFilter.toLowerCase()) || city.inseeCode.includes(this.territoryCitiesFilter)
        })
      }
      return cityList
    },
    usersTerritory () {
      return this.getUsersWithRoleNoTerritory(this.filteredUsers, 'User territory')
    },
    adminsTerritory () {
      return this.getUsersWithRoleOutsideTerritory(this.filteredUsers, 'Admin territory')
    },
    assignedUsersTerritory () {
      return this.getUsersWithRole(this.filteredTerritoryUsers, 'User territory')
    },
    assignedAdminsTerritory () {
      return this.getUsersWithRole(this.filteredTerritoryUsers, 'Admin territory')
    },
    filteredUsers () {
      return this.filterUsers(this.users, this.userFilter)
    },
    filteredTerritoryUsers () {
      return this.filterUsers(this.territory.users, this.territoryUserFilter)
    }
  },
  methods: {
    filterUsers (sourceUserList, filter) {
      let userList
      if (filter.length < 2) {
        userList = sourceUserList
      } else {
        userList = sourceUserList.filter(user => {
          return (user.firstname + ' ' + user.lastname).toLowerCase().includes(filter.toLowerCase()) ||
          user.email.toLowerCase().includes(filter.toLowerCase()) ||
          (user.company && user.company.toLowerCase().includes(filter.toLowerCase())) ||
          (user.phone && user.phone.includes(filter))
        })
      }
      return userList
    },
    getUsersWithRole (userList, role) {
      return userList.filter(user => {
        return user.roles.includes(role)
      })
    },
    getUsersWithRoleNoTerritory (userList, role) {
      return userList.filter(user => {
        return user.roles.includes(role) && user.territories.length === 0
      })
    },
    getUsersWithRoleOutsideTerritory (userList, role) {
      return userList.filter(user => {
        return user.roles.includes(role) && (user.territories.length === 0 || !this.userBelongToTerritory(user))
      })
    },
    userBelongToTerritory (user) {
      return user.territories.some(t => {
        return t.id === this.territory.id
      })
    },
    load () {
      this.fetchUsers()
      if (this.$route.query.territory) {
        this.$api.territories.get(this.$route.query.territory)
          .then(data => {
            this.territory = data.territory
            this.loading = false
          })
          .catch(response => {
            // HANDLE ERROR
          })
      } else {
        this.loading = false
      }
    },
    fetchUsers () {
      this.$api.users.find({
        params: {
          perpage: 10000
        }
      }).then(data => {
        this.users = data.users
      })
    },
    search (query) {
      if (query.length > 1) {
        this.searchLoading = true
      }
      clearTimeout(this.delayedSearch)
      this.delayedSearch = setTimeout(() => {
        if (query.length > 1) {
          this.$api.searchPlaces(query, this.territory.id).then(places => {
            this.foundRegions = places.regions
            this.foundDepartments = places.departments
            this.foundCities = places.cities
            this.searchLoading = false
          }).catch(error => {
            this.$notifier.ko('Erreur lors de la recherche')
            throw error
          })
        } else {
          this.searchLoading = false
          this.foundRegions = []
          this.foundDepartments = []
          this.foundCities = []
        }
      }, 500)
    },
    addRegion (r) {
      this.$q.dialog({
        title: 'Confirmation',
        message: 'Ceci va ajouter toutes les communes de la région "' + r.name + '" à ce territoire, êtes vous certain de vouloir continuer ?',
        ok: 'Ajouter toute la région',
        cancel: 'Annuler',
        position: 'top'
      }).then(() => {
        this.$api.post('territories/' + this.territory.id + '/city-assignment', { region: { id: r.id } }).then(response => {
          this.territory = response.body.territory
          this.$notifier.ok(r.name + 'ajoutée au territoire')
        }).catch(error => {
          this.$notifier.ko('Erreur lors de l\'ajout de la région ' + r.name)
          throw error
        })
      }).catch(() => {})
    },
    addDepartment (d) {
      this.$q.dialog({
        title: 'Confirmation',
        message: 'Ceci va ajouter toutes les communes du département "' + d.name + '" à ce territoire, êtes vous certain de vouloir continuer ?',
        ok: 'Ajouter tout le département',
        cancel: 'Annuler',
        position: 'top'
      }).then(() => {
        this.$api.post('territories/' + this.territory.id + '/city-assignment', { department: { id: d.id } }).then(response => {
          this.territory = response.body.territory
          this.$notifier.ok(d.name + 'ajoutée au territoire')
        }).catch(error => {
          this.$notifier.ko('Erreur lors de l\'ajout du département ' + d.name)
          throw error
        })
      }).catch(() => {})
    },
    addCity (c) {
      this.$api.post('territories/' + this.territory.id + '/city-assignment', { city: { id: c.id } }).then(response => {
        delete this.deletedCities[c.id]
        let cityIndex = this.foundCities.indexOf(c)
        if (cityIndex !== -1) this.foundCities.splice(cityIndex, 1)
        this.territory = response.body.territory
        this.$notifier.ok(c.name + 'ajoutée au territoire')
      }).catch(error => {
        this.$notifier.ko('Erreur lors de l\'ajout de la commune ' + c.name)
        throw error
      })
    },
    deleteCity (city) {
      this.$set(this.currentlyDeletingCities, city.id, true)
      this.$api.unassignCity(this.territory.id, city.id).then(response => {
        this.$set(this.currentlyDeletingCities, city.id, false)
        this.$set(this.deletedCities, city.id, true)
        this.$notifier.ok(city.name + ' supprimée du territoire')
      }).catch(error => {
        this.$set(this.currentlyDeletingCities, city.id, false)
        this.$set(this.deletedCities, city.id, false)
        this.$notifier.ko('Erreur lors de la suppression de la commune ' + city.name)
        throw error
      })
    },
    deleteTerritory () {
      this.$q.dialog({
        title: 'Confirmation',
        message: 'Ceci va supprimer le territoire ' + this.territory.label + '. Cette action est définitive, êtes vous certain de vouloir continuer ?',
        ok: 'Supprimer le territoire',
        cancel: 'Annuler',
        position: 'top'
      }).then(() => {
        this.$api.territories.delete(this.territory.id).then(response => {
          this.$notifier.ok('Le territoire ' + this.territory.label + ' a été supprimé.')
          this.$router.replace('/admin/territories')
        }).catch(error => {
          this.$notifier.ko('Erreur : le territoire ' + this.territory.label + ' n\'a pas pu être supprimé.')
          throw error
        })
      }).catch(() => {})
    },
    assignUser (u) {
      this.$api.post('territories/' + this.territory.id + '/user-assignment', { user: { id: u.id } }).then(response => {
        delete this.unassignedUsers[u.id]
        this.fetchUsers()
        this.territory = response.body.territory
        this.$notifier.ok(u.email + ' a été assigné au territoire')
      }).catch(error => {
        this.$notifier.ko('Erreur lors de l\'assignation de l\'utilisateur ' + u.email + ' au territoire')
        throw error
      })
    },
    unassignUser (u) {
      this.$set(this.currentlyUnassigningUsers, u.id, true)
      this.$api.unassignUser(this.territory.id, u.id).then(response => {
        this.fetchUsers()
        this.$set(this.currentlyUnassigningUsers, u.id, false)
        this.$set(this.unassignedUsers, u.id, true)
        this.$notifier.ok(u.email + ' a été désassigné du territoire')
      }).catch(error => {
        this.$set(this.currentlyUnassigningUsers, u.id, false)
        this.$set(this.unassignedUsers, u.id, false)
        this.$notifier.ko('Erreur lors de désassignation de l\'utilisateur ' + u.email)
        throw error
      })
    },
    save () {
      if (this.territory.id) {
        this.$api.territories.update(this.territory.id, this.territory)
          .then(data => {
            this.errors.reset()
            this.territory = data.territory
            this.$notifier.ok('Modifications enregistrées')
          })
          .catch(data => {
            this.errors.update(data.errors)
          })
      } else {
        this.$api.territories.create(this.territory)
          .then(data => {
            this.errors.reset()
            this.territory = data.territory
            this.$router.replace('/admin/territory?territory=' + this.territory.id)
            this.$notifier.ok('Le territoire a bien été enregistrée')
          })
          .catch(data => {
            this.errors.update(data.errors)
          })
      }
    }
  },
  beforeMount () {
    this.load()
  }
}
</script>

<style>
</style>
