<template>
  <!-- if you want automatic padding use "layout-padding" class -->
  <div class="layout-padding">
    <q-table
      :selected-rows-label="selectedRowsLabel"
      :filter="filter"
      :pagination-label="paginationLabel"
      rows-per-page-label="Résultats par pages"
      no-data-label="Aucun utilisateur"
      no-results-label="Aucun résultat"
      :data="users"
      selection="multiple"
      :selected.sync="selectedRows"
      :columns="columns"
      row-key="id"
      :pagination.sync="pagination"
      :visible-columns="visibleColumns"
    >
      <template slot="top-left" slot-scope="{}">
        <q-search data-cy="users-search" placeholder="Rechercher" v-model="filter" float-label="Chercher un utilisateur"/>
      </template>
      <template slot="top-right" slot-scope="{}">
        <q-btn v-if="selectedRows.length>0" @click="batchInvite" color="primary" class="q-mr-sm">
          <i>réinviter</i>
        </q-btn>
      </template>
      <q-td slot="body-cell-roles" slot-scope="props">
        <span v-for="role in props.row.roles" :key="role.hash" style="margin-right:3px;" class="row group">
          <q-chip v-if="role==='Admin'" icon="grade" small color="deep-orange" class="col-12">Admin</q-chip>
          <q-chip v-else-if="role==='Admin territory'" icon="star_half" small color="light-blue-6" class="col-12">Administrateur territorial</q-chip>
          <q-chip v-else-if="role==='Auditor'" icon="verified_user" small color="orange" class="col-12">Auditeur</q-chip>
          <q-chip v-else-if="role==='User territory'" icon="person" small color="light-blue-3" class="col-12">Utilisateur territorial</q-chip>
          <q-chip v-else-if="role==='User'" icon="perm_identity" small color="grey" class="col-12">Particulier</q-chip>
        </span>
        <q-chip v-if="props.row.roles.length==0" icon="perm_identity" small color="grey" class="col-12">Particulier</q-chip>
      </q-td>

      <!-- Custom renderer for "action" column with button for custom action -->
      <template :data-cy="'users-user-id-'+props.row.id" slot="body-cell-action" slot-scope="props">
        <q-btn round color="primary" small icon="email" @click="invite(props.row)" :disabled="props.row.active">
          <q-tooltip>Renvoyer l'email d'invitation</q-tooltip>
        </q-btn>
        <q-btn
          :data-cy="'users-edit-id-'+props.row.id"
          round
          color="primary"
          v-if="canEdit(props.row)"
          small
          icon="edit"
          @click="$router.push('/admin/user?user=' + props.row.id)"
        >
          <q-tooltip>Modifier les informations</q-tooltip>
        </q-btn>
        <q-btn
          round
          color="primary"
          small
          icon="create_new_folder"
          @click="createLead(props.row)"
          :disabled="!props.row.address || !props.row.roles.includes('User')"
          v-if="$api.logged().profiles.includes('Auditor')"
        >
          <q-tooltip>Créer un nouveau passeport</q-tooltip>
        </q-btn>
      </template>
      <!-- Custom renderer when user selected one or more rows -->
    </q-table>
    <q-btn class="q-mt-sm" color="primary" @click="$router.push('/admin/user')">Nouvel utilisateur</q-btn>
  </div>
</template>

<script>

export default {
  data () {
    return {
      users: [],
      selectedRows: [],
      loading: false,
      filter: '',
      columns: [
        { label: 'Nom', name: 'lastname', field: 'lastname', style: 'width:150px', sortable: true },
        { label: 'Prénom', name: 'firstname', field: 'firstname', style: 'width:150px', sortable: true },
        { label: 'Email', name: 'email', field: 'email', style: 'width:200px', sortable: true },
        { label: 'Adresse', format: val => val ? val.address : null, name: 'address', field: 'address', style: 'width:200px' },
        { label: 'Code postal',
          format: val => val ? val.zipcode : null,
          name: 'zipcode',
          field: 'address',
          style: 'width:80px',
          sortable: true,
          sort: (address1, address2) => {
            return parseInt(address1.zipcode) - parseInt(address2.zipcode)
          }
        },
        { label: 'Ville',
          format: val => val ? val.city : null,
          name: 'city',
          field: 'address',
          style: 'width:150px',
          sortable: true,
          filter: true,
          sort: (address1, address2) => {
            return address1.city < address2.city ? -1 : 1
          }
        },
        { label: 'Profil', name: 'roles', field: 'roles', style: 'width:220px' },
        { label: 'Actions', name: 'action', field: 'action', style: 'width:150px' }
      ],
      visibleColumns: ['firstname', 'lastname', 'email', 'address', 'zipcode', 'city', 'roles', 'action'],
      pagination: {
        page: 1,
        rowsPerPage: 20
      }
    }
  },
  methods: {
    canEdit (user) {
      if (this.$api.granted(['Admin', 'Auditor'])) {
        return true
      }
      if (this.$api.granted('Admin territory')) {
        return user.roles.length === 1 && user.roles.includes('User')
      }
      return false
    },
    selectedRowsLabel (rowsNumber) {
      if (rowsNumber === 1) {
        return rowsNumber + ' ligne sélectionnée'
      } else if (rowsNumber > 1) {
        return rowsNumber + ' lignes sélectionnées'
      } else {
        return ''
      }
    },
    paginationLabel (start, end, total) {
      return 'Résultats ' + start + ' à ' + end + ' sur ' + total
    },
    refresh () {
      this.loading = true
      this.$api.users.find({
        params: {
          perpage: 10000
        }
      }).then(data => {
        this.users = data.users
      }).catch(response => {
        if (response.code === 403) {
          // TODO: Oops, you've been disconnected => href="/login"
        }
      }).finally(() => {
        this.loading = false
      })
    },
    batchInvite () {
      let userIndex
      for (userIndex in this.selectedRows) {
        if (!this.selectedRows[userIndex].active) {
          this.invite(this.selectedRows[userIndex])
        }
      }
    },
    invite (user) {
      this.$api.post('users/' + user.id + '/invite', { activationUrl: this.$rootUrl + '/account/activate?token={token}&p=1' })
        .then(response => {
          this.$notifier.ok('Email envoyé à ' + user.email)
        })
        .catch(response => {
          switch (response.status) {
            case 400:
              this.$notifier.ko('Le compte ' + user.email + ' a déjà été activé')
              break
            case 403:
              this.$notifier.ko('Opération interdite')
              break
            case 404:
              this.$notifier.ko('Utilisateur introuvable')
              break
            case 500:
              this.$notifier.ko('Erreur du serveur')
              break
          }
        })
    },
    createLead (user) {
      let lead = {
        owner: { id: user.id },
        address: user.address,
        leadOrigin: 'Auditeur',
        legals1: true,
        legals2: true
      }
      this.$api.leads.create(Object.assign({}, lead, { linkToLead: this.$rootUrl + '/admin/lead?lead={leadId}' }))
        .then(data => {
          let id = data.lead.id
          this.$router.push('/admin/passport?lead=' + id)
        })
        .catch(data => {
          this.$notifier.ko('Une erreur est survenue')
        })
    }
  },
  beforeMount () {
    this.refresh()
  }
}
</script>

<style>
</style>
