<template>
  <div class="layout-padding row justify-center" v-if="!loading">
    <div class="row justify-center col-10 items-start">
      <div class="row col-12 col-md-12 col-xs-12">

        <q-field class="offset-sm-1 col-sm-5 col-xs-10" :error="!!errors.get('firstname')" :error-label="errors.get('firstname')">
          <q-input type="text" data-cy="user-firstname" v-model="user.firstname" float-label="Prénom" @change="errors.unset('firstname')" />
        </q-field>
        <q-field class="offset-sm-1 col-sm-5 col-xs-10" :error="!!errors.get('lastname')" :error-label="errors.get('lastname')">
          <q-input type="text" data-cy="user-lastname" v-model="user.lastname" float-label="Nom" @change="errors.unset('lastname')" />
        </q-field>

        <q-field class="offset-sm-1 col-sm-5 col-xs-10" :error="!!errors.get('email')" :error-label="errors.get('email')">
          <q-input type="email" data-cy="user-email" v-model="user.email" float-label="Adresse email" @change="errors.unset('email')" :disabled="user.id" />
        </q-field>
        <q-field class="offset-sm-1 col-sm-5 col-xs-10" :error="!!errors.get('phone')" :error-label="errors.get('phone')">
          <q-input type="text" data-cy="user-phone" v-model="user.phone" float-label="Téléphone" @change="errors.unset('phone')" />
        </q-field>

        <q-field class="offset-sm-1 col-sm-5 col-xs-10" :error="!!errors.get('address')" :error-label="errors.get('address')">
          <input-address data-cy="user-address" v-model="user.address" float-label="Adresse" @change="errors.unset('address')" />
        </q-field>

        <q-field v-if="getRoleList" class="offset-sm-1 col-sm-5 col-xs-10" :error="!!errors.get('roles')" :error-label="errors.get('roles')">
          <q-select multiple data-cy="user-roles" :options="getRoleList" float-label="Roles" v-model="user.roles" @change="errors.unset('roles')">
          </q-select>
        </q-field>

        <div class="col-11 no-wrap row justify-around q-mt-md saveBar">
          <q-btn data-cy="user-submit" color="primary" @click="save">
            <span v-if="!user.id">Créer le compte</span>
            <span v-if="user.id">Enregistrer</span>
          </q-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RecursiveArray from '../../utils/RecursiveArray'
import InputAddress from '../generics/InputAddress'
import UserEnum from '../../enums/UserEnum'

export default {
  components: {
    InputAddress
  },
  data () {
    return {
      user: {
        roles: ['User']
      },
      errors: new RecursiveArray(),
      loading: true,
      Enum: UserEnum
    }
  },
  computed: {
    getRoleList () {
      let roles
      if (this.$api.logged() && this.$api.logged().profiles.includes('Admin')) {
        roles = this.Enum.roles.filter(role => {
          return ['Admin', 'Admin territory', 'User territory', 'Auditor', 'User'].includes(role.value)
        })
      } else if (this.$api.logged() && this.$api.logged().profiles.includes('Admin territory')) {
        roles = this.Enum.roles.filter(role => {
          return ['User territory', 'User'].includes(role.value)
        })
      } else {
        roles = undefined
      }
      return roles
    }
  },
  methods: {
    load () {
      if (this.$route.query.user) {
        this.$api.users.get(this.$route.query.user)
          .then(data => {
            this.user = data.user
            this.loading = false
          })
          .catch(response => {
            // TODO: handle error (refresh button?)
          })
      } else {
        this.loading = false
      }
    },
    save () {
      if (this.user.id) {
        this.$api.users.update(this.user.id, this.user)
          .then(data => {
            this.errors.reset()
            this.user = data.user
            this.$notifier.ok('Modifications enregistrées')
          })
          .catch(data => {
            this.errors.update(data.errors)
          })
      } else {
        this.$api.users.create(Object.assign({}, this.user, { activationUrl: this.$rootUrl + '/account/activate?token={token}&p=1' }))
          .then(data => {
            this.errors.reset()
            this.user = data.user
            this.$router.replace('/admin/user?user=' + this.user.id)
            this.$notifier.ok('Email de confirmation envoyé à ' + this.user.email)
          })
          .catch(data => {
            this.errors.update(data.errors)
          })
      }
    }
  },
  beforeMount () {
    this.load()
  }
}
</script>

<style>
</style>
