<template>
  <div class="layout-padding row justify-center" v-if="!loading">
    <div class="row justify-center col-12 items-start">
      <div class="row col-12 col-md-12 col-xs-12 row col-12 data-block">
        <span class="col-12 label data-block-header">Point de vigilance</span>
        <q-alert
          v-if="isTitleWarningShow"
          color="warning"
          text-color="primary"
          icon="warning"
          style="margin-bottom: 1.5rem"
          class="col-12 text-center"
        >Impossible de générer un titre personnalisé à partir des conditions actuellement renseignées pour ce point de vigilance. Veuillez en saisir un manuellement.</q-alert>
        <div class="col-12 row">
          <q-field class="col-sm-12 col-md-5" :error="!!errors.get('title')" :error-label="errors.get('title')">
            <q-input
              type="text"
              data-cy="vigilancePoint-title"
              v-model="vigilancePoint.title"
              float-label="Titre du point de vigilance"
              @change="errors.unset('title')"
              :maxlength="255"
            />
          </q-field>
          <div class="col-sm-12 col-md-2 q-ml-sm q-mt-sm">
            <q-btn
              data-cy="vigilancePoint-generateTitle"
              size="md"
              color="secondary"
              icon="cached"
              label="Générer titre"
              @click="generateTitle"
              :disabled="isTitleWarningShow"
            />
          </div>
        </div>

        <q-field class="col-sm-12" :error="!!errors.get('description')" :error-label="errors.get('description')">
          <q-input
            type="text"
            data-cy="vigilancePoint-description"
            v-model="vigilancePoint.description"
            float-label="Description"
            @change="errors.unset('description')"
            :maxlength="255"
          />
        </q-field>

        <q-field
          helper="Plus le chiffre est élevé, plus le point de vigilance est complexe."
          class="col-sm-5 col-xs-12"
          :error="!!errors.get('complexity')"
          :error-label="errors.get('complexity')"
        >
          <q-input
            type="number"
            onkeypress="return event.charCode >= 49 && event.charCode <= 51"
            data-cy="vigilancePoint-complexity"
            v-model="vigilancePoint.complexity"
            float-label="Complexité (entre 1 et 3)"
            @change="errors.unset('complexity')"
          />
        </q-field>

        <q-field
          helper="Plus le chiffre est élevé, plus le point de vigilance est prioritaire."
          class="offset-sm-2 col-sm-5 col-xs-12"
          :error="!!errors.get('priority')"
          :error-label="errors.get('priority')"
        >
          <q-input
            type="number"
            onkeypress="return event.charCode >= 48 && event.charCode <= 57"
            data-cy="vigilancePoint-priority"
            v-model="vigilancePoint.priority"
            float-label="Priorité"
            @change="errors.unset('priority')"
          />
        </q-field>
      </div>

      <div v-if="vigilancePoint.id" class="row col-12 col-md-12 col-xs-12 row col-12 data-block">
        <div class="label data-block-header col-12">Conditions</div>

        <div>
          <q-btn
            class="q-mb-sm"
            data-cy="vigilancePoint-addCondition"
            size="md"
            color="secondary"
            icon="add"
            label="Ajouter Condition"
            @click="handleConditionModal(null)"
          />
          <q-modal content-css="width: 80%" v-model="isConditionModalOpen">
            <div>
              <q-card class="q-pa-md">
                <span class="label block-header">Condition</span>
                <div class="row form-block q-mb-md">
                  <q-field class="col-sm-12" :error="!!errors.get('precedingLot')" :error-label="errors.get('precedingLot')">
                    <q-select
                      data-cy="vigilancePointCondition-precedingLot"
                      stack-label="Lot en étape antérieure"
                      v-model="currentCondition.precedingLot"
                      :options="getLotsList()"
                      @change="errors.unset('precedingLot')"
                    />
                  </q-field>

                  <q-field
                    class="col-sm-5 col-xs-12"
                    :error="!!conditionErrors.get('precedingLotValueBefore')"
                    :error-label="errors.get('precedingLotValueBefore')"
                  >
                    <q-select
                      data-cy="vigilancePointCondition-precedingLotValueBefore"
                      :options="getLotValuesList(currentCondition.precedingLot, 'preceding')"
                      v-model="currentCondition.precedingLotValueBefore"
                      stack-label="Valeur du lot antérieur avant travaux"
                      @change="errors.unset('precedingLotValueBefore')"
                      :disable="currentCondition.precedingLot == null || getLotValuesList(currentCondition.precedingLot, 'following').length === 0"
                    />
                  </q-field>

                  <q-field
                    class="offset-sm-2 col-sm-5 col-xs-12"
                    :error="!!conditionErrors.get('precedingLotValueAfter')"
                    :error-label="errors.get('precedingLotValueAfter')"
                  >
                    <q-select
                      data-cy="vigilancePointCondition-precedingLotValueAfter"
                      :options="getLotValuesList(currentCondition.precedingLot, 'following')"
                      v-model="currentCondition.precedingLotValueAfter"
                      stack-label="Valeur du lot antérieur après travaux"
                      @change="errors.unset('precedingLotValueAfter')"
                      :disable="currentCondition.precedingLot == null || getLotValuesList(currentCondition.precedingLot, 'following').length === 0"
                    />
                  </q-field>
                </div>

                <div class="row form-block q-mb-md">
                  <q-field class="col-sm-12" :error="!!conditionErrors.get('followingLot')" :error-label="errors.get('followingLot')">
                    <q-select
                      data-cy="vigilancePointCondition-followingLot"
                      :options="getLotsList()"
                      v-model="currentCondition.followingLot"
                      stack-label="Lot en étape postérieure"
                      @change="errors.unset('followingLot')"
                    />
                  </q-field>

                  <q-field
                    class="col-sm-5 col-xs-12"
                    :error="!!conditionErrors.get('followingLotValueBefore')"
                    :error-label="errors.get('followingLotValueBefore')"
                  >
                    <q-select
                      data-cy="vigilancePointCondition-followingLotValueBefore"
                      :options="getLotValuesList(currentCondition.followingLot, 'preceding')"
                      v-model="currentCondition.followingLotValueBefore"
                      stack-label="Valeur du lot postérieur avant travaux"
                      @change="errors.unset('followingLotValueBefore')"
                      :disable="currentCondition.followingLot == null || getLotValuesList(currentCondition.followingLot, 'following').length === 0"
                    />
                  </q-field>

                  <q-field
                    class="offset-sm-2 col-sm-5 col-xs-12"
                    :error="!!conditionErrors.get('followingLotValueAfter')"
                    :error-label="errors.get('followingLotValueAfter')"
                  >
                    <q-select
                      data-cy="vigilancePointCondition-followingLotValueAfter"
                      :options="getLotValuesList(currentCondition.followingLot, 'following')"
                      v-model="currentCondition.followingLotValueAfter"
                      stack-label="Valeur du lot postérieur après travaux"
                      @change="errors.unset('followingLotValueAfter')"
                      :disable="currentCondition.followingLot == null || getLotValuesList(currentCondition.followingLot, 'following').length === 0"
                    />
                  </q-field>
                </div>

                <div class="col-12 no-wrap row justify-around form-block">
                  <q-btn @click="handleConditionModal(null)">Annuler</q-btn>

                  <q-btn
                    data-cy="vigilancePoint-addCondition-submit"
                    color="primary"
                    @click="saveCondition"
                  >{{ currentCondition.id === null ? "Créer condition" : "Enregistrer"}}</q-btn>
                </div>
              </q-card>
            </div>
          </q-modal>
        </div>

        <q-table :data="vigilancePoint.conditions" :columns="conditionsColumns" class="col-12">
          <q-td :data-cy="`vigilancesPoints-vigilancesPointCondition-id-${props.row.id}`" slot="body-cell-action" slot-scope="props">
            <q-btn
              :data-cy="`vigilancesPointCondition-edit-id-${props.row.id}`"
              round
              color="primary"
              small
              icon="edit"
              @click="handleConditionModal(props.row)"
            >
              <q-tooltip>Editer</q-tooltip>
            </q-btn>

            <q-btn
              :data-cy="`vigilancesPointCondition-delete-id-${props.row.id}`"
              round
              color="negative"
              small
              icon="delete"
              @click="removeCondition(props.row.id)"
            >
              <q-tooltip>Supprimer</q-tooltip>
            </q-btn>
          </q-td>
        </q-table>
      </div>

      <div v-else>Merci d'enregistrer le point de vigilance avant de pouvoir saisir une condition de déclenchement.</div>

      <div class="col-12 no-wrap row justify-around q-mt-md saveBar">
        <q-btn data-cy="vigilancePoint-submit" color="primary" @click="save">
          <span v-if="!vigilancePoint.id">Créer le point de Vigilance</span>
          <span v-if="vigilancePoint.id">Enregistrer</span>
        </q-btn>
      </div>
    </div>
  </div>
</template>

<script>
import RecursiveArray from '../../utils/RecursiveArray'
import { lotsOptionsList, lotsValuesOptionsList } from '../../enums/VigiliancePointConditionEnum'

export default {
  data () {
    return {
      vigilancePoint: {
        title: null,
        description: null,
        complexity: null,
        priority: null
      },
      errors: new RecursiveArray(),
      conditionErrors: new RecursiveArray(),
      loading: true,
      isConditionModalOpen: false,
      currentCondition: {},
      conditionsColumns: [
        {
          label: 'Lot antérieur',
          name: 'precedingLot',
          field: row => this.getLotLabelFromKey(row.precedingLot),
          style: 'width:80px',
          align: 'left'
        },
        {
          label: 'Avant travaux',
          name: 'precedingLotValueBefore',
          field: row => this.getLotValueLabelFromKey(row.precedingLot, row.precedingLotValueBefore),
          style: 'width:80px',
          align: 'left'
        },
        {
          label: 'Après travaux',
          name: 'precedingLotValueAfter',
          field: row => this.getLotValueLabelFromKey(row.precedingLot, row.precedingLotValueAfter),
          style: 'width:80px',
          align: 'left'
        },
        {
          label: 'Lot postérieur',
          name: 'followingLot',
          field: row => this.getLotLabelFromKey(row.followingLot),
          style: 'width:80px',
          align: 'left'
        },
        {
          label: 'Avant travaux',
          name: 'followingLotValueBefore',
          field: row => this.getLotValueLabelFromKey(row.followingLot, row.followingLotValueBefore),
          style: 'width:80px',
          align: 'left'
        },
        {
          label: 'Après travaux',
          name: 'followingLotValueAfter',
          field: row => this.getLotValueLabelFromKey(row.followingLot, row.followingLotValueAfter),
          style: 'width:80px',
          align: 'left'
        },
        {
          label: 'Action',
          name: 'action',
          field: 'action',
          style: 'width:150px',
          align: 'left'
        }
      ]
    }
  },
  computed: {
    isTitleWarningShow () {
      // title warning shown if conditions are about different lots
      if (this.vigilancePoint && this.vigilancePoint.conditions && this.vigilancePoint.conditions.length > 0) {
        if (this.vigilancePoint.conditions.length === 1) {
          return false
        } else {
          const firstCondition = this.vigilancePoint.conditions[0]
          let coherentLots = true
          this.vigilancePoint.conditions.forEach(condition => {
            if (condition.precedingLot !== firstCondition.precedingLot || condition.followingLot !== firstCondition.followingLot) {
              coherentLots = false
            }
          })
          return !coherentLots
        }
      }
      return true
    }
  },
  methods: {
    handleConditionModal (condition) {
      this.currentCondition = condition === null ? {} : condition
      this.isConditionModalOpen = !this.isConditionModalOpen
    },
    generateTitle () {
      if (this.isTitleWarningShow) {
        this.vigilancePoint.title = ''
      } else {
        const condition = this.vigilancePoint.conditions[0]
        this.vigilancePoint.title = `<b>${this.getLotLabelFromKey(condition.precedingLot)}</b> avant <b>${this.getLotLabelFromKey(condition.followingLot)}</b>`
      }
    },
    load () {
      if (this.$route.query.vigilancePoint) {
        this.$api.vigilancePoints.get(this.$route.query.vigilancePoint)
          .then(data => {
            this.vigilancePoint = data.vigilancePoint
            this.loading = false
          })
          .catch(response => {
            // TODO: handle error (refresh button?)
          })
      } else {
        this.loading = false
      }
    },
    save () {
      if (this.vigilancePoint.id) {
        this.$api.vigilancePoints.update(this.vigilancePoint.id, this.vigilancePoint)
          .then(data => {
            this.errors.reset()
            this.vigilancePoint = data.vigilancePoint
            this.$notifier.ok('Modifications enregistrées')
          })
          .catch(data => {
            this.errors.update(data.errors)
          })
      } else {
        this.$api.vigilancePoints.create(Object.assign({}, this.vigilancePoint))
          .then(data => {
            this.errors.reset()
            this.vigilancePoint = data.vigilancePoint
            this.$router.replace('/admin/vigilancePoint?vigilancePoint=' + this.vigilancePoint.id)
            this.$notifier.ok('Point de Vigilance crée')
          })
          .catch(data => {
            this.errors.update(data.errors)
          })
      }
    },
    saveCondition () {
      if (this.currentCondition.id) {
        this.$api.updateVigilancePointCondition(this.vigilancePoint.id, this.currentCondition.id, this.currentCondition)
          .then(data => {
            this.errors.reset()

            // Reload vigilancePoint
            this.load()

            // Close Modal
            this.isConditionModalOpen = false

            // Reset currentCOnditionPoint
            this.currentCondition = {}

            this.$notifier.ok('Modifications enregistrées')
          })
          .catch(data => {
            this.errors.update(data.errors)
          })
      } else {
        this.$api.addVigilancePointCondition(this.vigilancePoint.id, this.currentCondition)
          .then(data => {
            this.errors.reset()

            // Reload vigilancePoint
            this.load()

            // Close Modal
            this.isConditionModalOpen = false

            // Reset currentCOnditionPoint
            this.currentCondition = {}

            this.$notifier.ok('Condition ajoutée avec succès')
          })
          .catch(data => {
            this.errors.update(data.errors)
          })
      }
    },
    removeCondition (conditionId) {
      this.$api.removeVigilancePointCondition(this.vigilancePoint.id, conditionId)
        .then(data => {
          this.load()

          this.$notifier.ok('Condition Supprimée')
        })
        .catch(data => {
          // TODO ERROR
        })
    },
    getLotsList () {
      return lotsOptionsList
    },
    getLotValuesList (lotKey, step) {
      if (!lotKey) {
        return []
      }

      return lotsValuesOptionsList[lotKey].filter(lot => (typeof lot[step] === 'undefined' || lot[step]))
    },
    getLotLabelFromKey (key) {
      if (!key) {
        return ''
      }

      for (let i = 0; i < lotsOptionsList.length; i++) {
        if (lotsOptionsList[i].value === key) {
          return lotsOptionsList[i].label
        }
      }
    },
    getLotValueLabelFromKey (lotKey, lotValueKey) {
      if (!lotKey || !lotValueKey) {
        return 'Peu importe'
      }

      for (let i = 0; i < lotsValuesOptionsList[lotKey].length; i++) {
        if (lotsValuesOptionsList[lotKey][i].value === lotValueKey) {
          return lotsValuesOptionsList[lotKey][i].label
        }
      }
    }
  },
  beforeMount () {
    this.load()
  }
}
</script>

<style>
.data-block {
  margin-bottom: 32px;
}

.data-block-header {
  margin-bottom: 16px;
  text-decoration: underline;
}
</style>
