<template>
  <q-layout view="hHh LpR fFf">
    <q-layout-header>
      <q-toolbar color="white">
        <title-content />
      </q-toolbar>
    </q-layout-header>

    <div class="flex justify-center full-height main group">
      <q-alert class="col-xs-auto col-sm-6 col-md-6" color="primary" icon="check_circle">
        <h6>Votre compte a bien été créé, mais vous devez encore l'activer.</h6>
        Vous recevrez dans les prochaines minutes un email de confirmation, contenant un lien afin d'activer votre compte.
      </q-alert>
    </div>

    <q-layout-footer>
      <custom-footer />
    </q-layout-footer>
  </q-layout>
</template>

<script>
import customFooter from '../layouts/helpers/Footer.vue'
import titleContent from '../layouts/helpers/TitleContent.vue'

export default {
  components: {
    customFooter,
    titleContent
  }
}
</script>

<style scoped>
.main {
  padding-top: 64px;
}
</style>
