<template>
  <q-layout view="hHh LpR fFf">
    <q-layout-header>
      <q-toolbar color="white">
        <title-content />
      </q-toolbar>
    </q-layout-header>

    <q-page-container>
      <div class="flex justify-center full-height">
        <q-card class="text-center col-xs-auto col-sm-6 col-md-3 q-mt-sm" id="login">
          <q-card-media>
            <q-card-title>
              <img src="/statics/logo-passeport-efficacite-energetique_2.png" class="small-logo responsive">
              <span slot="subtitle">Connectez vous pour accéder à l'application</span>
            </q-card-title>
          </q-card-media>
          <q-card-separator />
          <q-card-main class="bg-white row">
            <q-field class="offset-1 col-10 q-pa-sm" :error="!!errors.get('username')" :error-label="errors.get('username')">
              <q-input data-cy="login-username" name="username" type="email" v-model="username" float-label="Adresse email" @change="errors.unset('username')" @keydown.enter.prevent="proceed()" />
            </q-field>
            <q-field class="offset-1 col-10 q-pa-sm" :error="!!errors.get('password')" :error-label="errors.get('password')">
              <q-input data-cy="login-password" name="password" type="password" v-model="password" float-label="Mot de passe" @change="errors.unset('password')" @keydown.enter.prevent="proceed()" />
            </q-field>
            <q-field class="offset-1 col-10 q-pa-sm" :error="!!errors.get('form')" :error-label="errors.get('form')" />
          </q-card-main>
          <q-card-actions vertical>
            <q-btn class="fit"  data-cy="login-submit" color="positive" @click="proceed()">Connexion</q-btn>
            <q-btn flat class="fit" color="primary" @click="$router.push('/account/recover')">Mot de passe oublié?</q-btn>
            <q-btn flat class="fit" color="primary" @click="$router.push('/account/register')">Créer mon compte</q-btn>
          </q-card-actions>
        </q-card>
      </div>
    </q-page-container>

    <q-layout-footer>
      <custom-footer />
    </q-layout-footer>

  </q-layout>
</template>

<script>
import customFooter from '../layouts/helpers/Footer.vue'
import titleContent from '../layouts/helpers/TitleContent.vue'
import RecursiveArray from '../../utils/RecursiveArray'

export default {
  components: {
    titleContent,
    customFooter
  },
  data () {
    return {
      username: null,
      password: null,
      errors: new RecursiveArray()
    }
  },
  methods: {
    proceed () {
      this.$api.authenticate(this.username, this.password)
        .then(user => {
          this.errors.reset()
          this.$router.push('/admin')
        })
        .catch(data => {
          this.errors.update(data.errors)
        })
    }
  }
}
</script>

<style scoped lang="styl">
img.small-logo {
  padding-top: 20px;
}
.q-card-actions .q-btn {
  margin-top: 5px;
  margin-bottom: 5px;
}
</style>
