<template>
  <div>
    <q-table :data="leaderBoardData" :columns="columns" row-key="name" :pagination.sync="pagination" />
  </div>
</template>

<script>
export default {
  props: {
    leads: {
      type: Array,
      default: null
    },
    height: {
      type: String,
      default: '250px'
    }
  },
  data () {
    return {
      columns: [
        { label: 'Nom', name: 'firstname', field: 'firstname', style: 'width: 120px', sortable: true },
        { label: 'Prénom', name: 'lastname', field: 'lastname', style: 'width: 120px', sortable: true },
        {
          label: 'Passeports réalisés/auditeurs',
          name: 'nbLead',
          field: 'nbLead',
          style: 'width: 120px',
          sortable: true
        }
      ],
      pagination: {
        page: 1,
        rowsPerPage: 10,
        sortBy: 'nbLead',
        descending: true
      }
    }
  },
  computed: {
    leaderBoardData () {
      const auditorsStats = {}

      this.leads.forEach(lead => {
        if (lead.auditor) {
          if (auditorsStats[lead.auditor.id] === void 0) {
            auditorsStats[lead.auditor.id] = {
              firstname: lead.auditor.firstname,
              lastname: lead.auditor.lastname,
              nbLead: 0
            }
          }
          auditorsStats[lead.auditor.id].nbLead += 1
        }
      })

      return Object.keys(auditorsStats).map(auditorId => ({
        firstname: auditorsStats[auditorId].firstname,
        lastname: auditorsStats[auditorId].lastname,
        nbLead: auditorsStats[auditorId].nbLead,
        id: auditorId
      }))
    }
  }
}
</script>

<style lang="stylus"></style>
