<template>
  <div>
    <q-select v-if="displayControls" v-model="dataToDisplay" float-label="Selectionnez la méthode de tri" radio :options="selectDataOptions" />
    <stacked-bar-chart :options="chartOptions" :styles="barStyle" :chart-data="leadCreationHistogramData"></stacked-bar-chart>
  </div>
</template>

<script>
import StackedBarChart from './GenericStackedBarChart.js'
import {dateFromTimestamp, getLatestRenovationPlan, dateWithoutTime} from './chart-utils'

const graphColors = [
  '#245677',
  '#2D85CB',
  '#5BADE6',
  '#41A3A8',
  '#41C0C7',
  '#89E1E6',
  '#347564',
  '#42947F',
  '#71C9B3',
  '#B31312',
  '#CD3736',
  '#D97777',
  '#DE7422',
  '#F59951',
  '#F5B787',
  '#666666',
  '#BFBFBF',
  '#E6E6E6'
]

export default {
  components: {
    StackedBarChart
  },
  props: {
    dashboardData: {
      type: Array,
      default: null
    },
    height: {
      type: String,
      default: '200px'
    },
    countNoCombinatories: { // Count lack of combinatory as 'unkown'
      type: Boolean,
      default () {
        return true
      }
    },
    displayControls: { // Count lack of combinatory as 'unkown'
      type: Boolean,
      default () {
        return true
      }
    },
    defaultDisplayedData: {
      type: String,
      default () {
        return 'byLabels'
      }
    }
  },
  data () {
    return {
      dataToDisplay: this.defaultDisplayedData,
      selectDataOptions: [
        {
          label: 'Par étiquettes énergie',
          value: 'byLabels'
        },
        {
          label: 'Par étiquettes énergie et numéro',
          value: 'byLabelsAndNumbers'
        },
        {
          label: "Par type d'isolation",
          value: 'byInsulation'
        },
        {
          label: "Par type d'isolation et résistance thermique des murs",
          value: 'byInsulationAndValues'
        },
        {
          label: 'Par type de ventilation',
          value: 'byVentilation'
        },
        {
          label: 'Par résistance thermique de plancher',
          value: 'byFloorValue'
        },
        {
          label: 'Par résistance thermique de toiture',
          value: 'byRoofValue'
        },
        {
          label: 'Par Uw des ouvrants',
          value: 'byVentsValue'
        },
        {
          label: 'Par type de chauffage',
          value: 'byHeating'
        }
      ],
      chartOptions: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            maxBarThickness: 50,
            stacked: true
          }],
          yAxes: [{
            stacked: true
          }]
        }
      }
    }
  },
  computed: {
    barStyle () {
      return {
        height: this.height,
        position: 'relative'
      }
    },
    leadCreationHistogramData () {
      let leadsByDate = {}
      this.dashboardData.forEach(lead => {
        let date = dateWithoutTime(lead.creationDate)
        if (leadsByDate[date] === void 0) {
          leadsByDate[date] = {
            byLabels: {},
            byLabelsAndNumbers: {},
            byInsulation: {},
            byInsulationAndValues: {},
            byFloorValue: {},
            byRoofValue: {},
            byVentsValue: {},
            byHeating: {},
            byVentilation: {}
          }
        }
        if (lead.passport !== null && lead.passport.renovationPlans && lead.passport.renovationPlans.length > 0 &&
                getLatestRenovationPlan(lead.passport.renovationPlans).improvement &&
                getLatestRenovationPlan(lead.passport.renovationPlans).improvement.combinatory) {
          let combinatory = getLatestRenovationPlan(lead.passport.renovationPlans).improvement.combinatory
          this.handleLabelsAndNumber(leadsByDate[date], combinatory)
          this.handleInsulationAndValues(leadsByDate[date], combinatory)
          this.handleStandardValues(leadsByDate[date], combinatory, 'floorValue', 'byFloorValue')
          this.handleStandardValues(leadsByDate[date], combinatory, 'roofValue', 'byRoofValue')
          this.handleStandardValues(leadsByDate[date], combinatory, 'ventsValue', 'byVentsValue')
          this.handleStandardValues(leadsByDate[date], combinatory, 'heatingType', 'byHeating')
          this.handleStandardValues(leadsByDate[date], combinatory, 'ventilationType', 'byVentilation')
        } else if (this.countNoCombinatories) {
          Object.values(leadsByDate[date]).forEach(value => {
            value.unknown = value.unknown + 1 || 1
          })
        }
      })
      return {
        labels: Object.keys(leadsByDate).map((timestamp) => {
          return dateFromTimestamp(timestamp)
        }),
        datasets: this.getChartDatasets(leadsByDate, this.dataToDisplay)
      }
    }
  },
  methods: {
    getChartDatasets (leadsByDate, dataToDisplay) {
      if (Object.keys(leadsByDate).length < 1) {
        return []
      }

      // build a list of ALL labels, by alphabetical order
      let labelList = []
      Object.values(leadsByDate).forEach(dateSet => {
        labelList = labelList.concat(Object.keys(dateSet[dataToDisplay]).filter(function (item) {
          return !labelList.includes(item)
        }))
      })
      labelList = labelList.sort()

      // build datesets (datasets for each lead date) that have all the labels
      // missing labels are added with the value of 0
      // each value must have the same index as its label in their
      // respective array. (this is the way chart.js wants the data)
      return labelList.map((label, labelIndex) => ({
        label: label.replace('unknown', 'Non renseigné'),
        backgroundColor: graphColors[labelIndex % graphColors.length],
        data: Object.values(leadsByDate).map(dateSet => dateSet[dataToDisplay][label] || 0)
      }))
    },
    handleLabelsAndNumber (leadsByDate, combinatory) {
      let combinatoryLabel = combinatory.level === null ? 'unknown' : combinatory.level
      let combinatoryNumber = combinatory.number === null ? '' : ' - ' + combinatory.number
      leadsByDate.byLabels[combinatoryLabel] = leadsByDate.byLabels[combinatoryLabel] + 1 || 1
      leadsByDate.byLabelsAndNumbers[combinatoryLabel + combinatoryNumber] = leadsByDate.byLabelsAndNumbers[combinatoryLabel + combinatoryNumber] + 1 || 1
    },
    handleInsulationAndValues (leadsByDate, combinatory) {
      let combinatoryInsulation = combinatory.insulation === null ? 'unknown' : combinatory.insulation
      let combinatoryWallsValue = combinatory.wallsValue === null ? '' : ' - ' + combinatory.wallsValue
      leadsByDate.byInsulation[combinatoryInsulation] = leadsByDate.byInsulation[combinatoryInsulation] + 1 || 1
      leadsByDate.byInsulationAndValues[combinatoryInsulation + combinatoryWallsValue] = leadsByDate.byInsulationAndValues[combinatoryInsulation + combinatoryWallsValue] + 1 || 1
    },
    handleStandardValues (leadsByDate, combinatory, valueKey, destinationKey) {
      let combinatoryValue = combinatory[valueKey] === null ? 'unknown' : combinatory[valueKey]
      leadsByDate[destinationKey][combinatoryValue] = leadsByDate[destinationKey][combinatoryValue] + 1 || 1
    }
  }
}
</script>

<style lang="stylus"></style>
