<template>
  <div>
    <q-select v-if="displayControls" v-model="dataToDisplay" float-label="Selectionnez la méthode de tri" radio :options="selectDataOptions" />
    <doughnut-chart :options="chartOptions" :styles="barStyle" :chart-data="leadCreationHistogramData"></doughnut-chart>
  </div>
</template>

<script>
import DoughnutChart from './GenericDoughnutChart.js'
import {getLatestRenovationPlan, translateInsulationType, translateAirtighness} from './chart-utils'
import ChartDataLabels from 'chartjs-plugin-datalabels'

// TODO better color generation
const graphColors = [
  '#245677',
  '#2D85CB',
  '#5BADE6',
  '#41A3A8',
  '#41C0C7',
  '#89E1E6',
  '#347564',
  '#42947F',
  '#71C9B3',
  '#B31312',
  '#CD3736',
  '#D97777',
  '#DE7422',
  '#F59951',
  '#F5B787',
  '#666666',
  '#BFBFBF',
  '#E6E6E6',
  '#245677',
  '#2D85CB',
  '#5BADE6',
  '#41A3A8',
  '#41C0C7',
  '#89E1E6',
  '#347564',
  '#42947F',
  '#71C9B3',
  '#B31312',
  '#CD3736',
  '#D97777',
  '#DE7422',
  '#F59951',
  '#F5B787',
  '#666666',
  '#BFBFBF',
  '#E6E6E6',
  '#245677',
  '#2D85CB',
  '#5BADE6',
  '#41A3A8',
  '#41C0C7',
  '#89E1E6',
  '#347564',
  '#42947F',
  '#71C9B3',
  '#B31312',
  '#CD3736',
  '#D97777',
  '#DE7422',
  '#F59951',
  '#F5B787',
  '#666666',
  '#BFBFBF',
  '#E6E6E6'
]

export default {
  components: {
    DoughnutChart
  },
  props: {
    dashboardData: {
      type: Array,
      default: null
    },
    height: {
      type: String,
      default: '400px'
    },
    countNoCombinatories: { // Count lack of combinatory as 'unkown'
      type: Boolean,
      default () {
        return false
      }
    },
    displayControls: { // Count lack of combinatory as 'unkown'
      type: Boolean,
      default () {
        return true
      }
    },
    defaultDisplayedData: {
      type: String,
      default () {
        return 'byLabels'
      }
    }
  },
  data () {
    return {
      plugins: [ChartDataLabels],
      dataToDisplay: this.defaultDisplayedData,
      selectDataOptions: [
        {
          label: 'Par étiquettes énergie',
          value: 'byLabels'
        },
        {
          label: 'Par étiquettes énergie et numéro',
          value: 'byLabelsAndNumbers'
        },
        {
          label: "Par type d'isolation",
          value: 'byInsulation'
        },
        {
          label: "Par type d'isolation et résistance thermique des murs",
          value: 'byInsulationAndValues'
        },
        {
          label: 'Par type de ventilation',
          value: 'byVentilation'
        },
        {
          label: 'Par résistance thermique de plancher',
          value: 'byFloorValue'
        },
        {
          label: 'Par résistance thermique de toiture',
          value: 'byRoofValue'
        },
        {
          label: 'Par Uw des ouvrants',
          value: 'byVentsValue'
        },
        {
          label: 'Par type de chauffage',
          value: 'byHeating'
        },
        {
          label: 'Par étanchéité',
          value: 'byAirtightness'
        }
      ],
      chartOptions: {
        plugins: {
          datalabels: {
            formatter: function (value, context) {
              return value
              // return context.dataset.labels[context.dataIndex] + ':' + value
            },
            color: '#ffffff',
            font: {
              weight: 'bold',
              size: 12
            }
          }
        },
        responsive: true,
        maintainAspectRatio: false
      }
    }
  },
  computed: {
    barStyle () {
      return {
        height: this.height,
        position: 'relative'
      }
    },
    leadCreationHistogramData () {
      let plansData = {
        byLabels: {},
        byLabelsAndNumbers: {},
        byInsulation: {},
        byInsulationAndValues: {},
        byFloorValue: {},
        byRoofValue: {},
        byVentsValue: {},
        byHeating: {},
        byVentilation: {},
        byAirtightness: {}
      }
      this.dashboardData.forEach(lead => {
        if (lead.passport !== null && lead.passport.renovationPlans && lead.passport.renovationPlans.length > 0 &&
                getLatestRenovationPlan(lead.passport.renovationPlans).improvement &&
                getLatestRenovationPlan(lead.passport.renovationPlans).improvement.combinatory) {
          let combinatory = getLatestRenovationPlan(lead.passport.renovationPlans).improvement.combinatory
          this.handleLabelsAndNumber(plansData, combinatory)
          this.handleInsulationAndValues(plansData, combinatory)
          this.handleStandardValues(plansData, combinatory, 'floorValue', 'byFloorValue')
          this.handleStandardValues(plansData, combinatory, 'roofValue', 'byRoofValue')
          this.handleStandardValues(plansData, combinatory, 'ventsValue', 'byVentsValue')
          this.handleStandardValues(plansData, combinatory, 'heatingType', 'byHeating')
          this.handleStandardValues(plansData, combinatory, 'ventilationType', 'byVentilation')
          this.handleStandardValues(plansData, combinatory, 'airtightness', 'byAirtightness', translateAirtighness)
        } else if (this.countNoCombinatories) {
          Object.values(plansData).forEach(value => {
            value.unknown = value.unknown + 1 || 1
          })
        }
      })
      let chartData = this.getChartData(plansData, this.dataToDisplay)
      return {
        labels: chartData.labels.map(label => label.replace('unknown', 'N/A')),
        datasets: chartData.datasets
      }
    }
  },
  mounted () {
    this.dataToDisplay = this.defaultDisplayedData
  },
  methods: {
    getChartData (plansData, dataToDisplay) {
      if (Object.keys(plansData).length < 1) {
        return []
      }

      // build a list of ALL labels, by alphabetical order
      let labelList = {}
      labelList[dataToDisplay] = []
      labelList[dataToDisplay] = labelList[dataToDisplay].concat(Object.keys(plansData[dataToDisplay]).filter(function (item) {
        return !labelList[dataToDisplay].includes(item)
      })).sort()

      let datasets = [{
        labels: labelList[dataToDisplay],
        backgroundColor: graphColors,
        data: labelList[dataToDisplay].map(label => plansData[dataToDisplay][label] || 0)
      }]

      return {
        labels: labelList[dataToDisplay],
        datasets: datasets.reverse()
      }
    },
    handleLabelsAndNumber (plansData, combinatory) {
      let combinatoryLabel = combinatory.level === null ? 'unknown' : combinatory.level
      let combinatoryNumber = combinatory.number === null ? '' : '-' + ('0' + combinatory.number).substr(-2) // Adding a '0' to keep the alphabetical order when sorting from 1 to 10 and not have 0, 1, 10, 2, etc.
      plansData.byLabels[combinatoryLabel] = plansData.byLabels[combinatoryLabel] + 1 || 1
      plansData.byLabelsAndNumbers[combinatoryLabel + combinatoryNumber] = plansData.byLabelsAndNumbers[combinatoryLabel + combinatoryNumber] + 1 || 1
    },
    handleInsulationAndValues (plansData, combinatory) {
      let combinatoryInsulation = combinatory.insulation === null ? 'unknown' : translateInsulationType(combinatory.insulation)
      let combinatoryWallsValue = combinatory.wallsValue === null ? '' : '-' + combinatory.wallsValue
      plansData.byInsulation[combinatoryInsulation] = plansData.byInsulation[combinatoryInsulation] + 1 || 1
      plansData.byInsulationAndValues[combinatoryInsulation + combinatoryWallsValue] = plansData.byInsulationAndValues[combinatoryInsulation + combinatoryWallsValue] + 1 || 1
    },
    handleStandardValues (plansData, combinatory, valueKey, destinationKey, translate) {
      let combinatoryValue = combinatory[valueKey] === null ? 'unknown' : typeof translate === 'function' ? translate(combinatory[valueKey]) : combinatory[valueKey]
      plansData[destinationKey][combinatoryValue] = plansData[destinationKey][combinatoryValue] + 1 || 1
    }
  }
}
</script>

<style lang="stylus"></style>
