<template>
  <stacked-bar-chart :options="chartOptions" :styles="barStyle" :chart-data="leadCreationHistogramData"></stacked-bar-chart>
</template>

<script>
import StackedBarChart from './GenericStackedBarChart.js'
import {getLatestRenovationPlan, translateImprovementName} from './chart-utils'
import ChartDataLabels from 'chartjs-plugin-datalabels'

const possibleImprovements = ['walls', 'floor', 'roof', 'vents', 'heating', 'ventilation', 'thermostat', 'dhw', 'airtightness']
const barColors = [
  '#245677',
  '#2D85CB',
  '#5BADE6',
  '#41A3A8',
  '#41C0C7',
  '#89E1E6',
  '#347564',
  '#42947F',
  '#71C9B3',
  '#B31312',
  '#CD3736',
  '#D97777',
  '#DE7422',
  '#F59951',
  '#F5B787',
  '#666666',
  '#BFBFBF',
  '#E6E6E6'
]

export default {
  components: {
    StackedBarChart
  },
  props: {
    height: {
      type: String,
      default: '200px'
    },
    dashboardData: {
      type: Array,
      default: null
    }
  },
  data () {
    return {
      plugins: [ChartDataLabels],
      chartOptions: {
        plugins: {
          datalabels: {
            color: '#ffffff',
            font: {
              weight: 'bold',
              size: 12
            }
          }
        },
        legend: { display: false },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            maxBarThickness: 50
          }],
          yAxes: [{
            ticks: {min: 0},
            display: false
          }]
        }
      }
    }
  },
  computed: {
    barStyle () {
      return {
        height: this.height,
        position: 'relative'
      }
    },
    leadCreationHistogramData () {
      let passportByDates = {}
      this.dashboardData.forEach(lead => {
        if (passportByDates['selectedImprov'] === void 0) {
          passportByDates['selectedImprov'] = {
            walls: 0,
            floor: 0,
            roof: 0,
            vents: 0,
            heating: 0,
            ventilation: 0,
            thermostat: 0,
            dhw: 0,
            airtightness: 0
          }
        }
        if (
          lead.passport &&
          lead.passport.renovationPlans &&
          lead.passport.renovationPlans.length > 0 &&
          getLatestRenovationPlan(lead.passport.renovationPlans).improvement
        ) {
          const improvement = getLatestRenovationPlan(lead.passport.renovationPlans).improvement
          possibleImprovements.forEach(improvementName => {
            if (improvement[`${improvementName}Selected`]) {
              passportByDates['selectedImprov'][improvementName] += 1
            }
          })
        }
      })
      return {
        labels: possibleImprovements.map((improvementName) => translateImprovementName(improvementName)),
        datasets: [{
          label: 'Nombre de passeport(s) avec ce lot en première étape',
          backgroundColor: barColors,
          data: possibleImprovements.map((improvementName, i) => Object.values(passportByDates).map(dateSet => dateSet[improvementName]))
        }]
      }
      // return {
      //   labels: ['Améliorations selectionnées en étape 1'],
      //   datasets: possibleImprovements.map((improvementName, i) => {
      //     return {
      //       label: translateImprovementName(improvementName),
      //       backgroundColor: barColors[i],
      //       data: Object.values(passportByDates).map(dateSet => dateSet[improvementName])
      //     }
      //   })
      // }
    }
  }
}
</script>

<style lang="stylus"></style>
