<template>
  <stacked-bar-chart :options="chartOptions" :styles="barStyle" :chart-data="leadCreationHistogramData"></stacked-bar-chart>
</template>

<script>
import StackedBarChart from './GenericStackedBarChart.js'
import {getLatestRenovationPlan} from './chart-utils'
import ChartDataLabels from 'chartjs-plugin-datalabels'

const possibleImprovements = ['walls', 'floor', 'roof', 'vents', 'heating', 'ventilation', 'thermostat', 'dhw', 'airtightness']
const barColors = [
  '#245677',
  '#2D85CB',
  '#5BADE6',
  '#41A3A8',
  '#41C0C7',
  '#89E1E6',
  '#347564',
  '#42947F',
  '#71C9B3',
  '#B31312',
  '#CD3736',
  '#D97777',
  '#DE7422',
  '#F59951',
  '#F5B787',
  '#666666',
  '#BFBFBF',
  '#E6E6E6'
]

export default {
  components: {
    StackedBarChart
  },
  props: {
    height: {
      type: String,
      default: '200px'
    },
    dashboardData: {
      type: Array,
      default: null
    },
    countNoCombinatories: { // Count lack of combinatory as 'unkown'
      type: Boolean,
      default () {
        return false
      }
    }
  },
  data () {
    return {
      plugins: [ChartDataLabels],
      chartOptions: {
        plugins: {
          datalabels: {
            color: '#ffffff',
            font: {
              weight: 'bold',
              size: 12
            }
          }
        },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            maxBarThickness: 50
          }],
          yAxes: [{
            display: false
          }]
        },
        legend: { display: false }
      }
    }
  },
  computed: {
    barStyle () {
      return {
        height: this.height,
        position: 'relative'
      }
    },
    leadCreationHistogramData () {
      let improvementsData = {...Array(possibleImprovements.length + 1).fill().map((_, i) => 0)}
      this.dashboardData.forEach(lead => {
        if (lead.passport && lead.passport.renovationPlans && lead.passport.renovationPlans.length > 0 &&
                getLatestRenovationPlan(lead.passport.renovationPlans).improvement) {
          let nbImprov = this.getNbImprovSelected(getLatestRenovationPlan(lead.passport.renovationPlans).improvement)
          improvementsData[nbImprov] += 1
        } else if (this.countNoCombinatories) {
          improvementsData[0] += 1
        }
      })
      return {
        labels: Object.keys(improvementsData).map(nbImprov => nbImprov + ' lot' + (nbImprov > 1 ? 's' : '')),
        datasets: [{
          label: 'Nombre de passeports(s)',
          backgroundColor: barColors,
          data: Object.values(improvementsData)
        }]
      }
    }
  },
  methods: {
    getNbImprovSelected (improvements) {
      let result = 0
      if (!improvements) {
        return result
      }
      possibleImprovements.forEach(improvName => {
        if (improvements[improvName + 'Selected']) {
          result += 1
        }
      })
      return result
    }
  }
}
</script>

<style lang="stylus"></style>
